In [1]:
import get_data_api as gda
import data_enrichment as de
import dim_tables as dim

import clean as cl
import transformation as tr
import create_bbdd as db

import pandas as pd

In [2]:
#get data from API
raw_users = gda.get_all_data('https://jsonplaceholder.typicode.com/users')

In [3]:
#get bookings data
raw_bookings = pd.read_csv('raw_bookings.csv', sep=';')

In [4]:
#create copy of raw_users
users_complete = raw_users.copy()

-Data enrichment-

users data

In [5]:
#enrich the user table to match the bookings table
users_complete = de.random_users(43562, users_complete)

In [6]:
#create copy of raw_users_complete
raw_users_complete = users_complete.copy()

In [7]:
#create companies id in users df
de.create_id(raw_users_complete, 'company_id')

In [8]:
#keep only 60% of companies
de.only_some_records(0.4, raw_users_complete, 'company_id', 'company')

In [ ]:
raw_users_complete

Bookings data

In [9]:
#add booking codes to all bookings
raw_bookings = de.create_booking_id(raw_bookings)

In [11]:
#add users_id to all bookings
de.create_id(raw_bookings, 'user_id', len(raw_users_complete))

In [13]:
raw_bookings

,BOOKING_CODE,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,user_id
0,B6672DUN8SA8XFYS8,Resort Hotel,0,109,2016,January,1,0,1,2,...,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016,14323
1,UNH8DU9G68DLD75ZE,Resort Hotel,0,109,2016,January,1,0,1,2,...,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016,42058
2,LW071HH12SJP2HGVR,Resort Hotel,1,2,2016,January,1,0,1,2,...,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016,33010
3,99R3VZSB557MA8NW6,Resort Hotel,0,88,2016,January,1,0,2,2,...,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016,39219
4,3RPE6G4U4K8E4RE01,Resort Hotel,1,20,2016,January,1,0,2,2,...,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015,23428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,MU63Z7U60KARKJ6MR,City Hotel,0,17,2016,December,30,2,5,2,...,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017,26123
56703,LKENVXAZ8NSXDHR99,City Hotel,0,177,2016,December,30,2,5,0,...,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017,18934
56704,37794Z4T0BVCGPNG1,City Hotel,0,107,2016,December,31,2,5,2,...,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017,34783
56705,XD401A048HV77GA9J,City Hotel,0,310,2016,December,27,2,10,2,...,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017,30933
56706,4RD2MKE00YBGV38VC,City Hotel,0,310,2016,December,27,2,10,2,...,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017,38844

In [ ]:
#save raw data