In [1]:
import get_data_api as gda
import data_enrichment as de
import dim_tables as dim

import clean as cl
import transformation as tr
import create_bbdd as db

import pandas as pd

In [2]:
#get data from API
#raw_users = gda.get_all_data('https://jsonplaceholder.typicode.com/users')

In [3]:
#get bookings data
#raw_bookings = pd.read_csv('raw_bookings.csv', sep=';')

In [4]:
#create copy of raw_users
#users_complete = raw_users.copy()

-Data enrichment-

Users data

In [5]:
#enrich the user table to match the bookings table
#users_complete = de.random_users(43562, users_complete)

In [6]:
#create copy of raw_users_complete
#raw_users_complete = users_complete.copy()

In [7]:
#create companies id in users df
#de.create_id(raw_users_complete, 'company_id')

In [8]:
#keep only 60% of companies
#de.only_some_records(0.4, raw_users_complete, 'company_id', 'company')

In [9]:
#raw_users_complete

Bookings data

In [10]:
#add booking codes to all bookings
#raw_bookings = de.create_booking_id(raw_bookings)

In [11]:
#add users_id to all bookings
#de.create_id(raw_bookings, 'user_id', len(raw_users_complete))

In [12]:
#raw_bookings

In [13]:
#save raw data
#raw_bookings.to_csv('raw_bookings_extended.csv', index=False)

#raw_users_complete.to_csv('raw_users_extended.csv', index=False)

In [14]:
raw_bookings = pd.read_csv('raw_bookings_extended.csv')

In [15]:
raw_users_complete = pd.read_csv('raw_users_extended.csv')

-Create dimension tables-

In [16]:
#Create dimension agents
DIM_AGENTS = dim.create_dim_agent_table()

In [17]:
#Create dimension countries
DIM_COUNTRIES = dim.create_dim_country_table()

In [18]:
#Create dimension meals
DIM_MEALS = dim.create_dim_meal_table()

In [19]:
#Create dimension hotels
DIM_HOTELS = dim.create_dim_hotel_table()

In [89]:
#Create dimension users without transformation
DIM_USERS_WT = dim.create_dim_users_table(raw_users_complete)

In [90]:
#Create dimension companies without transformation
DIM_COMPANIES_WT = dim.create_dim_companies_table(raw_users_complete)

-Transformation-

Users

In [91]:
DIM_USERS_WT

,id,name,username,email,address,phone,website
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info
...,...,...,...,...,...,...,...
43567,43568,Pamela Jackson,rick55,harrisonfaith@example.net,"{'street': 'Andre Estate', 'suite': 'Apt. 101'...",293-750-8683x8919,https://www.harvey.info/
43568,43569,Erika Lester,matthew87,villanuevaleonard@example.net,"{'street': 'Mallory Locks', 'suite': 'Suite 20...",213.673.1020x51817,http://morgan.info/
43569,43570,Rebecca Sanchez,jenniferclark,duranthomas@example.com,"{'street': 'Jason Rest', 'suite': 'Room 303', ...",(294)525-0435x698,https://graham-smith.org/
43570,43571,Mrs. Michelle Robinson,xware,kevin04@example.org,"{'street': 'Lopez Centers', 'suite': 'Room 303...",2855253338,http://romero.com/
43571,43572,Emily Martin,valerieperkins,paul32@example.org,"{'street': 'Adam Branch', 'suite': 'Apt. 101',...",936-708-5212,http://acevedo.net/

In [23]:
#delete unnecessary columns
DIM_USERS = tr.delete_columns(DIM_USERS_WT, ['username'])

In [24]:
#lowercase some columns
DIM_USERS = tr.lowercase(DIM_USERS, ['email', 'website'])

In [25]:
DIM_USERS =  tr.capitalize_rename_columns(DIM_USERS, ['USER_ID', 'USER_NAME', 'USER_EMAIL','USER_ADDRESS', 'USER_PHONE', 'USER_WEBSITE'])

In [26]:
DIM_USERS

,USER_ID,USER_NAME,USER_EMAIL,USER_ADDRESS,USER_PHONE,USER_WEBSITE
0,1,Leanne Graham,sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org
1,2,Ervin Howell,shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net
2,3,Clementine Bauch,nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info
3,4,Patricia Lebsack,julianne.oconner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz
4,5,Chelsey Dietrich,lucio_hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info
...,...,...,...,...,...,...
43567,43568,Pamela Jackson,harrisonfaith@example.net,"{'street': 'Andre Estate', 'suite': 'Apt. 101'...",293-750-8683x8919,https://www.harvey.info/
43568,43569,Erika Lester,villanuevaleonard@example.net,"{'street': 'Mallory Locks', 'suite': 'Suite 20...",213.673.1020x51817,http://morgan.info/
43569,43570,Rebecca Sanchez,duranthomas@example.com,"{'street': 'Jason Rest', 'suite': 'Room 303', ...",(294)525-0435x698,https://graham-smith.org/
43570,43571,Mrs. Michelle Robinson,kevin04@example.org,"{'street': 'Lopez Centers', 'suite': 'Room 303...",2855253338,http://romero.com/
43571,43572,Emily Martin,paul32@example.org,"{'street': 'Adam Branch', 'suite': 'Apt. 101',...",936-708-5212,http://acevedo.net/

Companies

In [35]:
DIM_COMPANIES_WT

                                                 company  company_id
0      {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...      9140.0
1                                                    NaN         NaN
2                                                    NaN         NaN
3      {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...      1665.0
4      {'name': 'Keebler LLC', 'catchPhrase': 'User-c...     12728.0
...                                                  ...         ...
43567                                                NaN         NaN
43568  {'name': 'Hamilton-Gonzales', 'catchPhrase': '...     10057.0
43569                                                NaN         NaN
43570                                                NaN         NaN
43571                                                NaN         NaN

[43572 rows x 2 columns]

In [94]:
#Delete rows containing NaN values
DIM_COMPANIES = tr.drop_nan_rows(DIM_COMPANIES_WT)

In [38]:
#normalize company column
DIM_COMPANIES = tr.normalize_column(DIM_COMPANIES, ['company'])

In [83]:
DIM_COMPANIES

                                                 company  company_id
0      {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...      9140.0
3      {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...      1665.0
4      {'name': 'Keebler LLC', 'catchPhrase': 'User-c...     12728.0
8      {'name': 'Yost and Sons', 'catchPhrase': 'Swit...     16007.0
9      {'name': 'Hoeger LLC', 'catchPhrase': 'Central...     13993.0
...                                                  ...         ...
43562  {'name': 'Wilson and Sons', 'catchPhrase': 'Ne...     22925.0
43564  {'name': 'Walter Inc', 'catchPhrase': 'Multi-l...      6595.0
43565  {'name': 'Bowman-Becker', 'catchPhrase': 'Vers...     15094.0
43566  {'name': 'Chavez Ltd', 'catchPhrase': 'Enhance...     13226.0
43568  {'name': 'Hamilton-Gonzales', 'catchPhrase': '...     10057.0

[26144 rows x 2 columns]

In [98]:
def normalize_column(df, list_columns):
        
    '''
        Function to normalize several columns of a dataFrame where the parameters to be passed are:
        df = pandas DataFrame
        list_columns = a list from strings referals to columns of df above
    '''
    for i in list_columns:
        
        df[i].apply(json.loads)

        #normalize column
        df_column = pd.json_normalize(df[i])
        #union dfs
        df_concat = pd.concat([df, df_column], axis=1)
        #delete column from original df
        df_complete = df_concat.drop(i, axis=1)
    
    return df_complete

In [107]:
def convertir_a_diccionario(cadena_json):
    return json.loads(cadena_json)

In [108]:
def corregir_comillas(json_string):
    try:
        # Intenta cargar la cadena JSON
        json_dict = json.loads(json_string)
        # Convierte el diccionario nuevamente a cadena con comillas dobles
        corrected_json = json.dumps(json_dict)
        return corrected_json
    except (json.JSONDecodeError, TypeError):
        # Si hay un error al decodificar, devuelve la cadena original
        return json_string

In [110]:
# Utilizar .loc para evitar SettingWithCopyWarning
DIM_COMPANIES['company'] = DIM_COMPANIES['company'].apply(lambda x: corregir_comillas(x) if pd.notna(x) else x)

/var/folders/rl/yz92x8t11xdb1nzx_yt5x87h0000gn/T/ipykernel_30906/2839618298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DIM_COMPANIES['company'] = DIM_COMPANIES['company'].apply(lambda x: corregir_comillas(x) if pd.notna(x) else x)

In [111]:
DIM_COMPANIES['company']

0        {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
3        {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4        {'name': 'Keebler LLC', 'catchPhrase': 'User-c...
8        {'name': 'Yost and Sons', 'catchPhrase': 'Swit...
9        {'name': 'Hoeger LLC', 'catchPhrase': 'Central...
                               ...
43562    {'name': 'Wilson and Sons', 'catchPhrase': 'Ne...
43564    {'name': 'Walter Inc', 'catchPhrase': 'Multi-l...
43565    {'name': 'Bowman-Becker', 'catchPhrase': 'Vers...
43566    {'name': 'Chavez Ltd', 'catchPhrase': 'Enhance...
43568    {'name': 'Hamilton-Gonzales', 'catchPhrase': '...
Name: company, Length: 26144, dtype: object