In [176]:
import pandas as pd
import requests
from faker import Faker
import re
import phonenumbers
import numpy as np

import sqlite3

In [1]:
!pip install phonenumbers

Collecting phonenumbers
  Downloading phonenumbers-8.13.26-py2.py3-none-any.whl (2.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 17.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: phonenumbers
Successfully installed phonenumbers-8.13.26

In [87]:
#Extract data from API

response= requests.get('https://jsonplaceholder.typicode.com/users')
users = response.json()

In [88]:
users_df = pd.DataFrame(users)
users_df_copy = users_df.copy()
users_df

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."

In [74]:
#normalize address column
df_address = pd.json_normalize(users_df['address'])

#union of the two dataframes
users_df_test = pd.concat([users_df, df_address], axis=1)

users_df_test
df_resultado = users_df_test.drop('address', axis=1)

df_resultado

,id,name,username,email,phone,website,company,street,suite,city,zipcode,geo.lat,geo.lng
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...",Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ...",Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '...",Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config...",Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im...",Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit...",Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central...",Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232

In [5]:
users_test = pd.read_csv('users_extended.csv')
users_test

,USER_ID,USER_NAME,USER_USERNAME,USER_EMAIL,USER_PHONE,WEBSITE,USER_STREET,USER_SUITE,USER_CITY,USER_ZIPCODE,USER_LAT,USER_LNG
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.315900,81.149600
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.950900,-34.461800
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.610200,-47.065300
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.457200,-164.299000
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.812900,62.534200
...,...,...,...,...,...,...,...,...,...,...,...,...
55005,55006,Alexander Hughes,hamiltonthomas,martinezvictoria@example.net,846.209.1759x957,https://www.campbell.com/,525 Jackson Port,Apt. 878,North Stephanieton,19518,39.375597,97.178865
55006,55007,Paul Kim,robertrussell,staffordwilliam@example.net,325.916.7235x093,http://www.townsend.info/,526 Dennis Harbor Apt. 889,Apt. 691,New Marystad,01913,-22.499807,34.631837
55007,55008,Elizabeth Brewer,mercadolisa,charles49@example.org,001-804-520-9188x5650,http://brown.com/,149 Figueroa Walks Apt. 711,Suite 269,Lake Amandaland,57758,-25.364915,-140.349789
55008,55009,Amanda Underwood,wsimmons,jennifer14@example.org,625-816-9453,https://dean-jones.com/,8959 Karen Glen,Suite 848,West Brent,45819,-5.524719,-176.450230
55009,55010,Erica Newman,angel66,cannonandrea@example.com,+1-377-741-0061x797,https://www.robbins-ford.com/,4986 Courtney Neck Suite 280,Suite 431,Port Jenniferstad,06610,46.288657,-1.185294

In [25]:


# Program to get timezone a phone number 
  
import phonenumbers 
from phonenumbers import timezone 
  
# Parsing String to Phone number 
phoneNumber = phonenumbers.parse("+919876543210") 
print(len(str(phoneNumber.national_number)))
  
# Pass the parsed phone number in below function 
timeZone = timezone.time_zones_for_number(phoneNumber) 
  
# It print the timezone of a phonenumber 
print(timeZone)

10
('Asia/Calcutta',)

In [26]:
def format_phone_number(phone_number):
    try:
        # Parse el número de teléfono utilizando la biblioteca phonenumbers
        parsed_number = phonenumbers.parse(phone_number, None)

        # Obtenga el formato nacional del número de teléfono
        national_format = phonenumbers.format_number(parsed_number, phonenumbers.PhoneNumberFormat.NATIONAL)

        # Compruebe las condiciones según las instrucciones proporcionadas
        if len(str(parsed_number.national_number)) == 9:
            # Números de teléfono de 9 dígitos: guardar tal cual
            return phone_number
        elif len(str(parsed_number.national_number)) == 10:
            if str(parsed_number.national_number)[0] == '1':
                # Números de teléfono de 10 dígitos que comienzan con 1: formato con paréntesis
                return national_format
            else:
                # Números de teléfono de 10 dígitos que no comienzan con 1: formato con paréntesis
                return national_format
        elif len(str(parsed_number.national_number)) == 11:
            if str(parsed_number.national_number)[0] == '1':
                # Números de teléfono de 11 dígitos que comienzan con 1: quitar el primer dígito y formato con paréntesis
                return national_format[1:]
            else:
                # Números de teléfono de 11 dígitos que no comienzan con 1: guardar tal cual
                return phone_number
        else:
            # Otros casos: guardar tal cual
            return phone_number
    except phonenumbers.NumberParseException:
        # Si no se puede analizar el número de teléfono, guárdelo tal cual
        return phone_number

In [27]:
users_test['USER_PHONE_FORMATTED'] = users_test['USER_PHONE'].apply(format_phone_number)

# Imprimir el DataFrame resultante
print(users_test)

       USER_ID         USER_NAME   USER_USERNAME  \
0            1     Leanne Graham            Bret
1            2      Ervin Howell       Antonette
2            3  Clementine Bauch        Samantha
3            4  Patricia Lebsack        Karianne
4            5  Chelsey Dietrich          Kamren
...        ...               ...             ...
55005    55006  Alexander Hughes  hamiltonthomas
55006    55007          Paul Kim   robertrussell
55007    55008  Elizabeth Brewer     mercadolisa
55008    55009  Amanda Underwood        wsimmons
55009    55010      Erica Newman         angel66

                         USER_EMAIL             USER_PHONE  \
0                 Sincere@april.biz  1-770-736-8031 x56442
1                 Shanna@melissa.tv    010-692-6593 x09125
2                Nathan@yesenia.net         1-463-123-4447
3         Julianne.OConner@kory.org      493-170-9623 x156
4          Lucio_Hettinger@annie.ca          (254)954-1289
...                             ...                    ...
55005  martinezvictoria@example.net       846.209.1759x957
55006   staffordwilliam@example.net       325.916.7235x093
55007         charles49@example.org  001-804-520-9188x5650
55008        jennifer14@example.org           625-816-9453
55009      cannonandrea@example.com    +1-377-741-0061x797

                             WEBSITE                   USER_STREET USER_SUITE  \
0                      hildegard.org                   Kulas Light   Apt. 556
1                      anastasia.net                 Victor Plains  Suite 879
2                        ramiro.info             Douglas Extension  Suite 847
3                           kale.biz                   Hoeger Mall   Apt. 692
4                       demarco.info                  Skiles Walks  Suite 351
...                              ...                           ...        ...
55005      https://www.campbell.com/              525 Jackson Port   Apt. 878
55006      http://www.townsend.info/    526 Dennis Harbor Apt. 889   Apt. 691
55007              http://brown.com/   149 Figueroa Walks Apt. 711  Suite 269
55008        https://dean-jones.com/               8959 Karen Glen  Suite 848
55009  https://www.robbins-ford.com/  4986 Courtney Neck Suite 280  Suite 431

                USER_CITY USER_ZIPCODE   USER_LAT    USER_LNG  \
0             Gwenborough   92998-3874 -37.315900   81.149600
1             Wisokyburgh   90566-7771 -43.950900  -34.461800
2           McKenziehaven   59590-4157 -68.610200  -47.065300
3             South Elvis   53919-4257  29.457200 -164.299000
4              Roscoeview        33263 -31.812900   62.534200
...                   ...          ...        ...         ...
55005  North Stephanieton        19518  39.375597   97.178865
55006        New Marystad        01913 -22.499807   34.631837
55007     Lake Amandaland        57758 -25.364915 -140.349789
55008          West Brent        45819  -5.524719 -176.450230
55009   Port Jenniferstad        06610  46.288657   -1.185294

          USER_PHONE_FORMATTED
0        1-770-736-8031 x56442
1          010-692-6593 x09125
2               1-463-123-4447
3            493-170-9623 x156
4                (254)954-1289
...                        ...
55005         846.209.1759x957
55006         325.916.7235x093
55007    001-804-520-9188x5650
55008             625-816-9453
55009  (377) 741-0061 ext. 797

[55010 rows x 13 columns]

In [28]:
users_test

,USER_ID,USER_NAME,USER_USERNAME,USER_EMAIL,USER_PHONE,WEBSITE,USER_STREET,USER_SUITE,USER_CITY,USER_ZIPCODE,USER_LAT,USER_LNG,USER_PHONE_FORMATTED
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.315900,81.149600,1-770-736-8031 x56442
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.950900,-34.461800,010-692-6593 x09125
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.610200,-47.065300,1-463-123-4447
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.457200,-164.299000,493-170-9623 x156
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.812900,62.534200,(254)954-1289
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55005,55006,Alexander Hughes,hamiltonthomas,martinezvictoria@example.net,846.209.1759x957,https://www.campbell.com/,525 Jackson Port,Apt. 878,North Stephanieton,19518,39.375597,97.178865,846.209.1759x957
55006,55007,Paul Kim,robertrussell,staffordwilliam@example.net,325.916.7235x093,http://www.townsend.info/,526 Dennis Harbor Apt. 889,Apt. 691,New Marystad,01913,-22.499807,34.631837,325.916.7235x093
55007,55008,Elizabeth Brewer,mercadolisa,charles49@example.org,001-804-520-9188x5650,http://brown.com/,149 Figueroa Walks Apt. 711,Suite 269,Lake Amandaland,57758,-25.364915,-140.349789,001-804-520-9188x5650
55008,55009,Amanda Underwood,wsimmons,jennifer14@example.org,625-816-9453,https://dean-jones.com/,8959 Karen Glen,Suite 848,West Brent,45819,-5.524719,-176.450230,625-816-9453
55009,55010,Erica Newman,angel66,cannonandrea@example.com,+1-377-741-0061x797,https://www.robbins-ford.com/,4986 Courtney Neck Suite 280,Suite 431,Port Jenniferstad,06610,46.288657,-1.185294,(377) 741-0061 ext. 797

In [36]:
import pandas as pd
from faker import Faker

# Supongamos que ya tienes un DataFrame llamado df_companies con las columnas mencionadas

# Crear un ejemplo de DataFrame
data_companies = {
    'USER_ID': range(1, 11),
    'COMPANY_NAME': ['Romaguera-Crona', 'Deckow-Crist', 'Romaguera-Jacobson', 'Robel-Corkery', 'Keebler LLC', 'Considine-Lockman', 'Johns Group', 'Abernathy Group', 'Yost and Sons', 'Hoeger LLC'],
    'COMPANY_CATCHPHRASE': ['Multi-layered client-server neural-net', 'Proactive didactic contingency', 'Face to face bifurcated interface', 'Multi-tiered zero tolerance productivity', 'User-centric fault-tolerant solution', 'Synchronised bottom-line interface', 'Configurable multimedia task-force', 'Implemented secondary concept', 'Switchable contextually-based project', 'Centralized empowering task-force'],
    'COMPANY_BS': ['harness real-time e-markets', 'synergize scalable supply-chains', 'e-enable strategic applications', 'transition cutting-edge web services', 'revolutionize end-to-end systems', 'e-enable innovative applications', 'generate enterprise e-tailers', 'e-enable extensible e-tailers', 'aggregate real-time technologies', 'target end-to-end models']
}

df_companies = pd.DataFrame(data_companies)

# Crear un objeto Faker
fake = Faker()

# Obtener 30,000 user_id únicos entre 1 y 30000
unique_user_ids = set()
while len(unique_user_ids) < 45:
    unique_user_ids.add(fake.random_int(min=11, max=60))

# Crear 30,000 registros adicionales con user_id únicos
for user_id in unique_user_ids:
    # Generar datos aleatorios usando Faker
    company_name = fake.company()
    company_catchphrase = fake.catch_phrase()
    company_bs = fake.bs()

    # Crear un nuevo registro
    new_record = {
        'USER_ID': user_id,
        'COMPANY_NAME': company_name,
        'COMPANY_CATCHPHRASE': company_catchphrase,
        'COMPANY_BS': company_bs
    }
    
    new_company_df = pd.DataFrame([new_record])

    df_companies = pd.concat([df_companies, new_company_df], ignore_index=True)


# Imprimir el DataFrame resultante
print(df_companies)

    USER_ID                    COMPANY_NAME  \
0         1                 Romaguera-Crona
1         2                    Deckow-Crist
2         3              Romaguera-Jacobson
3         4                   Robel-Corkery
4         5                     Keebler LLC
5         6               Considine-Lockman
6         7                     Johns Group
7         8                 Abernathy Group
8         9                   Yost and Sons
9        10                      Hoeger LLC
10       12                    Blake-Wright
11       13                     Coleman Ltd
12       14  Delacruz, Sweeney and Mcdonald
13       15   Navarro, Clayton and Martinez
14       16                      Fowler Ltd
15       17                    Garrison Inc
16       18                       Parks LLC
17       19                Martinez-Freeman
18       20       Anderson, Combs and Moran
19       21                      Peters LLC
20       22                 Anderson-Martin
21       23               Henderson-Barajas
22       24                     Garcia-Cobb
23       25                    Malone Group
24       26                      Miller LLC
25       27       Davis, Edwards and Wagner
26       28    Davidson, Graves and Gilbert
27       29                   Hale-Mcknight
28       30                  Giles and Sons
29       31                    Shepherd PLC
30       32     Carroll, Johnson and Willis
31       33                     Wallace LLC
32       34                 Anderson-Kelley
33       35                    Maddox-Walsh
34       36                   Contreras PLC
35       37       Porter, Rose and Morrison
36       38                 Mccann and Sons
37       39                    Kennedy-Ford
38       40         Brown, Jordan and Smith
39       41                      Bryant Inc
40       42    Ramirez, Strong and Saunders
41       43                    Lee and Sons
42       46                        Dunn Inc
43       47                  Rodriguez-Pena
44       49                      Barr-Hines
45       51                   Perez-Spencer
46       52                   Blair-Sanders
47       53                    Gonzalez LLC
48       54                      Brewer PLC
49       55                  Burton-Barrera
50       56         Ayers, Torres and Keith
51       57    Moore, Donovan and Henderson
52       58                  Stephens Group
53       59      Horton, Goodwin and Bailey
54       60                   Morales-White

                             COMPANY_CATCHPHRASE  \
0         Multi-layered client-server neural-net
1                 Proactive didactic contingency
2              Face to face bifurcated interface
3       Multi-tiered zero tolerance productivity
4           User-centric fault-tolerant solution
5             Synchronised bottom-line interface
6             Configurable multimedia task-force
7                  Implemented secondary concept
8          Switchable contextually-based project
9              Centralized empowering task-force
10                    Digitized local complexity
11          User-centric logistical secured line
12                     Diverse cohesive leverage
13             Up-sized content-based projection
14   Adaptive next generation Local Area Network
15                  Organic empowering benchmark
16       Decentralized systemic customer loyalty
17                De-engineered exuding strategy
18         Persevering 24hour Local Area Network
19             Horizontal composite productivity
20    Fundamental human-resource instruction set
21          Team-oriented composite architecture
22               Extended grid-enabled moderator
23          Fundamental secondary knowledge user
24        Synergistic human-resource methodology
25       Function-based multi-tasking encryption
26       Multi-lateral client-driven application
27                    Organic full-range project
28              Front-line motivating initiative
29        Re-engineered object-oriented attitude
30        Enterprise-wide 5thgeneration hardware
31         Ameliorated asymmetric implementation
32    Programmable attitude-oriented application
33          Ameliorated 4thgeneration time-frame
34  Horizontal upward-trending open architecture
35            Fundamental fault-tolerant product
36            Pre-emptive incremental monitoring
37                Enhanced encompassing alliance
38                 Distributed dynamic emulation
39               Cross-group bottom-line project
40            Multi-layered real-time neural-net
41                Exclusive multi-state analyzer
42               Exclusive content-based website
43                Focused asynchronous workforce
44           Assimilated impactful collaboration
45                     Visionary local structure
46                Inverse didactic knowledgebase
47               Persevering mobile productivity
48       Universal value-added pricing structure
49             Operative asymmetric secured line
50              Stand-alone even-keeled extranet
51          Up-sized context-sensitive moderator
52             Integrated interactive definition
53                 Proactive radical focus group
54             Down-sized holistic orchestration

                                   COMPANY_BS
0                 harness real-time e-markets
1            synergize scalable supply-chains
2             e-enable strategic applications
3        transition cutting-edge web services
4            revolutionize end-to-end systems
5            e-enable innovative applications
6               generate enterprise e-tailers
7               e-enable extensible e-tailers
8            aggregate real-time technologies
9                    target end-to-end models
10                 target intuitive paradigms
11                   drive innovative portals
12           benchmark customized convergence
13             strategize extensible eyeballs
14          e-enable distributed deliverables
15               enable dynamic relationships
16                 optimize impactful metrics
17         synthesize compelling technologies
18          maximize open-source technologies
19            harness bleeding-edge paradigms
20                  evolve turn-key mindshare
21      integrate plug-and-play architectures
22           incubate out-of-the-box networks
23           matrix strategic functionalities
24            leverage leading-edge mindshare
25              brand next-generation schemas
26    facilitate best-of-breed info-mediaries
27            implement plug-and-play portals
28            drive one-to-one info-mediaries
29                monetize turn-key solutions
30  re-contextualize e-business architectures
31                  unleash global interfaces
32            facilitate strategic interfaces
33                    brand holistic networks
34           syndicate vertical supply-chains
35              innovate user-centric systems
36        revolutionize distributed platforms
37         productize cutting-edge e-commerce
38       disintermediate extensible e-tailers
39                  redefine sticky e-tailers
40      innovate leading-edge infrastructures
41     disintermediate seamless supply-chains
42                  extend ubiquitous markets
43                    matrix wireless markets
44              seize intuitive architectures
45               iterate dot-com technologies
46                cultivate cross-media users
47            utilize one-to-one partnerships
48              repurpose end-to-end channels
49      implement leading-edge info-mediaries
50              optimize back-end convergence
51              productize one-to-one portals
52           embrace leading-edge initiatives
53                    streamline seamless ROI
54          re-intermediate dynamic e-markets

In [37]:
unique_user_ids = set()
while len(unique_user_ids) < 30:
    unique_user_ids.add(fake.random_int(min=1, max=50))
    
    
unique_user_ids

{1,
 3,
 4,
 5,
 6,
 8,
 10,
 11,
 15,
 16,
 17,
 18,
 20,
 22,
 24,
 25,
 27,
 29,
 30,
 31,
 35,
 36,
 38,
 39,
 41,
 44,
 45,
 46,
 47,
 48}

In [38]:
unique_company_ids = range(1, 30 + 1)

unique_company_ids

range(1, 31)

In [55]:
data_companies = {
    'COMPANY_ID': range(1, 11),
    'USER_ID': range(1, 11),
    'COMPANY_NAME': ['Romaguera-Crona', 'Deckow-Crist', 'Romaguera-Jacobson', 'Robel-Corkery', 'Keebler LLC', 'Considine-Lockman', 'Johns Group', 'Abernathy Group', 'Yost and Sons', 'Hoeger LLC'],
    'COMPANY_CATCHPHRASE': ['Multi-layered client-server neural-net', 'Proactive didactic contingency', 'Face to face bifurcated interface', 'Multi-tiered zero tolerance productivity', 'User-centric fault-tolerant solution', 'Synchronised bottom-line interface', 'Configurable multimedia task-force', 'Implemented secondary concept', 'Switchable contextually-based project', 'Centralized empowering task-force'],
    'COMPANY_BS': ['harness real-time e-markets', 'synergize scalable supply-chains', 'e-enable strategic applications', 'transition cutting-edge web services', 'revolutionize end-to-end systems', 'e-enable innovative applications', 'generate enterprise e-tailers', 'e-enable extensible e-tailers', 'aggregate real-time technologies', 'target end-to-end models']
}

df_companies = pd.DataFrame(data_companies)

In [74]:
import pandas as pd
from faker import Faker

# Supongamos que ya tienes un DataFrame llamado df_companies con las columnas mencionadas

# Crear un objeto Faker
fake = Faker()

# Obtener los USER_ID y COMPANY_ID únicos actuales
existing_user_ids = set(df_companies['USER_ID'].unique())
existing_company_ids = set(df_companies['COMPANY_ID'].unique())

# Crear una lista para almacenar los nuevos registros
new_records = []

# Generar 30,000 registros adicionales
for _ in range(30000):
    # Generar USER_ID único
    user_id = fake.random_int(min=1, max=55010)
    while user_id in existing_user_ids:
        user_id = fake.random_int(min=1, max=55010)

    # Generar COMPANY_ID único
    company_id = max(existing_company_ids) + 1
    while company_id in existing_company_ids:
        company_id += 1

    # Actualizar los conjuntos de USER_ID y COMPANY_ID existentes
    existing_user_ids.add(user_id)
    existing_company_ids.add(company_id)

    # Generar datos aleatorios usando Faker
    company_name = fake.company()
    company_catchphrase = fake.catch_phrase()
    company_bs = fake.bs()

    # Crear un nuevo registro
    new_record = {
        'COMPANY_ID': company_id,
        'USER_ID': user_id,
        'COMPANY_NAME': company_name,
        'COMPANY_CATCHPHRASE': company_catchphrase,
        'COMPANY_BS': company_bs
    }

    # Agregar el nuevo registro a la lista
    new_records.append(new_record)

# Concatenar los nuevos registros al DataFrame existente
df_companies_extended = pd.concat([df_companies, pd.DataFrame(new_records)], ignore_index=True)

# Imprimir el DataFrame resultante
print(df_companies_extended)

       COMPANY_ID  USER_ID                   COMPANY_NAME  \
0               1        1                Romaguera-Crona
1               2        2                   Deckow-Crist
2               3        3             Romaguera-Jacobson
3               4        4                  Robel-Corkery
4               5        5                    Keebler LLC
...           ...      ...                            ...
30005       30006      303                    Perkins PLC
30006       30007    34132                   Marshall PLC
30007       30008     6935                 Griffin-Wilson
30008       30009    32384  Reynolds, Bautista and Molina
30009       30010    49626        Lynch, Adkins and Baker

                             COMPANY_CATCHPHRASE  \
0         Multi-layered client-server neural-net
1                 Proactive didactic contingency
2              Face to face bifurcated interface
3       Multi-tiered zero tolerance productivity
4           User-centric fault-tolerant solution
...                                          ...
30005            Universal bottom-line benchmark
30006             Programmable discrete extranet
30007  Optimized 4thgeneration open architecture
30008            Multi-layered executive support
30009        Pre-emptive demand-driven structure

                                 COMPANY_BS
0               harness real-time e-markets
1          synergize scalable supply-chains
2           e-enable strategic applications
3      transition cutting-edge web services
4          revolutionize end-to-end systems
...                                     ...
30005       matrix integrated architectures
30006       strategize global relationships
30007   streamline transparent technologies
30008     morph clicks-and-mortar platforms
30009        whiteboard robust technologies

[30010 rows x 5 columns]

In [80]:
import pandas as pd
from faker import Faker

def random_companies(quantity_users, quantity_companies, df_companies):
    #faker object
    fake = Faker()

    #obtain current unique USER_ID and COMPANY_ID
    existing_user_ids = set(df_companies['USER_ID'].unique())
    existing_company_ids = set(df_companies['COMPANY_ID'].unique())

    new_records = []

    #generate additional records
    for _ in range(quantity_companies):
        #generate unique USER_ID
        user_id = fake.random_int(min=1, max=quantity_users)
        while user_id in existing_user_ids:
            user_id = fake.random_int(min=1, max=quantity_users)

        #generate unique COMPANY_ID
        company_id = max(existing_company_ids) + 1
        while company_id in existing_company_ids:
            company_id += 1

        #update existing USER_ID and COMPANY_ID sets
        existing_user_ids.add(user_id)
        existing_company_ids.add(company_id)

        #generate random data
        company_name = fake.company()
        company_catchphrase = fake.catch_phrase()
        company_bs = fake.bs()

        #create new record
        new_record = {
            'COMPANY_ID': company_id,
            'USER_ID': user_id,
            'COMPANY_NAME': company_name,
            'COMPANY_CATCHPHRASE': company_catchphrase,
            'COMPANY_BS': company_bs
        }

        new_records.append(new_record)

    #concatenate new records to existing DataFrame
    df_companies_extended = pd.concat([df_companies, pd.DataFrame(new_records)], ignore_index=True)

    #sort DataFrame by 'COMPANY_ID'
    df_companies_extended.sort_values(by='COMPANY_ID', inplace=True)

    #save DataFrame to a CSV file
    df_companies_extended.to_csv('companies_extended.csv', index=False)

    return df_companies_extended

In [106]:
booking_df= pd.read_csv('raw_bookings.csv', sep=';')
booking_df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,City Hotel,0,177,2016,December,30,2,5,0,0,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,City Hotel,0,107,2016,December,31,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [108]:
def bookings_extended(quantity_users, booking_df):
    # Crear un objeto Faker
    fake = Faker()
    
    df = pd.DataFrame()
    # Agregar columna 'USER_ID' con valores aleatorios entre 1 y 55010
    df['USER_ID'] = [fake.random_int(min=1, max=quantity_users) for i in range(len(df_reservas))]

    # Agregar columna 'LOCALIZADOR_RESERVA' con valores únicos
    booking_codes = set()
    
    while len(booking_codes) < len(booking_df):
        booking_code = fake.vin()
        booking_codes.add(booking_code)

    df['BOOKING_CODE'] = list(booking_codes)
    
    booking_df_extended = pd.concat([df,booking_df], axis=1)


    return booking_df_extended

In [109]:
test = bookings_extended(55010, booking_df)
test

,USER_ID,BOOKING_CODE,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date
0,13889,PR1ZYAFL3H04H84W9,Resort Hotel,0,109,2016,January,1,0,1,...,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,38752,EYUF5YLM8STBHW5KS,Resort Hotel,0,109,2016,January,1,0,1,...,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,37102,ZERSC2F24US6K9ZEE,Resort Hotel,1,2,2016,January,1,0,1,...,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,7613,NFXW1P5Z9N0YVYGDX,Resort Hotel,0,88,2016,January,1,0,2,...,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,636,HAZTV34W08616MNB8,Resort Hotel,1,20,2016,January,1,0,2,...,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,34676,F36770NS27LF4DB1H,City Hotel,0,17,2016,December,30,2,5,...,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,16107,C1T6NRHR9XSF8J6RG,City Hotel,0,177,2016,December,30,2,5,...,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,19557,UBUGXXHL43BK0X3LE,City Hotel,0,107,2016,December,31,2,5,...,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,18152,VNSDZKN9X1GW5T5B6,City Hotel,0,310,2016,December,27,2,10,...,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,28280,L8REC69Y4YBP31U0X,City Hotel,0,310,2016,December,27,2,10,...,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [163]:
users_df= pd.read_csv('raw_users.csv')
users_df

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."

In [165]:
def create_company_id(users_df):
    users_df['company_id'] = np.random.permutation(np.arange(1, len(users_df) + 1))
    
def random_users(quantity, users_df):
    '''
        Function to extend the number of users. 
        It can only be used with the users table because it is specific to it 
        and it is only used once in order to increase the number of users that 
        have made reservations in the hotels and to have consistency in the data.
        Also, it create companies id

        Inputs:

        df_users = users DataFrame
        quantity = number of users to be added 
    '''
    fake = Faker()

    #number of new users
    additional_users = quantity

    new_users = []

    #create random users
    for i in range(additional_users):

        if i == 0:
            user_id = users_df['id'].max() + 1
        else:
            user_id = new_users[i - 1]['id'] + 1

        name = fake.name()
        username = fake.user_name()
        email = fake.email()
        street = fake.street_name()
        suite = fake.random_element(elements=('Apt. 101', 'Suite 202', 'Room 303'))
        city = fake.city()
        zipcode = fake.zipcode()
        lat = fake.latitude()
        lng = fake.longitude()
        phone = fake.phone_number()
        website = fake.url()
        company_name = fake.company()
        company_catchphrase = fake.catch_phrase()
        bs = fake.bs()

        new_record = {
            'id': user_id,
            'name': name,
            'username': username,
            'email': email,
            'address': {
                'street': street,
                'suite': suite,
                'city': city,
                'zipcode': zipcode,
                'geo': {'lat': lat, 'lng': lng}
            },
            'phone': phone,
            'website': website,
            'company': {
                'name': company_name,
                'catchPhrase': company_catchphrase,
                'bs': bs
            }
        }

        #add new record to the list
        new_users.append(new_record)

    #concatenate two dataframes
    users_df_extended = pd.concat([users_df, pd.DataFrame(new_users)], ignore_index=True)
    
    create_company_id(users_df_extended)

    return users_df_extended

In [166]:
random_users(40, users_df)

,id,name,username,email,address,phone,website,company,company_id
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...",8
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",23
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ...",46
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",6
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",7
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '...",39
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config...",42
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im...",37
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit...",4
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central...",27
10,11,Nicholas Logan,zjohnson,esmith@example.com,"{'street': 'Kim Islands', 'suite': 'Apt. 101',...",001-352-213-8875x620,http://www.church.org/,"{'name': 'Jordan and Sons', 'catchPhrase': 'Bu...",3
11,12,John Barnes,sarahmatthews,kellycathy@example.com,"{'street': 'Padilla Flat', 'suite': 'Suite 202...",272.583.8721x61486,https://henry.com/,"{'name': 'Holland Inc', 'catchPhrase': 'Multi-...",47
12,13,Gina Johnson,cooperstephanie,smiller@example.com,"{'street': 'Mary Ville', 'suite': 'Room 303', ...",(596)252-3275x98365,https://www.trevino.com/,"{'name': 'Thompson, Willis and Terrell', 'catc...",48
13,14,Karina Smith,snydermorgan,jenny38@example.net,"{'street': 'Emily Extension', 'suite': 'Suite ...",534.514.4735x82454,https://smith.com/,"{'name': 'Holder-Henderson', 'catchPhrase': 'M...",43
14,15,Kelly Williams,gfloyd,david37@example.com,"{'street': 'Dustin Summit', 'suite': 'Apt. 101...",+1-503-684-0075,https://rodriguez-guerra.com/,"{'name': 'Garcia and Sons', 'catchPhrase': 'Op...",1
15,16,Brenda Hopkins,martinsharon,ashleyrichardson@example.org,"{'street': 'Rodriguez Overpass', 'suite': 'Apt...",(278)997-5550x9587,http://www.martin.info/,"{'name': 'Fernandez-Velasquez', 'catchPhrase':...",49
16,17,Nathan Garcia,iburch,sherrybeard@example.net,"{'street': 'Amanda Ranch', 'suite': 'Suite 202...",(828)369-6604x632,https://young-rasmussen.net/,"{'name': 'Nguyen Inc', 'catchPhrase': 'Amelior...",32
17,18,Ricardo Petty,carolynwright,carol32@example.org,"{'street': 'Garcia Common', 'suite': 'Room 303...",001-469-496-0802x65349,http://www.scott.com/,"{'name': 'Robinson-Cameron', 'catchPhrase': 'P...",19
18,19,Dr. Nicole Williams,mbrown,clintonyoung@example.com,"{'street': 'Blair Plains', 'suite': 'Apt. 101'...",974-989-7441x332,https://www.gonzalez.com/,"{'name': 'Leonard, Harper and Phillips', 'catc...",14
19,20,Courtney Meyer,amberhicks,jimenezjavier@example.net,"{'street': 'Richardson Stravenue', 'suite': 'R...",275.292.7195x3460,http://www.howell.com/,"{'name': 'Holt-Knox', 'catchPhrase': 'Polarize...",41
20,21,Richard Brooks,jessicabryant,stephanie82@example.net,"{'street': 'Jill Meadow', 'suite': 'Apt. 101',...",820-661-0774,http://black-robbins.com/,"{'name': 'Weaver-Brown', 'catchPhrase': 'Funda...",30
21,22,Ashlee Stewart,robertallen,shawnprince@example.net,"{'street': 'Amy Shoal', 'suite': 'Room 303', '...",4915204669,http://www.harrell-roberts.biz/,"{'name': 'Cline, Simpson and Haynes', 'catchPh...",34
22,23,Laura Duran,jonathankim,robinhill@example.net,"{'street': 'Jerry Mall', 'suite': 'Apt. 101', ...",+1-406-803-0216,http://www.jackson.org/,"{'name': 'Murphy-Ali', 'catchPhrase': 'Expande...",33
23,24,Brittany Carter,andreagriffin,eric26@example.org,"{'street': 'Walters Shore', 'suite': 'Room 303...",+1-843-371-7028,https://greer-li.com/,"{'name': 'Ryan-James', 'catchPhrase': 'Team-or...",31
24,25,Samuel Sullivan,fieldstravis,pattersonmartin@example.net,"{'street': 'David Underpass', 'suite': 'Room 3...",785.655.0679,http://www.serrano-turner.com/,"{'name': 'Wang Group', 'catchPhrase': 'Expande...",45
25,26,Thomas Schultz,andreagarcia,simmonsryan@example.net,"{'street': 'Palmer Island', 'suite': 'Room 303...",+1-835-252-7323x230,https://www.barrett.com/,"{'name': 'Salas-Wolf', 'catchPhrase': 'Customi...",25
26,27,Kenneth Jones,garyramos,patricia37@example.com,"{'street': 'John Club', 'suite': 'Apt. 101', '...",826-236-8550x82365,https://www.day-rodriguez.com/,"{'name': 'Serrano Inc', 'catchPhrase': 'Busine...",26
27,28,Tamara Forbes,flemingjesus,jelliott@example.com,"{'street': 'Lester Corner', 'suite': 'Room 303...",001-236-908-6059x341,http://www.brown.info/,"{'name': 'Taylor Inc', 'catchPhrase': 'Quality...",36
28,29,Linda Miles,jhenderson,angeladalton@example.com,"{'street': 'Jorge Fork', 'suite': 'Apt. 101', ...",567-512-9312x513,https://bernard.com/,"{'name': 'Cameron-Lopez', 'catchPhrase': 'Mand...",17
29,30,Sherry Edwards,jrodriguez,davismaria@example.net,"{'street': 'Burnett Hill', 'suite': 'Suite 202...",001-788-704-2342x6768,http://alexander-garcia.com/,"{'name': 'Torres, Ellis and Collins', 'catchPh...",24
30,31,Alyssa Watson,natasha91,bherrera@example.org,"{'street': 'Stephen Mountain', 'suite': 'Apt. ...",643-548-6027,http://www.hunter.org/,"{'name': 'Wolfe-Poole', 'catchPhrase': 'Qualit...",2
31,32,Harry Davis,davidstewart,kathleenpearson@example.net,"{'street': 'Christy Inlet', 'suite': 'Room 303...",866.784.0941x60647,http://quinn.com/,"{'name': 'Campbell and Sons', 'catchPhrase': '...",21
32,33,Laura Nguyen,shelbymckinney,hayesdeanna@example.net,"{'street': 'Traci Cliffs', 'suite': 'Suite 202...",001-734-254-5591x1218,http://contreras.com/,"{'name': 'Munoz Inc', 'catchPhrase': 'Quality-...",50
33,34,Carla Smith,samuel85,hesterfred@example.net,"{'street': 'Todd Stream', 'suite': 'Apt. 101',...",253-312-6059x67318,http://www.oneill.net/,"{'name': 'Hall-Henry', 'catchPhrase': 'Progres...",29
34,35,Jacob Good,kathrynholmes,danaburke@example.org,"{'street': 'Vaughan Cove', 'suite': 'Room 303'...",+1-754-711-1180x49632,http://rollins.com/,"{'name': 'Kramer-Jenkins', 'catchPhrase': 'Mul...",38
35,36,Angel Gomez,davismark,hinesmelanie@example.net,"{'street': 'Mueller Squares', 'suite': 'Apt. 1...",001-464-837-8158,https://green.org/,"{'name': 'White-Maynard', 'catchPhrase': 'Syne...",20
36,37,Andrea Ward,michaelparks,nicoleharrell@example.com,"{'street': 'Ashley Corners', 'suite': 'Apt. 10...",205.952.8936x693,http://ray.net/,"{'name': 'Ewing-Stephenson', 'catchPhrase': 'A...",35
37,38,Brittany Brown,parrishkimberly,ssmith@example.org,"{'street': 'Oliver Isle', 'suite': 'Apt. 101',...",(494)860-0964x466,http://www.owens.com/,"{'name': 'Willis and Sons', 'catchPhrase': 'Am...",5
38,39,Jennifer Mccullough,eperry,steven25@example.com,"{'street': 'William Manors', 'suite': 'Suite 2...",001-624-719-8040x1408,http://lawrence.com/,"{'name': 'Castillo-Gardner', 'catchPhrase': 'D...",40
39,40,Troy Farmer,brandon62,kenneth31@example.net,"{'street': 'Lisa Springs', 'suite': 'Apt. 101'...",641.404.2401,http://www.porter.com/,"{'name': 'Stout, Oconnor and White', 'catchPhr...",15
40,41,Holly Jackson,edwardbowers,kaylajones@example.net,"{'street': 'Timothy Springs', 'suite': 'Room 3...",937-758-7229,https://estrada.com/,"{'name': 'Carroll, Hogan and Morgan', 'catchPh...",9
41,42,Ronald Morgan,jennifer05,barrydwayne@example.com,"{'street': 'Jason Garden', 'suite': 'Room 303'...",216-240-6980,https://hawkins.net/,"{'name': 'Fuentes-Curry', 'catchPhrase': 'Mult...",11
42,43,Carlos Carrillo,marquezjoseph,tyler90@example.com,"{'street': 'Hall Common', 'suite': 'Apt. 101',...",+1-496-448-0829,https://jones-cummings.net/,"{'name': 'Logan-Gonzales', 'catchPhrase': 'Man...",18
43,44,Crystal Williams,nsmith,cphillips@example.net,"{'street': 'Knox Causeway', 'suite': 'Room 303...",+1-575-847-8736x0235,https://holmes-reed.com/,"{'name': 'Vega-Dickerson', 'catchPhrase': 'Clo...",16
44,45,Jessica Smith,uestrada,johnsonrobin@example.net,"{'street': 'Ashley Viaduct', 'suite': 'Room 30...",001-903-353-6442x475,https://www.moore-white.com/,"{'name': 'Williams-Johnson', 'catchPhrase': 'R...",28
45,46,Caleb Fox,catherinerogers,angelabrown@example.com,"{'street': 'William Causeway', 'suite': 'Room ...",622-652-4781,https://peterson.biz/,"{'name': 'Mitchell, Hernandez and Gardner', 'c...",22
46,47,Jennifer Henry,kennedysharon,qhughes@example.org,"{'street': 'Brian Village', 'suite': 'Room 303...",+1-210-395-4427x7490,https://mitchell.com/,"{'name': 'Wright-Moore', 'catchPhrase': 'Proac...",10
47,48,Mr. James Clark,ggarcia,zmiller@example.com,"{'street': 'Mcconnell Forest', 'suite': 'Apt. ...",976-724-7746,http://roberts.info/,"{'name': 'Bennett PLC', 'catchPhrase': 'Stand-...",44
48,49,Michelle Knight DVM,darren52,joshualin@example.org,"{'street': 'Michael Pike', 'suite': 'Room 303'...",001-796-985-4660,https://dunn-johnson.org/,"{'name': 'Williams Inc', 'catchPhrase': 'Versa...",12
49,50,Karen Dunlap,stevestephenson,sanderslaura@example.org,"{'street': 'Amanda Place', 'suite': 'Room 303'...",452-839-0608x895,https://www.robinson.com/,"{'name': 'Shea, Bullock and Griffith', 'catchP...",13

In [181]:
def db():
    #connect to DDBB
    return sqlite3.connect("test_data.sqlite3")


def create_tables():
    '''
    function to create tables in the ddbb
    '''
   
    cursor = db().cursor()

    #raw_users
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS raw_users (
            id INTEGER PRIMARY KEY,
            name TEXT,
            username TEXT,
            email TEXT,
            address TEXT,
            country TEXT,
            phone TEXT,
            website TEXT,
            company TEXT,
            company_id INTEGER,
            FOREIGN KEY (company_id) REFERENCES COMPANIES(COMPANY_ID)
        )
    ''')
    
    #raw_bookings
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS raw_bookings (
            user_id INTEGER,
            booking_id INTEGER PRIMARY KEY,
            Hotel TEXT,
            Is_canceled INTEGER,
            lead_time INTEGER,
            arrival_date_year INTEGER,
            arrival_date_month INTEGER,
            arrival_date_day_of_month INTEGER,
            stays_in_weekend_nights INTEGER,
            stays_in_week_nights INTEGER,
            adults INTEGER,
            children INTEGER,
            meal TEXT,
            country TEXT,
            is_repeated_guest INTEGER,
            previous_cancellations INTEGER,
            previous_bookings_not_canceled INTEGER,
            reserved_room_type TEXT,
            assigned_room_type TEXT,
            agent INTEGER,
            reservation_status TEXT,
            reservation_status_date TEXT,
            FOREIGN KEY (user_id) REFERENCES raw_users(id)
        )
    ''')

    #USERS
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS USERS (
            USER_ID INTEGER PRIMARY KEY,
            USER_NAME TEXT,
            USER_EMAIL TEXT,
            USER_ADDRESS TEXT,
            USER_COUNTRY_ID INTEGER,
            USER_PHONE TEXT,
            USER_WEBSITE TEXT,
            COMPANY_ID INTEGER,
            
            FOREIGN KEY (USER_COUNTRY_ID) REFERENCES COUNTRIES(COUNTRY_ID),
            FOREIGN KEY (COMPANY_ID) REFERENCES COMPANIES(COMPANY_ID)
        )
    ''')

    #COMPANIES
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS COMPANIES (
            COMPANY_ID INTEGER PRIMARY KEY,
            USER_ID INTEGER,
            COMPANY_NAME TEXT,
            FOREIGN KEY (USER_ID) REFERENCES USERS(USER_ID)
        )
    ''')

    #HOTELS
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS HOTELS (
            HOTEL_ID INTEGER PRIMARY KEY,
            HOTEL_NAME TEXT
        )
    ''')

    #AGENTS
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS AGENTS (
            AGENT_ID INTEGER PRIMARY KEY,
            AGENT_NAME TEXT
        )
    ''')

    #MEAL_TYPES
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS MEAL_TYPES (
            MEAL_ID INTEGER PRIMARY KEY,
            MEAL_NAME TEXT
        )
    ''')

    #ROOM_TYPES
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS ROOM_TYPES (
            ROOM_ID INTEGER PRIMARY KEY,
            ROOM_NAME TEXT
        )
    ''')
    
    #COUNTRIES
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS COUNTRIES (
            COUNTRY_ID INTEGER PRIMARY KEY,
            COUNTRY TEXT
        )
    ''')
    

    #BOOKINGS
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS BOOKINGS (
            BOOKING_ID INTEGER PRIMARY KEY,
            HOTEL_ID INTEGER,
            ARRIVAL_DATE TEXT,
            DEPARTURE_DATE TEXT,
            RESERVATION_DATE TEXT,
            ADULTS INTEGER,
            CHILDREN INTEGER,
            MEAL_ID INTEGER,
            COUNTRY_ID INTEGER,
            RESERVED_ROOM_TYPE_ID INTEGER,
            ASSIGNED_ROOM_TYPE_ID INTEGER,
            AGENT_ID INTEGER,
            STATUS TEXT,
            LAST_UPDATED_AT TEXT,
            
            FOREIGN KEY (HOTEL_ID) REFERENCES HOTELS(HOTEL_ID),
            FOREIGN KEY (MEAL_ID) REFERENCES MEAL_TYPES(MEAL_ID),
            FOREIGN KEY (COUNTRY_ID) REFERENCES COUNTRIES(COUNTRY_ID),
            FOREIGN KEY (RESERVED_ROOM_TYPE_ID) REFERENCES ROOM_TYPES(ROOM_ID),
            FOREIGN KEY (ASSIGNED_ROOM_TYPE_ID) REFERENCES ROOM_TYPES(ROOM_ID),
            FOREIGN KEY (AGENT_ID) REFERENCES agents(AGENT_ID)
        )
    ''')

    #save changes
    db().commit()

In [182]:
create_tables()