In [539]:
import pandas as pd
import requests
from faker import Faker
import re
import phonenumbers
import numpy as np
from datetime import datetime, timedelta

import sqlite3

In [1]:
!pip install phonenumbers

Collecting phonenumbers
  Downloading phonenumbers-8.13.26-py2.py3-none-any.whl (2.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 17.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: phonenumbers
Successfully installed phonenumbers-8.13.26

In [503]:
#Extract data from API

response= requests.get('https://jsonplaceholder.typicode.com/users')
users = response.json()

In [504]:
users_df = pd.DataFrame(users)
users_df_copy = users_df.copy()
users_df

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."

In [74]:
#normalize address column
df_address = pd.json_normalize(users_df['address'])

#union of the two dataframes
users_df_test = pd.concat([users_df, df_address], axis=1)

users_df_test
df_resultado = users_df_test.drop('address', axis=1)

df_resultado

,id,name,username,email,phone,website,company,street,suite,city,zipcode,geo.lat,geo.lng
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...",Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ...",Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '...",Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config...",Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im...",Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit...",Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central...",Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232

In [5]:
users_test = pd.read_csv('users_extended.csv')
users_test

,USER_ID,USER_NAME,USER_USERNAME,USER_EMAIL,USER_PHONE,WEBSITE,USER_STREET,USER_SUITE,USER_CITY,USER_ZIPCODE,USER_LAT,USER_LNG
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.315900,81.149600
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.950900,-34.461800
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.610200,-47.065300
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.457200,-164.299000
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.812900,62.534200
...,...,...,...,...,...,...,...,...,...,...,...,...
55005,55006,Alexander Hughes,hamiltonthomas,martinezvictoria@example.net,846.209.1759x957,https://www.campbell.com/,525 Jackson Port,Apt. 878,North Stephanieton,19518,39.375597,97.178865
55006,55007,Paul Kim,robertrussell,staffordwilliam@example.net,325.916.7235x093,http://www.townsend.info/,526 Dennis Harbor Apt. 889,Apt. 691,New Marystad,01913,-22.499807,34.631837
55007,55008,Elizabeth Brewer,mercadolisa,charles49@example.org,001-804-520-9188x5650,http://brown.com/,149 Figueroa Walks Apt. 711,Suite 269,Lake Amandaland,57758,-25.364915,-140.349789
55008,55009,Amanda Underwood,wsimmons,jennifer14@example.org,625-816-9453,https://dean-jones.com/,8959 Karen Glen,Suite 848,West Brent,45819,-5.524719,-176.450230
55009,55010,Erica Newman,angel66,cannonandrea@example.com,+1-377-741-0061x797,https://www.robbins-ford.com/,4986 Courtney Neck Suite 280,Suite 431,Port Jenniferstad,06610,46.288657,-1.185294

In [533]:
users_test

,BOOKING_CODE,id,name,username,email,address,phone,website,company,company_id,test2_id
0,41DUBNM48VSCNEGTN,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,NaN,6,NaN
1,0KYFCF6T2XU1M8Z5C,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,NaN,2,NaN
2,JHYSAP889W8EAPXDY,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,NaN,25,NaN
3,RABKL9SU6VGST7BAT,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",29,8.0
4,WCRR8BTT4MV6B414X,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",44,7.0
5,UZLZ7H0S3JDYY6G2K,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '...",30,6.0
6,ENMEHSEF9UHKMH647,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config...",41,5.0
7,LXK7S18X4FYDM9ZNY,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im...",39,5.0
8,7MKF9EX554VSLSS5U,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit...",42,8.0
9,BFYUDFNGXWUXM2567,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,NaN,13,NaN
10,0G7JW92J4DL23GNFD,11,Joseph Lynn,dawnhester,katiesmith@example.net,"{'street': 'Christopher Run', 'suite': 'Suite ...",2699388234,http://www.patel-rodriguez.org/,NaN,7,NaN
11,TZHM6LW20P3WVR9PG,12,Thomas Morales,davidyates,ochoashawn@example.org,"{'street': 'Peter Crossing', 'suite': 'Room 30...",+1-487-908-2744x9631,https://www.johnson-gonzalez.info/,"{'name': 'Nelson-Harris', 'catchPhrase': 'Proa...",12,8.0
12,HGB164TW0WKXZY776,13,Kevin Ross,ihoward,gonzalezlatasha@example.org,"{'street': 'Marsh Union', 'suite': 'Room 303',...",(633)678-7900,https://www.francis.com/,NaN,35,NaN
13,2BM2KD6CXKUEMNEEW,14,Rick Hamilton,lesliegibson,nhoward@example.net,"{'street': 'Wilson Keys', 'suite': 'Apt. 101',...",416-337-3376x0443,http://www.scott.info/,NaN,16,NaN
14,T50UWWZK1FBY16X8J,15,Katherine Estrada,ryanellis,kevindavis@example.com,"{'street': 'Jones Tunnel', 'suite': 'Apt. 101'...",001-511-347-2039x646,https://lee.com/,NaN,50,NaN
15,YSNNMM4L994WTFB82,16,Donna Taylor,leonardsmith,ismith@example.com,"{'street': 'Wesley Parks', 'suite': 'Suite 202...",616-951-4342x683,https://palmer-massey.com/,"{'name': 'Hodges Group', 'catchPhrase': 'Ameli...",32,1.0
16,SYV484X38CEET5ZJN,17,Yvonne Powell,nicolebutler,carl33@example.com,"{'street': 'Stephens Club', 'suite': 'Suite 20...",242-286-2622,https://russell.info/,NaN,23,NaN
17,UK6FXEWF6YMA1WDBC,18,Robert Johnson,smithamber,timothy82@example.org,"{'street': 'Gary Views', 'suite': 'Apt. 101', ...",001-820-592-8983x347,https://warren.com/,"{'name': 'Fisher, Snyder and Frank', 'catchPhr...",34,2.0
18,SE4LF8Y34AJ8MSL6A,19,Renee Clark,kaneronald,tony14@example.net,"{'street': 'Farmer Hill', 'suite': 'Suite 202'...",565.256.7410,http://chambers-steele.com/,NaN,3,NaN
19,JDKBGG3P97PRH6HD3,20,Meghan Cooper,lisa29,gsellers@example.org,"{'street': 'Laura Springs', 'suite': 'Apt. 101...",001-411-726-0988x19998,https://www.case.biz/,"{'name': 'Perez, Mcintyre and Gilbert', 'catch...",46,3.0
20,C1TSUUWG3DZRKBMY4,21,Anne Smith,denise93,christopher31@example.org,"{'street': 'Zachary Freeway', 'suite': 'Suite ...",(363)882-7404x7690,http://stephens-taylor.info/,"{'name': 'Gibson-Gill', 'catchPhrase': 'Devolv...",45,1.0
21,TVMRJ9V27ML62L90H,22,Maurice Schmidt,mcclainjohn,sroman@example.com,"{'street': 'Vaughan Unions', 'suite': 'Room 30...",+1-421-473-0381x8260,http://www.combs-beard.biz/,NaN,31,NaN
22,4TRDZCH7X35SVT67N,23,Daniel Lee,austin15,diane75@example.com,"{'street': 'Sullivan Fields', 'suite': 'Room 3...",324.394.7494x8725,http://www.taylor.com/,"{'name': 'Leonard PLC', 'catchPhrase': 'Centra...",38,2.0
23,9DTVCAYC5E2VZV7MB,24,Casey Carson,cli,francomary@example.com,"{'street': 'Reed Crossing', 'suite': 'Apt. 101...",2232975318,https://maynard.net/,NaN,15,NaN
24,YVZE94C16CLKW1HWB,25,Linda Cox,travis56,rwalker@example.net,"{'street': 'Beasley Pine', 'suite': 'Room 303'...",(708)429-9261,http://hall.com/,NaN,4,NaN
25,0AR72HE89EZJENYA3,26,John Logan,qreed,susan68@example.net,"{'street': 'Daniel Meadows', 'suite': 'Apt. 10...",7063727330,http://smith-sanchez.com/,NaN,47,NaN
26,UM8DL4N65W204K26Y,27,Thomas Powers,moorematthew,smithheather@example.org,"{'street': 'Michael Fords', 'suite': 'Room 303...",(993)585-2787x16722,https://www.hall.com/,"{'name': 'Clark Ltd', 'catchPhrase': 'Object-b...",28,7.0
27,CYGS6VCJ6R8T4A6W0,28,Kenneth Franklin,marshalexander,elizabeth80@example.org,"{'street': 'Davis Rapids', 'suite': 'Suite 202...",001-723-292-0824x427,https://skinner.com/,"{'name': 'Meza-Baker', 'catchPhrase': 'Cloned ...",43,5.0
28,1YXJRWDK3D9GG8GNF,29,Craig Montgomery,bushaaron,christopher02@example.org,"{'street': 'Guerrero Park', 'suite': 'Apt. 101...",677.817.8815x895,https://www.kramer.com/,NaN,24,NaN
29,TD2TY4L34YLTM01UZ,30,Daniel Mills,johnbecker,chambersdaniel@example.com,"{'street': 'Brendan Ports', 'suite': 'Suite 20...",630.630.7877,http://franco.com/,NaN,10,NaN
30,EM3KA3RN19HB4F7K3,31,Michelle Wright,allisonstokes,paul85@example.com,"{'street': 'Alyssa Centers', 'suite': 'Apt. 10...",492.984.1342x8830,https://www.patterson-smith.com/,NaN,27,NaN
31,7E3D54SX8K1EPW4SG,32,James Long,anthonydaugherty,powellanthony@example.org,"{'street': 'Joseph Expressway', 'suite': 'Apt....",532-695-9610x4947,https://www.powell.com/,"{'name': 'Sanchez, Munoz and Wong', 'catchPhra...",49,4.0
32,37UT11LXXFHVD8NYY,33,Michael Pierce,jenniferortega,uhunter@example.org,"{'street': 'Gomez Heights', 'suite': 'Room 303...",(683)800-4515x17249,https://cox.com/,"{'name': 'Johnson, Smith and Harris', 'catchPh...",8,1.0
33,C2G1YGG798B47YSKB,34,Lisa Baldwin,grosszachary,michaelnichols@example.com,"{'street': 'Laurie Centers', 'suite': 'Suite 2...",546-482-8804,http://www.joyce.net/,NaN,9,NaN
34,94R5TWGA3SEH9BEC7,35,Leah Parrish,vwilliams,jennifer31@example.net,"{'street': 'Sergio Mountain', 'suite': 'Apt. 1...",462.538.9573x56188,http://www.ayala-sanchez.com/,NaN,17,NaN
35,0MG89ETB7EXMB1NVA,36,Alison Lee,lisaowens,jose72@example.com,"{'street': 'Sandra Tunnel', 'suite': 'Room 303...",533-385-5479,http://wall.biz/,"{'name': 'Gregory-Ramos', 'catchPhrase': 'Stan...",26,7.0
36,VAZJB2EB5T3ZH5PMA,37,Mary Acosta,copelandjulie,oconnellgeorge@example.com,"{'street': 'Romero Green', 'suite': 'Apt. 101'...",(226)349-8534x7796,http://davila-kennedy.com/,"{'name': 'Gilbert, Carroll and Coleman', 'catc...",33,8.0
37,DNMJUZUW6CMSG47FX,38,Daniel Mcdowell,bonnieharper,thomasmiller@example.org,"{'street': 'Knight Well', 'suite': 'Room 303',...",(955)874-6483,https://www.maynard-noble.com/,"{'name': 'Arnold-Conway', 'catchPhrase': 'Ente...",5,4.0
38,HMP1TLMK8JPZTAS7P,39,Brian Mccarty,jacob95,gwhite@example.org,"{'street': 'Dominique Stream', 'suite': 'Room ...",585-319-3156x766,http://freeman.biz/,"{'name': 'Terry-Adkins', 'catchPhrase': 'Polar...",11,5.0
39,TGC6VJ7N7EXE94BYD,40,Jeffrey Rice,jonathanwright,conradanthony@example.com,"{'street': 'Thomas Mountain', 'suite': 'Apt. 1...",863-403-1688,https://www.bailey-garcia.com/,NaN,18,NaN
40,GHFN993K7JH9DAZD8,41,Sarah Strong,daviskathryn,jeffreyedwards@example.org,"{'street': 'Sanchez Ridges', 'suite': 'Suite 2...",(382)790-3051x03985,http://www.johnson.com/,"{'name': 'Whitaker-Hickman', 'catchPhrase': 'G...",36,7.0
41,5S8MT85V18JF815A7,42,Glenn Bishop,jamesjennings,davisdaniel@example.net,"{'street': 'Mills Trace', 'suite': 'Suite 202'...",6907037797,http://martin.com/,"{'name': 'Sheppard-Rivera', 'catchPhrase': 'To...",48,8.0
42,08FZGVAL8F5ZV6XDW,43,Thomas Waters,brittany87,amandahaynes@example.net,"{'street': 'Franklin Underpass', 'suite': 'Sui...",412.882.7295x476,https://morrow-stewart.com/,"{'name': 'Fisher, Black and Lopez', 'catchPhra...",19,1.0
43,JFLB0BTPXULN7A5V7,44,Aaron Williams,autumn50,clarkandrew@example.net,"{'street': 'John Track', 'suite': 'Suite 202',...",001-885-422-5392,https://cooper.com/,"{'name': 'Jones-Conner', 'catchPhrase': 'Enter...",22,6.0
44,ERLUB47A3XCM24MUC,45,John Hogan,miguel88,brianweber@example.org,"{'street': 'Michael Center', 'suite': 'Room 30...",(450)971-5790,http://www.wilson-carlson.com/,"{'name': 'Randall-Valencia', 'catchPhrase': 'R...",37,6.0
45,CEBNM2T267XU0K242,46,Scott Rice,whitneyjames,bedwards@example.com,"{'street': 'Dean Falls', 'suite': 'Suite 202',...",475.640.7620,http://www.norris.com/,"{'name': 'Thompson, Foster and Rice', 'catchPh...",14,6.0
46,NG1ZBHX89WWJDBWTZ,47,Robert Clark,jonesmatthew,linda09@example.net,"{'street': 'Joseph Drive', 'suite': 'Apt. 101'...",(402)281-1645,https://www.bush-smith.net/,"{'name': 'Weber-Mccormick', 'catchPhrase': 'In...",20,5.0
47,8CX6Y01U6B478JCYH,48,Sheri Horn,robert51,daniellefuller@example.com,"{'street': 'Bird Mission', 'suite': 'Apt. 101'...",541-529-2211x1618,http://mcdonald.com/,"{'name': 'Crawford-Peterson', 'catchPhrase': '...",1,8.0
48,VRX18L085E69NR2ST,49,Jennifer Flores,sdominguez,nancy77@example.org,"{'street': 'Sean Inlet', 'suite': 'Apt. 101', ...",001-606-296-2566x83021,http://castro-howard.biz/,"{'name': 'Mitchell, Butler and Hill', 'catchPh...",40,5.0
49,UD4DPFZ371G9GF46S,50,William White MD,katherine09,nicoleharmon@example.com,"{'street': 'Erin Trace', 'suite': 'Suite 202',...",(741)685-0114,http://fitzgerald.biz/,NaN,21,NaN

In [25]:


# Program to get timezone a phone number 
  
import phonenumbers 
from phonenumbers import timezone 
  
# Parsing String to Phone number 
phoneNumber = phonenumbers.parse("+919876543210") 
print(len(str(phoneNumber.national_number)))
  
# Pass the parsed phone number in below function 
timeZone = timezone.time_zones_for_number(phoneNumber) 
  
# It print the timezone of a phonenumber 
print(timeZone)

10
('Asia/Calcutta',)

In [26]:
def format_phone_number(phone_number):
    try:
        # Parse el número de teléfono utilizando la biblioteca phonenumbers
        parsed_number = phonenumbers.parse(phone_number, None)

        # Obtenga el formato nacional del número de teléfono
        national_format = phonenumbers.format_number(parsed_number, phonenumbers.PhoneNumberFormat.NATIONAL)

        # Compruebe las condiciones según las instrucciones proporcionadas
        if len(str(parsed_number.national_number)) == 9:
            # Números de teléfono de 9 dígitos: guardar tal cual
            return phone_number
        elif len(str(parsed_number.national_number)) == 10:
            if str(parsed_number.national_number)[0] == '1':
                # Números de teléfono de 10 dígitos que comienzan con 1: formato con paréntesis
                return national_format
            else:
                # Números de teléfono de 10 dígitos que no comienzan con 1: formato con paréntesis
                return national_format
        elif len(str(parsed_number.national_number)) == 11:
            if str(parsed_number.national_number)[0] == '1':
                # Números de teléfono de 11 dígitos que comienzan con 1: quitar el primer dígito y formato con paréntesis
                return national_format[1:]
            else:
                # Números de teléfono de 11 dígitos que no comienzan con 1: guardar tal cual
                return phone_number
        else:
            # Otros casos: guardar tal cual
            return phone_number
    except phonenumbers.NumberParseException:
        # Si no se puede analizar el número de teléfono, guárdelo tal cual
        return phone_number

In [27]:
users_test['USER_PHONE_FORMATTED'] = users_test['USER_PHONE'].apply(format_phone_number)

# Imprimir el DataFrame resultante
print(users_test)

       USER_ID         USER_NAME   USER_USERNAME  \
0            1     Leanne Graham            Bret
1            2      Ervin Howell       Antonette
2            3  Clementine Bauch        Samantha
3            4  Patricia Lebsack        Karianne
4            5  Chelsey Dietrich          Kamren
...        ...               ...             ...
55005    55006  Alexander Hughes  hamiltonthomas
55006    55007          Paul Kim   robertrussell
55007    55008  Elizabeth Brewer     mercadolisa
55008    55009  Amanda Underwood        wsimmons
55009    55010      Erica Newman         angel66

                         USER_EMAIL             USER_PHONE  \
0                 Sincere@april.biz  1-770-736-8031 x56442
1                 Shanna@melissa.tv    010-692-6593 x09125
2                Nathan@yesenia.net         1-463-123-4447
3         Julianne.OConner@kory.org      493-170-9623 x156
4          Lucio_Hettinger@annie.ca          (254)954-1289
...                             ...                    ...
55005  martinezvictoria@example.net       846.209.1759x957
55006   staffordwilliam@example.net       325.916.7235x093
55007         charles49@example.org  001-804-520-9188x5650
55008        jennifer14@example.org           625-816-9453
55009      cannonandrea@example.com    +1-377-741-0061x797

                             WEBSITE                   USER_STREET USER_SUITE  \
0                      hildegard.org                   Kulas Light   Apt. 556
1                      anastasia.net                 Victor Plains  Suite 879
2                        ramiro.info             Douglas Extension  Suite 847
3                           kale.biz                   Hoeger Mall   Apt. 692
4                       demarco.info                  Skiles Walks  Suite 351
...                              ...                           ...        ...
55005      https://www.campbell.com/              525 Jackson Port   Apt. 878
55006      http://www.townsend.info/    526 Dennis Harbor Apt. 889   Apt. 691
55007              http://brown.com/   149 Figueroa Walks Apt. 711  Suite 269
55008        https://dean-jones.com/               8959 Karen Glen  Suite 848
55009  https://www.robbins-ford.com/  4986 Courtney Neck Suite 280  Suite 431

                USER_CITY USER_ZIPCODE   USER_LAT    USER_LNG  \
0             Gwenborough   92998-3874 -37.315900   81.149600
1             Wisokyburgh   90566-7771 -43.950900  -34.461800
2           McKenziehaven   59590-4157 -68.610200  -47.065300
3             South Elvis   53919-4257  29.457200 -164.299000
4              Roscoeview        33263 -31.812900   62.534200
...                   ...          ...        ...         ...
55005  North Stephanieton        19518  39.375597   97.178865
55006        New Marystad        01913 -22.499807   34.631837
55007     Lake Amandaland        57758 -25.364915 -140.349789
55008          West Brent        45819  -5.524719 -176.450230
55009   Port Jenniferstad        06610  46.288657   -1.185294

          USER_PHONE_FORMATTED
0        1-770-736-8031 x56442
1          010-692-6593 x09125
2               1-463-123-4447
3            493-170-9623 x156
4                (254)954-1289
...                        ...
55005         846.209.1759x957
55006         325.916.7235x093
55007    001-804-520-9188x5650
55008             625-816-9453
55009  (377) 741-0061 ext. 797

[55010 rows x 13 columns]

In [28]:
users_test

,USER_ID,USER_NAME,USER_USERNAME,USER_EMAIL,USER_PHONE,WEBSITE,USER_STREET,USER_SUITE,USER_CITY,USER_ZIPCODE,USER_LAT,USER_LNG,USER_PHONE_FORMATTED
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.315900,81.149600,1-770-736-8031 x56442
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.950900,-34.461800,010-692-6593 x09125
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.610200,-47.065300,1-463-123-4447
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.457200,-164.299000,493-170-9623 x156
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.812900,62.534200,(254)954-1289
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55005,55006,Alexander Hughes,hamiltonthomas,martinezvictoria@example.net,846.209.1759x957,https://www.campbell.com/,525 Jackson Port,Apt. 878,North Stephanieton,19518,39.375597,97.178865,846.209.1759x957
55006,55007,Paul Kim,robertrussell,staffordwilliam@example.net,325.916.7235x093,http://www.townsend.info/,526 Dennis Harbor Apt. 889,Apt. 691,New Marystad,01913,-22.499807,34.631837,325.916.7235x093
55007,55008,Elizabeth Brewer,mercadolisa,charles49@example.org,001-804-520-9188x5650,http://brown.com/,149 Figueroa Walks Apt. 711,Suite 269,Lake Amandaland,57758,-25.364915,-140.349789,001-804-520-9188x5650
55008,55009,Amanda Underwood,wsimmons,jennifer14@example.org,625-816-9453,https://dean-jones.com/,8959 Karen Glen,Suite 848,West Brent,45819,-5.524719,-176.450230,625-816-9453
55009,55010,Erica Newman,angel66,cannonandrea@example.com,+1-377-741-0061x797,https://www.robbins-ford.com/,4986 Courtney Neck Suite 280,Suite 431,Port Jenniferstad,06610,46.288657,-1.185294,(377) 741-0061 ext. 797

In [36]:
import pandas as pd
from faker import Faker

# Supongamos que ya tienes un DataFrame llamado df_companies con las columnas mencionadas

# Crear un ejemplo de DataFrame
data_companies = {
    'USER_ID': range(1, 11),
    'COMPANY_NAME': ['Romaguera-Crona', 'Deckow-Crist', 'Romaguera-Jacobson', 'Robel-Corkery', 'Keebler LLC', 'Considine-Lockman', 'Johns Group', 'Abernathy Group', 'Yost and Sons', 'Hoeger LLC'],
    'COMPANY_CATCHPHRASE': ['Multi-layered client-server neural-net', 'Proactive didactic contingency', 'Face to face bifurcated interface', 'Multi-tiered zero tolerance productivity', 'User-centric fault-tolerant solution', 'Synchronised bottom-line interface', 'Configurable multimedia task-force', 'Implemented secondary concept', 'Switchable contextually-based project', 'Centralized empowering task-force'],
    'COMPANY_BS': ['harness real-time e-markets', 'synergize scalable supply-chains', 'e-enable strategic applications', 'transition cutting-edge web services', 'revolutionize end-to-end systems', 'e-enable innovative applications', 'generate enterprise e-tailers', 'e-enable extensible e-tailers', 'aggregate real-time technologies', 'target end-to-end models']
}

df_companies = pd.DataFrame(data_companies)

# Crear un objeto Faker
fake = Faker()

# Obtener 30,000 user_id únicos entre 1 y 30000
unique_user_ids = set()
while len(unique_user_ids) < 45:
    unique_user_ids.add(fake.random_int(min=11, max=60))

# Crear 30,000 registros adicionales con user_id únicos
for user_id in unique_user_ids:
    # Generar datos aleatorios usando Faker
    company_name = fake.company()
    company_catchphrase = fake.catch_phrase()
    company_bs = fake.bs()

    # Crear un nuevo registro
    new_record = {
        'USER_ID': user_id,
        'COMPANY_NAME': company_name,
        'COMPANY_CATCHPHRASE': company_catchphrase,
        'COMPANY_BS': company_bs
    }
    
    new_company_df = pd.DataFrame([new_record])

    df_companies = pd.concat([df_companies, new_company_df], ignore_index=True)


# Imprimir el DataFrame resultante
print(df_companies)

    USER_ID                    COMPANY_NAME  \
0         1                 Romaguera-Crona
1         2                    Deckow-Crist
2         3              Romaguera-Jacobson
3         4                   Robel-Corkery
4         5                     Keebler LLC
5         6               Considine-Lockman
6         7                     Johns Group
7         8                 Abernathy Group
8         9                   Yost and Sons
9        10                      Hoeger LLC
10       12                    Blake-Wright
11       13                     Coleman Ltd
12       14  Delacruz, Sweeney and Mcdonald
13       15   Navarro, Clayton and Martinez
14       16                      Fowler Ltd
15       17                    Garrison Inc
16       18                       Parks LLC
17       19                Martinez-Freeman
18       20       Anderson, Combs and Moran
19       21                      Peters LLC
20       22                 Anderson-Martin
21       23               Henderson-Barajas
22       24                     Garcia-Cobb
23       25                    Malone Group
24       26                      Miller LLC
25       27       Davis, Edwards and Wagner
26       28    Davidson, Graves and Gilbert
27       29                   Hale-Mcknight
28       30                  Giles and Sons
29       31                    Shepherd PLC
30       32     Carroll, Johnson and Willis
31       33                     Wallace LLC
32       34                 Anderson-Kelley
33       35                    Maddox-Walsh
34       36                   Contreras PLC
35       37       Porter, Rose and Morrison
36       38                 Mccann and Sons
37       39                    Kennedy-Ford
38       40         Brown, Jordan and Smith
39       41                      Bryant Inc
40       42    Ramirez, Strong and Saunders
41       43                    Lee and Sons
42       46                        Dunn Inc
43       47                  Rodriguez-Pena
44       49                      Barr-Hines
45       51                   Perez-Spencer
46       52                   Blair-Sanders
47       53                    Gonzalez LLC
48       54                      Brewer PLC
49       55                  Burton-Barrera
50       56         Ayers, Torres and Keith
51       57    Moore, Donovan and Henderson
52       58                  Stephens Group
53       59      Horton, Goodwin and Bailey
54       60                   Morales-White

                             COMPANY_CATCHPHRASE  \
0         Multi-layered client-server neural-net
1                 Proactive didactic contingency
2              Face to face bifurcated interface
3       Multi-tiered zero tolerance productivity
4           User-centric fault-tolerant solution
5             Synchronised bottom-line interface
6             Configurable multimedia task-force
7                  Implemented secondary concept
8          Switchable contextually-based project
9              Centralized empowering task-force
10                    Digitized local complexity
11          User-centric logistical secured line
12                     Diverse cohesive leverage
13             Up-sized content-based projection
14   Adaptive next generation Local Area Network
15                  Organic empowering benchmark
16       Decentralized systemic customer loyalty
17                De-engineered exuding strategy
18         Persevering 24hour Local Area Network
19             Horizontal composite productivity
20    Fundamental human-resource instruction set
21          Team-oriented composite architecture
22               Extended grid-enabled moderator
23          Fundamental secondary knowledge user
24        Synergistic human-resource methodology
25       Function-based multi-tasking encryption
26       Multi-lateral client-driven application
27                    Organic full-range project
28              Front-line motivating initiative
29        Re-engineered object-oriented attitude
30        Enterprise-wide 5thgeneration hardware
31         Ameliorated asymmetric implementation
32    Programmable attitude-oriented application
33          Ameliorated 4thgeneration time-frame
34  Horizontal upward-trending open architecture
35            Fundamental fault-tolerant product
36            Pre-emptive incremental monitoring
37                Enhanced encompassing alliance
38                 Distributed dynamic emulation
39               Cross-group bottom-line project
40            Multi-layered real-time neural-net
41                Exclusive multi-state analyzer
42               Exclusive content-based website
43                Focused asynchronous workforce
44           Assimilated impactful collaboration
45                     Visionary local structure
46                Inverse didactic knowledgebase
47               Persevering mobile productivity
48       Universal value-added pricing structure
49             Operative asymmetric secured line
50              Stand-alone even-keeled extranet
51          Up-sized context-sensitive moderator
52             Integrated interactive definition
53                 Proactive radical focus group
54             Down-sized holistic orchestration

                                   COMPANY_BS
0                 harness real-time e-markets
1            synergize scalable supply-chains
2             e-enable strategic applications
3        transition cutting-edge web services
4            revolutionize end-to-end systems
5            e-enable innovative applications
6               generate enterprise e-tailers
7               e-enable extensible e-tailers
8            aggregate real-time technologies
9                    target end-to-end models
10                 target intuitive paradigms
11                   drive innovative portals
12           benchmark customized convergence
13             strategize extensible eyeballs
14          e-enable distributed deliverables
15               enable dynamic relationships
16                 optimize impactful metrics
17         synthesize compelling technologies
18          maximize open-source technologies
19            harness bleeding-edge paradigms
20                  evolve turn-key mindshare
21      integrate plug-and-play architectures
22           incubate out-of-the-box networks
23           matrix strategic functionalities
24            leverage leading-edge mindshare
25              brand next-generation schemas
26    facilitate best-of-breed info-mediaries
27            implement plug-and-play portals
28            drive one-to-one info-mediaries
29                monetize turn-key solutions
30  re-contextualize e-business architectures
31                  unleash global interfaces
32            facilitate strategic interfaces
33                    brand holistic networks
34           syndicate vertical supply-chains
35              innovate user-centric systems
36        revolutionize distributed platforms
37         productize cutting-edge e-commerce
38       disintermediate extensible e-tailers
39                  redefine sticky e-tailers
40      innovate leading-edge infrastructures
41     disintermediate seamless supply-chains
42                  extend ubiquitous markets
43                    matrix wireless markets
44              seize intuitive architectures
45               iterate dot-com technologies
46                cultivate cross-media users
47            utilize one-to-one partnerships
48              repurpose end-to-end channels
49      implement leading-edge info-mediaries
50              optimize back-end convergence
51              productize one-to-one portals
52           embrace leading-edge initiatives
53                    streamline seamless ROI
54          re-intermediate dynamic e-markets

In [37]:
unique_user_ids = set()
while len(unique_user_ids) < 30:
    unique_user_ids.add(fake.random_int(min=1, max=50))
    
    
unique_user_ids

{1,
 3,
 4,
 5,
 6,
 8,
 10,
 11,
 15,
 16,
 17,
 18,
 20,
 22,
 24,
 25,
 27,
 29,
 30,
 31,
 35,
 36,
 38,
 39,
 41,
 44,
 45,
 46,
 47,
 48}

In [106]:
booking_df= pd.read_csv('raw_bookings.csv', sep=';')
booking_df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,City Hotel,0,177,2016,December,30,2,5,0,0,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,City Hotel,0,107,2016,December,31,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [108]:
def bookings_extended(quantity_users, booking_df):
    # Crear un objeto Faker
    fake = Faker()
    
    df = pd.DataFrame()
    # Agregar columna 'USER_ID' con valores aleatorios entre 1 y 55010
    df['USER_ID'] = [fake.random_int(min=1, max=quantity_users) for i in range(len(df_reservas))]

    # Agregar columna 'LOCALIZADOR_RESERVA' con valores únicos
    booking_codes = set()
    
    while len(booking_codes) < len(booking_df):
        booking_code = fake.vin()
        booking_codes.add(booking_code)

    df['BOOKING_CODE'] = list(booking_codes)
    
    booking_df_extended = pd.concat([df,booking_df], axis=1)


    return booking_df_extended

In [429]:
bookings= pd.read_csv('raw_bookings.csv', sep=';')
bookings

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,City Hotel,0,177,2016,December,30,2,5,0,0,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,City Hotel,0,107,2016,December,31,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [450]:
bookings_c_a = bookings.copy()

In [453]:
bookings_c_a['arrival_date'] = pd.to_datetime(bookings_c_a['arrival_date_year'].astype(str) + '-' +
                                     bookings_c_a['arrival_date_month'].astype(str) + '-' +
                                     bookings_c_a['arrival_date_day_of_month'].astype(str), format='%Y-%B-%d')

In [454]:
bookings_c_a

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,arrival_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,...,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016,2016-01-01
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,...,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016,2016-01-01
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,...,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016,2016-01-01
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,...,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016,2016-01-01
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,...,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,...,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017,2016-12-30
56703,City Hotel,0,177,2016,December,30,2,5,0,0,...,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017,2016-12-30
56704,City Hotel,0,107,2016,December,31,2,5,2,0,...,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017,2016-12-31
56705,City Hotel,0,310,2016,December,27,2,10,2,0,...,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27
56706,City Hotel,0,310,2016,December,27,2,10,2,0,...,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27

In [440]:
print(bookings_c_a['arrival_date'][0])
bookings_c_a['arrival_date'][0] + timedelta(days=35)

2016-01-01 00:00:00

Timestamp('2016-02-05 00:00:00')

In [514]:
def create_id(df, column_id, quantity=None):
    '''
    Creation of random ids in dataframe
    if a specified number of ids is required and the df size exceeds this number, 
    random values between 1 and this specified number will be created, otherwise unique id values will be created for each record.
    
    inputs:
    df: df to which ids are to be added
    column_id: name (str) to be assigned to the new ids column
    quantity(optional): number of ids to be added
    
    '''
    #create faker object
    fake = Faker()
    if quantity:
        df[column_id] = [fake.random_int(min=1, max=quantity) for i in range(len(df))]
    else:
        df[column_id] = np.random.permutation(np.arange(1, len(df) + 1))

In [515]:
create_id(bookings_c_a, 'hola_id', quantity=None)

In [516]:
bookings_c_a

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,arrival_date,departure_date,reservation_date,hola_id
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,...,0,A,D,2.0,Check-Out,02/01/2016,2016-01-01,2016-01-02,2015-09-14,50749
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,...,0,H,H,2.0,Check-Out,02/01/2016,2016-01-01,2016-01-02,2015-09-14,49155
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,...,0,D,D,2.0,No-Show,01/01/2016,2016-01-01,2016-01-02,2015-12-30,5992
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,...,0,A,D,2.0,Check-Out,03/01/2016,2016-01-01,2016-01-03,2015-10-05,18800
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,...,0,G,G,2.0,Canceled,22/12/2015,2016-01-01,2016-01-03,2015-12-12,48147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,...,0,A,A,9.0,Check-Out,06/01/2017,2016-12-30,2017-01-06,2016-12-13,6205
56703,City Hotel,0,177,2016,December,30,2,5,0,0,...,0,E,K,NaN,Check-Out,06/01/2017,2016-12-30,2017-01-06,2016-07-06,1719
56704,City Hotel,0,107,2016,December,31,2,5,2,0,...,0,A,B,2.0,Check-Out,07/01/2017,2016-12-31,2017-01-07,2016-09-15,39350
56705,City Hotel,0,310,2016,December,27,2,10,2,0,...,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27,2017-01-08,2016-02-21,24867
56706,City Hotel,0,310,2016,December,27,2,10,2,0,...,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27,2017-01-08,2016-02-21,52117

In [451]:
import pandas as pd

def get_departure_date(df):
    
    '''
    Function to calculate the departure date column.

    inputs:
    df = booking dataframe
    '''

    #calculate the column 'departure_date' by adding 'stays_in_week_end_nights' and 'stays_in_week_nights'.
    df['departure_date'] = df['arrival_date'] + pd.to_timedelta(df['stays_in_weekend_nights'] + df['stays_in_week_nights'], unit='D')

In [455]:
get_departure_date(bookings_c_a)

In [456]:
bookings_c_a

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,arrival_date,departure_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,...,0,0,0,A,D,2.0,Check-Out,02/01/2016,2016-01-01,2016-01-02
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,...,0,0,0,H,H,2.0,Check-Out,02/01/2016,2016-01-01,2016-01-02
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,...,0,0,0,D,D,2.0,No-Show,01/01/2016,2016-01-01,2016-01-02
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,...,0,0,0,A,D,2.0,Check-Out,03/01/2016,2016-01-01,2016-01-03
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,...,0,0,0,G,G,2.0,Canceled,22/12/2015,2016-01-01,2016-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,...,0,0,0,A,A,9.0,Check-Out,06/01/2017,2016-12-30,2017-01-06
56703,City Hotel,0,177,2016,December,30,2,5,0,0,...,0,0,0,E,K,NaN,Check-Out,06/01/2017,2016-12-30,2017-01-06
56704,City Hotel,0,107,2016,December,31,2,5,2,0,...,0,0,0,A,B,2.0,Check-Out,07/01/2017,2016-12-31,2017-01-07
56705,City Hotel,0,310,2016,December,27,2,10,2,0,...,0,0,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27,2017-01-08
56706,City Hotel,0,310,2016,December,27,2,10,2,0,...,0,0,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27,2017-01-08

In [457]:


def reservation_date(df):
    
    '''
    Function to calculate the reservation date column.

    inputs:
    df = bookings dataframe
    '''

    #calculate the reservation date column by removing lead time
    df['reservation_date'] = df['arrival_date'] - pd.to_timedelta(df['lead_time'], unit='D')

In [458]:
reservation_date(bookings_c_a)

bookings_c_a

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,arrival_date,departure_date,reservation_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,...,0,0,A,D,2.0,Check-Out,02/01/2016,2016-01-01,2016-01-02,2015-09-14
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,...,0,0,H,H,2.0,Check-Out,02/01/2016,2016-01-01,2016-01-02,2015-09-14
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,...,0,0,D,D,2.0,No-Show,01/01/2016,2016-01-01,2016-01-02,2015-12-30
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,...,0,0,A,D,2.0,Check-Out,03/01/2016,2016-01-01,2016-01-03,2015-10-05
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,...,0,0,G,G,2.0,Canceled,22/12/2015,2016-01-01,2016-01-03,2015-12-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,...,0,0,A,A,9.0,Check-Out,06/01/2017,2016-12-30,2017-01-06,2016-12-13
56703,City Hotel,0,177,2016,December,30,2,5,0,0,...,0,0,E,K,NaN,Check-Out,06/01/2017,2016-12-30,2017-01-06,2016-07-06
56704,City Hotel,0,107,2016,December,31,2,5,2,0,...,0,0,A,B,2.0,Check-Out,07/01/2017,2016-12-31,2017-01-07,2016-09-15
56705,City Hotel,0,310,2016,December,27,2,10,2,0,...,0,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27,2017-01-08,2016-02-21
56706,City Hotel,0,310,2016,December,27,2,10,2,0,...,0,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27,2017-01-08,2016-02-21

In [283]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9], 'D': [10, 11, 12]}
df = pd.DataFrame(data)

# Obtener el orden actual de las columnas
columnas_orden_actual = df.columns.tolist()

# Especificar el nuevo orden de las columnas
nuevo_orden = ['A', 'B', 'D', 'C']

# Reordenar el DataFrame con el nuevo orden de las columnas
df = df[nuevo_orden]

# Imprimir el DataFrame resultante
print(df)

   A  B   D  C
0  1  4  10  7
1  2  5  11  8
2  3  6  12  9

In [517]:
bookings_c_a

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,arrival_date,departure_date,reservation_date,hola_id
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,...,0,A,D,2.0,Check-Out,02/01/2016,2016-01-01,2016-01-02,2015-09-14,50749
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,...,0,H,H,2.0,Check-Out,02/01/2016,2016-01-01,2016-01-02,2015-09-14,49155
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,...,0,D,D,2.0,No-Show,01/01/2016,2016-01-01,2016-01-02,2015-12-30,5992
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,...,0,A,D,2.0,Check-Out,03/01/2016,2016-01-01,2016-01-03,2015-10-05,18800
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,...,0,G,G,2.0,Canceled,22/12/2015,2016-01-01,2016-01-03,2015-12-12,48147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,...,0,A,A,9.0,Check-Out,06/01/2017,2016-12-30,2017-01-06,2016-12-13,6205
56703,City Hotel,0,177,2016,December,30,2,5,0,0,...,0,E,K,NaN,Check-Out,06/01/2017,2016-12-30,2017-01-06,2016-07-06,1719
56704,City Hotel,0,107,2016,December,31,2,5,2,0,...,0,A,B,2.0,Check-Out,07/01/2017,2016-12-31,2017-01-07,2016-09-15,39350
56705,City Hotel,0,310,2016,December,27,2,10,2,0,...,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27,2017-01-08,2016-02-21,24867
56706,City Hotel,0,310,2016,December,27,2,10,2,0,...,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27,2017-01-08,2016-02-21,52117

In [518]:
def get_country_name(country_code):
    '''
    Use pycountry to identify code country in df
    '''
    try:
        country = pycountry.countries.get(alpha_3=country_code)
        if country:
            return country.name
        else:
            country = pycountry.countries.get(alpha_2=country_code)
            return country.name
    except (LookupError, AttributeError):
        return np.nan

In [522]:
get_country_name('VEN')

'Venezuela, Bolivarian Republic of'

In [528]:
def unique_country_list(df_column_w_codes):
    list_countries = list(df_column_w_codes.apply(lambda x: get_country_name(x)).unique())
    return list_countries

In [529]:
list_countries = unique_country_list(bookings_c_a.country)

In [530]:
list_countries

['Russian Federation',
 'Portugal',
 'Argentina',
 'France',
 'United Kingdom',
 'Germany',
 'Brazil',
 'Ireland',
 'United States',
 'Korea, Republic of',
 'Spain',
 'Denmark',
 'China',
 'Netherlands',
 'Hungary',
 nan,
 'Poland',
 'Belgium',
 'Luxembourg',
 'Austria',
 'Switzerland',
 'United Arab Emirates',
 'Italy',
 'Finland',
 'Tunisia',
 'Norway',
 'Romania',
 'Jamaica',
 'Albania',
 'Australia',
 'Sweden',
 'Croatia',
 'Hong Kong',
 'India',
 'Israel',
 'Czechia',
 'Iran, Islamic Republic of',
 'Georgia',
 'Algeria',
 'Morocco',
 'Andorra',
 'Turkey',
 'Mozambique',
 'South Africa',
 'Gibraltar',
 'Uruguay',
 'Belarus',
 'Estonia',
 'Lithuania',
 'Jersey',
 'Central African Republic',
 'Cyprus',
 'Greece',
 'Latvia',
 'Colombia',
 'Guernsey',
 'Kuwait',
 'Cuba',
 'Ukraine',
 'Cameroon',
 'Malaysia',
 'Thailand',
 'New Zealand',
 'Bosnia and Herzegovina',
 'Mauritius',
 'Nigeria',
 'Comoros',
 'Oman',
 'Suriname',
 'Mexico',
 'Chile',
 'Uganda',
 'Bulgaria',
 "Côte d'Ivoire",
 'Serbia',
 'Dominican Republic',
 'Jordan',
 'Syrian Arab Republic',
 'Philippines',
 'Puerto Rico',
 'Japan',
 'Singapore',
 'Armenia',
 'Burundi',
 'Angola',
 'Saudi Arabia',
 'Lebanon',
 'Viet Nam',
 'Azerbaijan',
 'Slovenia',
 'Palau',
 'Qatar',
 'Egypt',
 'Peru',
 'Slovakia',
 'Cabo Verde',
 'Maldives',
 'Malta',
 'Malawi',
 'Ecuador',
 'Venezuela, Bolivarian Republic of',
 'Iraq',
 'Senegal',
 'Indonesia',
 'Taiwan, Province of China',
 'Honduras',
 'Rwanda',
 'Pakistan',
 'Zambia',
 'Cambodia',
 'Monaco',
 'Bangladesh',
 'Iceland',
 'Uzbekistan',
 'Kazakhstan',
 'Isle of Man',
 'Tajikistan',
 'Nicaragua',
 'Benin',
 'Macao',
 'Virgin Islands, British',
 'Costa Rica',
 'Tanzania, United Republic of',
 'Gabon',
 'North Macedonia',
 'Ghana',
 'Guadeloupe',
 'Kenya',
 'Burkina Faso',
 'Sri Lanka',
 'Libya',
 'Panama',
 'Guinea-Bissau',
 'Mali',
 'Bahrain',
 'Namibia',
 'Bolivia, Plurinational State of',
 'Seychelles',
 'Paraguay',
 'Barbados',
 'Aruba',
 'Anguilla',
 'El Salvador',
 'Dominica',
 'French Polynesia',
 'Liechtenstein',
 'Guyana',
 'Saint Lucia',
 'Antarctica',
 'Montenegro']

In [532]:
def add_countries_to_df(df,df_column_w_codes):
    country_list = unique_country_list(df_column_w_codes)
    
    df['country'] = np.random.choice(country_list, len(df), replace=True)

In [534]:
bookings_c_a

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,arrival_date,departure_date,reservation_date,hola_id
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,...,0,A,D,2.0,Check-Out,02/01/2016,2016-01-01,2016-01-02,2015-09-14,50749
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,...,0,H,H,2.0,Check-Out,02/01/2016,2016-01-01,2016-01-02,2015-09-14,49155
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,...,0,D,D,2.0,No-Show,01/01/2016,2016-01-01,2016-01-02,2015-12-30,5992
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,...,0,A,D,2.0,Check-Out,03/01/2016,2016-01-01,2016-01-03,2015-10-05,18800
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,...,0,G,G,2.0,Canceled,22/12/2015,2016-01-01,2016-01-03,2015-12-12,48147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,...,0,A,A,9.0,Check-Out,06/01/2017,2016-12-30,2017-01-06,2016-12-13,6205
56703,City Hotel,0,177,2016,December,30,2,5,0,0,...,0,E,K,NaN,Check-Out,06/01/2017,2016-12-30,2017-01-06,2016-07-06,1719
56704,City Hotel,0,107,2016,December,31,2,5,2,0,...,0,A,B,2.0,Check-Out,07/01/2017,2016-12-31,2017-01-07,2016-09-15,39350
56705,City Hotel,0,310,2016,December,27,2,10,2,0,...,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27,2017-01-08,2016-02-21,24867
56706,City Hotel,0,310,2016,December,27,2,10,2,0,...,0,A,A,9.0,Check-Out,08/01/2017,2016-12-27,2017-01-08,2016-02-21,52117

In [536]:
users_test

,BOOKING_CODE,id,name,username,email,address,phone,website,company,company_id,test2_id
0,41DUBNM48VSCNEGTN,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,NaN,6,NaN
1,0KYFCF6T2XU1M8Z5C,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,NaN,2,NaN
2,JHYSAP889W8EAPXDY,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,NaN,25,NaN
3,RABKL9SU6VGST7BAT,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",29,8.0
4,WCRR8BTT4MV6B414X,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",44,7.0
5,UZLZ7H0S3JDYY6G2K,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '...",30,6.0
6,ENMEHSEF9UHKMH647,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config...",41,5.0
7,LXK7S18X4FYDM9ZNY,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im...",39,5.0
8,7MKF9EX554VSLSS5U,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit...",42,8.0
9,BFYUDFNGXWUXM2567,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,NaN,13,NaN
10,0G7JW92J4DL23GNFD,11,Joseph Lynn,dawnhester,katiesmith@example.net,"{'street': 'Christopher Run', 'suite': 'Suite ...",2699388234,http://www.patel-rodriguez.org/,NaN,7,NaN
11,TZHM6LW20P3WVR9PG,12,Thomas Morales,davidyates,ochoashawn@example.org,"{'street': 'Peter Crossing', 'suite': 'Room 30...",+1-487-908-2744x9631,https://www.johnson-gonzalez.info/,"{'name': 'Nelson-Harris', 'catchPhrase': 'Proa...",12,8.0
12,HGB164TW0WKXZY776,13,Kevin Ross,ihoward,gonzalezlatasha@example.org,"{'street': 'Marsh Union', 'suite': 'Room 303',...",(633)678-7900,https://www.francis.com/,NaN,35,NaN
13,2BM2KD6CXKUEMNEEW,14,Rick Hamilton,lesliegibson,nhoward@example.net,"{'street': 'Wilson Keys', 'suite': 'Apt. 101',...",416-337-3376x0443,http://www.scott.info/,NaN,16,NaN
14,T50UWWZK1FBY16X8J,15,Katherine Estrada,ryanellis,kevindavis@example.com,"{'street': 'Jones Tunnel', 'suite': 'Apt. 101'...",001-511-347-2039x646,https://lee.com/,NaN,50,NaN
15,YSNNMM4L994WTFB82,16,Donna Taylor,leonardsmith,ismith@example.com,"{'street': 'Wesley Parks', 'suite': 'Suite 202...",616-951-4342x683,https://palmer-massey.com/,"{'name': 'Hodges Group', 'catchPhrase': 'Ameli...",32,1.0
16,SYV484X38CEET5ZJN,17,Yvonne Powell,nicolebutler,carl33@example.com,"{'street': 'Stephens Club', 'suite': 'Suite 20...",242-286-2622,https://russell.info/,NaN,23,NaN
17,UK6FXEWF6YMA1WDBC,18,Robert Johnson,smithamber,timothy82@example.org,"{'street': 'Gary Views', 'suite': 'Apt. 101', ...",001-820-592-8983x347,https://warren.com/,"{'name': 'Fisher, Snyder and Frank', 'catchPhr...",34,2.0
18,SE4LF8Y34AJ8MSL6A,19,Renee Clark,kaneronald,tony14@example.net,"{'street': 'Farmer Hill', 'suite': 'Suite 202'...",565.256.7410,http://chambers-steele.com/,NaN,3,NaN
19,JDKBGG3P97PRH6HD3,20,Meghan Cooper,lisa29,gsellers@example.org,"{'street': 'Laura Springs', 'suite': 'Apt. 101...",001-411-726-0988x19998,https://www.case.biz/,"{'name': 'Perez, Mcintyre and Gilbert', 'catch...",46,3.0
20,C1TSUUWG3DZRKBMY4,21,Anne Smith,denise93,christopher31@example.org,"{'street': 'Zachary Freeway', 'suite': 'Suite ...",(363)882-7404x7690,http://stephens-taylor.info/,"{'name': 'Gibson-Gill', 'catchPhrase': 'Devolv...",45,1.0
21,TVMRJ9V27ML62L90H,22,Maurice Schmidt,mcclainjohn,sroman@example.com,"{'street': 'Vaughan Unions', 'suite': 'Room 30...",+1-421-473-0381x8260,http://www.combs-beard.biz/,NaN,31,NaN
22,4TRDZCH7X35SVT67N,23,Daniel Lee,austin15,diane75@example.com,"{'street': 'Sullivan Fields', 'suite': 'Room 3...",324.394.7494x8725,http://www.taylor.com/,"{'name': 'Leonard PLC', 'catchPhrase': 'Centra...",38,2.0
23,9DTVCAYC5E2VZV7MB,24,Casey Carson,cli,francomary@example.com,"{'street': 'Reed Crossing', 'suite': 'Apt. 101...",2232975318,https://maynard.net/,NaN,15,NaN
24,YVZE94C16CLKW1HWB,25,Linda Cox,travis56,rwalker@example.net,"{'street': 'Beasley Pine', 'suite': 'Room 303'...",(708)429-9261,http://hall.com/,NaN,4,NaN
25,0AR72HE89EZJENYA3,26,John Logan,qreed,susan68@example.net,"{'street': 'Daniel Meadows', 'suite': 'Apt. 10...",7063727330,http://smith-sanchez.com/,NaN,47,NaN
26,UM8DL4N65W204K26Y,27,Thomas Powers,moorematthew,smithheather@example.org,"{'street': 'Michael Fords', 'suite': 'Room 303...",(993)585-2787x16722,https://www.hall.com/,"{'name': 'Clark Ltd', 'catchPhrase': 'Object-b...",28,7.0
27,CYGS6VCJ6R8T4A6W0,28,Kenneth Franklin,marshalexander,elizabeth80@example.org,"{'street': 'Davis Rapids', 'suite': 'Suite 202...",001-723-292-0824x427,https://skinner.com/,"{'name': 'Meza-Baker', 'catchPhrase': 'Cloned ...",43,5.0
28,1YXJRWDK3D9GG8GNF,29,Craig Montgomery,bushaaron,christopher02@example.org,"{'street': 'Guerrero Park', 'suite': 'Apt. 101...",677.817.8815x895,https://www.kramer.com/,NaN,24,NaN
29,TD2TY4L34YLTM01UZ,30,Daniel Mills,johnbecker,chambersdaniel@example.com,"{'street': 'Brendan Ports', 'suite': 'Suite 20...",630.630.7877,http://franco.com/,NaN,10,NaN
30,EM3KA3RN19HB4F7K3,31,Michelle Wright,allisonstokes,paul85@example.com,"{'street': 'Alyssa Centers', 'suite': 'Apt. 10...",492.984.1342x8830,https://www.patterson-smith.com/,NaN,27,NaN
31,7E3D54SX8K1EPW4SG,32,James Long,anthonydaugherty,powellanthony@example.org,"{'street': 'Joseph Expressway', 'suite': 'Apt....",532-695-9610x4947,https://www.powell.com/,"{'name': 'Sanchez, Munoz and Wong', 'catchPhra...",49,4.0
32,37UT11LXXFHVD8NYY,33,Michael Pierce,jenniferortega,uhunter@example.org,"{'street': 'Gomez Heights', 'suite': 'Room 303...",(683)800-4515x17249,https://cox.com/,"{'name': 'Johnson, Smith and Harris', 'catchPh...",8,1.0
33,C2G1YGG798B47YSKB,34,Lisa Baldwin,grosszachary,michaelnichols@example.com,"{'street': 'Laurie Centers', 'suite': 'Suite 2...",546-482-8804,http://www.joyce.net/,NaN,9,NaN
34,94R5TWGA3SEH9BEC7,35,Leah Parrish,vwilliams,jennifer31@example.net,"{'street': 'Sergio Mountain', 'suite': 'Apt. 1...",462.538.9573x56188,http://www.ayala-sanchez.com/,NaN,17,NaN
35,0MG89ETB7EXMB1NVA,36,Alison Lee,lisaowens,jose72@example.com,"{'street': 'Sandra Tunnel', 'suite': 'Room 303...",533-385-5479,http://wall.biz/,"{'name': 'Gregory-Ramos', 'catchPhrase': 'Stan...",26,7.0
36,VAZJB2EB5T3ZH5PMA,37,Mary Acosta,copelandjulie,oconnellgeorge@example.com,"{'street': 'Romero Green', 'suite': 'Apt. 101'...",(226)349-8534x7796,http://davila-kennedy.com/,"{'name': 'Gilbert, Carroll and Coleman', 'catc...",33,8.0
37,DNMJUZUW6CMSG47FX,38,Daniel Mcdowell,bonnieharper,thomasmiller@example.org,"{'street': 'Knight Well', 'suite': 'Room 303',...",(955)874-6483,https://www.maynard-noble.com/,"{'name': 'Arnold-Conway', 'catchPhrase': 'Ente...",5,4.0
38,HMP1TLMK8JPZTAS7P,39,Brian Mccarty,jacob95,gwhite@example.org,"{'street': 'Dominique Stream', 'suite': 'Room ...",585-319-3156x766,http://freeman.biz/,"{'name': 'Terry-Adkins', 'catchPhrase': 'Polar...",11,5.0
39,TGC6VJ7N7EXE94BYD,40,Jeffrey Rice,jonathanwright,conradanthony@example.com,"{'street': 'Thomas Mountain', 'suite': 'Apt. 1...",863-403-1688,https://www.bailey-garcia.com/,NaN,18,NaN
40,GHFN993K7JH9DAZD8,41,Sarah Strong,daviskathryn,jeffreyedwards@example.org,"{'street': 'Sanchez Ridges', 'suite': 'Suite 2...",(382)790-3051x03985,http://www.johnson.com/,"{'name': 'Whitaker-Hickman', 'catchPhrase': 'G...",36,7.0
41,5S8MT85V18JF815A7,42,Glenn Bishop,jamesjennings,davisdaniel@example.net,"{'street': 'Mills Trace', 'suite': 'Suite 202'...",6907037797,http://martin.com/,"{'name': 'Sheppard-Rivera', 'catchPhrase': 'To...",48,8.0
42,08FZGVAL8F5ZV6XDW,43,Thomas Waters,brittany87,amandahaynes@example.net,"{'street': 'Franklin Underpass', 'suite': 'Sui...",412.882.7295x476,https://morrow-stewart.com/,"{'name': 'Fisher, Black and Lopez', 'catchPhra...",19,1.0
43,JFLB0BTPXULN7A5V7,44,Aaron Williams,autumn50,clarkandrew@example.net,"{'street': 'John Track', 'suite': 'Suite 202',...",001-885-422-5392,https://cooper.com/,"{'name': 'Jones-Conner', 'catchPhrase': 'Enter...",22,6.0
44,ERLUB47A3XCM24MUC,45,John Hogan,miguel88,brianweber@example.org,"{'street': 'Michael Center', 'suite': 'Room 30...",(450)971-5790,http://www.wilson-carlson.com/,"{'name': 'Randall-Valencia', 'catchPhrase': 'R...",37,6.0
45,CEBNM2T267XU0K242,46,Scott Rice,whitneyjames,bedwards@example.com,"{'street': 'Dean Falls', 'suite': 'Suite 202',...",475.640.7620,http://www.norris.com/,"{'name': 'Thompson, Foster and Rice', 'catchPh...",14,6.0
46,NG1ZBHX89WWJDBWTZ,47,Robert Clark,jonesmatthew,linda09@example.net,"{'street': 'Joseph Drive', 'suite': 'Apt. 101'...",(402)281-1645,https://www.bush-smith.net/,"{'name': 'Weber-Mccormick', 'catchPhrase': 'In...",20,5.0
47,8CX6Y01U6B478JCYH,48,Sheri Horn,robert51,daniellefuller@example.com,"{'street': 'Bird Mission', 'suite': 'Apt. 101'...",541-529-2211x1618,http://mcdonald.com/,"{'name': 'Crawford-Peterson', 'catchPhrase': '...",1,8.0
48,VRX18L085E69NR2ST,49,Jennifer Flores,sdominguez,nancy77@example.org,"{'street': 'Sean Inlet', 'suite': 'Apt. 101', ...",001-606-296-2566x83021,http://castro-howard.biz/,"{'name': 'Mitchell, Butler and Hill', 'catchPh...",40,5.0
49,UD4DPFZ371G9GF46S,50,William White MD,katherine09,nicoleharmon@example.com,"{'street': 'Erin Trace', 'suite': 'Suite 202',...",(741)685-0114,http://fitzgerald.biz/,NaN,21,NaN

In [537]:
add_countries_to_df(users_test, bookings_c_a.country)

In [538]:
users_test

,BOOKING_CODE,id,name,username,email,address,phone,website,company,company_id,test2_id,country
0,41DUBNM48VSCNEGTN,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,NaN,6,NaN,Honduras
1,0KYFCF6T2XU1M8Z5C,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,NaN,2,NaN,India
2,JHYSAP889W8EAPXDY,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,NaN,25,NaN,Malta
3,RABKL9SU6VGST7BAT,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",29,8.0,Netherlands
4,WCRR8BTT4MV6B414X,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",44,7.0,Ireland
5,UZLZ7H0S3JDYY6G2K,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '...",30,6.0,Monaco
6,ENMEHSEF9UHKMH647,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config...",41,5.0,China
7,LXK7S18X4FYDM9ZNY,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im...",39,5.0,"Bolivia, Plurinational State of"
8,7MKF9EX554VSLSS5U,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit...",42,8.0,Burundi
9,BFYUDFNGXWUXM2567,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,NaN,13,NaN,Cyprus
10,0G7JW92J4DL23GNFD,11,Joseph Lynn,dawnhester,katiesmith@example.net,"{'street': 'Christopher Run', 'suite': 'Suite ...",2699388234,http://www.patel-rodriguez.org/,NaN,7,NaN,Thailand
11,TZHM6LW20P3WVR9PG,12,Thomas Morales,davidyates,ochoashawn@example.org,"{'street': 'Peter Crossing', 'suite': 'Room 30...",+1-487-908-2744x9631,https://www.johnson-gonzalez.info/,"{'name': 'Nelson-Harris', 'catchPhrase': 'Proa...",12,8.0,Guernsey
12,HGB164TW0WKXZY776,13,Kevin Ross,ihoward,gonzalezlatasha@example.org,"{'street': 'Marsh Union', 'suite': 'Room 303',...",(633)678-7900,https://www.francis.com/,NaN,35,NaN,Switzerland
13,2BM2KD6CXKUEMNEEW,14,Rick Hamilton,lesliegibson,nhoward@example.net,"{'street': 'Wilson Keys', 'suite': 'Apt. 101',...",416-337-3376x0443,http://www.scott.info/,NaN,16,NaN,Montenegro
14,T50UWWZK1FBY16X8J,15,Katherine Estrada,ryanellis,kevindavis@example.com,"{'street': 'Jones Tunnel', 'suite': 'Apt. 101'...",001-511-347-2039x646,https://lee.com/,NaN,50,NaN,Georgia
15,YSNNMM4L994WTFB82,16,Donna Taylor,leonardsmith,ismith@example.com,"{'street': 'Wesley Parks', 'suite': 'Suite 202...",616-951-4342x683,https://palmer-massey.com/,"{'name': 'Hodges Group', 'catchPhrase': 'Ameli...",32,1.0,Guinea-Bissau
16,SYV484X38CEET5ZJN,17,Yvonne Powell,nicolebutler,carl33@example.com,"{'street': 'Stephens Club', 'suite': 'Suite 20...",242-286-2622,https://russell.info/,NaN,23,NaN,Iceland
17,UK6FXEWF6YMA1WDBC,18,Robert Johnson,smithamber,timothy82@example.org,"{'street': 'Gary Views', 'suite': 'Apt. 101', ...",001-820-592-8983x347,https://warren.com/,"{'name': 'Fisher, Snyder and Frank', 'catchPhr...",34,2.0,Cambodia
18,SE4LF8Y34AJ8MSL6A,19,Renee Clark,kaneronald,tony14@example.net,"{'street': 'Farmer Hill', 'suite': 'Suite 202'...",565.256.7410,http://chambers-steele.com/,NaN,3,NaN,Nigeria
19,JDKBGG3P97PRH6HD3,20,Meghan Cooper,lisa29,gsellers@example.org,"{'street': 'Laura Springs', 'suite': 'Apt. 101...",001-411-726-0988x19998,https://www.case.biz/,"{'name': 'Perez, Mcintyre and Gilbert', 'catch...",46,3.0,Philippines
20,C1TSUUWG3DZRKBMY4,21,Anne Smith,denise93,christopher31@example.org,"{'street': 'Zachary Freeway', 'suite': 'Suite ...",(363)882-7404x7690,http://stephens-taylor.info/,"{'name': 'Gibson-Gill', 'catchPhrase': 'Devolv...",45,1.0,China
21,TVMRJ9V27ML62L90H,22,Maurice Schmidt,mcclainjohn,sroman@example.com,"{'street': 'Vaughan Unions', 'suite': 'Room 30...",+1-421-473-0381x8260,http://www.combs-beard.biz/,NaN,31,NaN,Switzerland
22,4TRDZCH7X35SVT67N,23,Daniel Lee,austin15,diane75@example.com,"{'street': 'Sullivan Fields', 'suite': 'Room 3...",324.394.7494x8725,http://www.taylor.com/,"{'name': 'Leonard PLC', 'catchPhrase': 'Centra...",38,2.0,Belgium
23,9DTVCAYC5E2VZV7MB,24,Casey Carson,cli,francomary@example.com,"{'street': 'Reed Crossing', 'suite': 'Apt. 101...",2232975318,https://maynard.net/,NaN,15,NaN,Mexico
24,YVZE94C16CLKW1HWB,25,Linda Cox,travis56,rwalker@example.net,"{'street': 'Beasley Pine', 'suite': 'Room 303'...",(708)429-9261,http://hall.com/,NaN,4,NaN,Cambodia
25,0AR72HE89EZJENYA3,26,John Logan,qreed,susan68@example.net,"{'street': 'Daniel Meadows', 'suite': 'Apt. 10...",7063727330,http://smith-sanchez.com/,NaN,47,NaN,"Taiwan, Province of China"
26,UM8DL4N65W204K26Y,27,Thomas Powers,moorematthew,smithheather@example.org,"{'street': 'Michael Fords', 'suite': 'Room 303...",(993)585-2787x16722,https://www.hall.com/,"{'name': 'Clark Ltd', 'catchPhrase': 'Object-b...",28,7.0,Brazil
27,CYGS6VCJ6R8T4A6W0,28,Kenneth Franklin,marshalexander,elizabeth80@example.org,"{'street': 'Davis Rapids', 'suite': 'Suite 202...",001-723-292-0824x427,https://skinner.com/,"{'name': 'Meza-Baker', 'catchPhrase': 'Cloned ...",43,5.0,Austria
28,1YXJRWDK3D9GG8GNF,29,Craig Montgomery,bushaaron,christopher02@example.org,"{'street': 'Guerrero Park', 'suite': 'Apt. 101...",677.817.8815x895,https://www.kramer.com/,NaN,24,NaN,Croatia
29,TD2TY4L34YLTM01UZ,30,Daniel Mills,johnbecker,chambersdaniel@example.com,"{'street': 'Brendan Ports', 'suite': 'Suite 20...",630.630.7877,http://franco.com/,NaN,10,NaN,Malaysia
30,EM3KA3RN19HB4F7K3,31,Michelle Wright,allisonstokes,paul85@example.com,"{'street': 'Alyssa Centers', 'suite': 'Apt. 10...",492.984.1342x8830,https://www.patterson-smith.com/,NaN,27,NaN,Croatia
31,7E3D54SX8K1EPW4SG,32,James Long,anthonydaugherty,powellanthony@example.org,"{'street': 'Joseph Expressway', 'suite': 'Apt....",532-695-9610x4947,https://www.powell.com/,"{'name': 'Sanchez, Munoz and Wong', 'catchPhra...",49,4.0,"Taiwan, Province of China"
32,37UT11LXXFHVD8NYY,33,Michael Pierce,jenniferortega,uhunter@example.org,"{'street': 'Gomez Heights', 'suite': 'Room 303...",(683)800-4515x17249,https://cox.com/,"{'name': 'Johnson, Smith and Harris', 'catchPh...",8,1.0,Philippines
33,C2G1YGG798B47YSKB,34,Lisa Baldwin,grosszachary,michaelnichols@example.com,"{'street': 'Laurie Centers', 'suite': 'Suite 2...",546-482-8804,http://www.joyce.net/,NaN,9,NaN,Lithuania
34,94R5TWGA3SEH9BEC7,35,Leah Parrish,vwilliams,jennifer31@example.net,"{'street': 'Sergio Mountain', 'suite': 'Apt. 1...",462.538.9573x56188,http://www.ayala-sanchez.com/,NaN,17,NaN,Finland
35,0MG89ETB7EXMB1NVA,36,Alison Lee,lisaowens,jose72@example.com,"{'street': 'Sandra Tunnel', 'suite': 'Room 303...",533-385-5479,http://wall.biz/,"{'name': 'Gregory-Ramos', 'catchPhrase': 'Stan...",26,7.0,Cabo Verde
36,VAZJB2EB5T3ZH5PMA,37,Mary Acosta,copelandjulie,oconnellgeorge@example.com,"{'street': 'Romero Green', 'suite': 'Apt. 101'...",(226)349-8534x7796,http://davila-kennedy.com/,"{'name': 'Gilbert, Carroll and Coleman', 'catc...",33,8.0,Luxembourg
37,DNMJUZUW6CMSG47FX,38,Daniel Mcdowell,bonnieharper,thomasmiller@example.org,"{'street': 'Knight Well', 'suite': 'Room 303',...",(955)874-6483,https://www.maynard-noble.com/,"{'name': 'Arnold-Conway', 'catchPhrase': 'Ente...",5,4.0,Central African Republic
38,HMP1TLMK8JPZTAS7P,39,Brian Mccarty,jacob95,gwhite@example.org,"{'street': 'Dominique Stream', 'suite': 'Room ...",585-319-3156x766,http://freeman.biz/,"{'name': 'Terry-Adkins', 'catchPhrase': 'Polar...",11,5.0,Sweden
39,TGC6VJ7N7EXE94BYD,40,Jeffrey Rice,jonathanwright,conradanthony@example.com,"{'street': 'Thomas Mountain', 'suite': 'Apt. 1...",863-403-1688,https://www.bailey-garcia.com/,NaN,18,NaN,Guinea-Bissau
40,GHFN993K7JH9DAZD8,41,Sarah Strong,daviskathryn,jeffreyedwards@example.org,"{'street': 'Sanchez Ridges', 'suite': 'Suite 2...",(382)790-3051x03985,http://www.johnson.com/,"{'name': 'Whitaker-Hickman', 'catchPhrase': 'G...",36,7.0,"Tanzania, United Republic of"
41,5S8MT85V18JF815A7,42,Glenn Bishop,jamesjennings,davisdaniel@example.net,"{'street': 'Mills Trace', 'suite': 'Suite 202'...",6907037797,http://martin.com/,"{'name': 'Sheppard-Rivera', 'catchPhrase': 'To...",48,8.0,Rwanda
42,08FZGVAL8F5ZV6XDW,43,Thomas Waters,brittany87,amandahaynes@example.net,"{'street': 'Franklin Underpass', 'suite': 'Sui...",412.882.7295x476,https://morrow-stewart.com/,"{'name': 'Fisher, Black and Lopez', 'catchPhra...",19,1.0,"Tanzania, United Republic of"
43,JFLB0BTPXULN7A5V7,44,Aaron Williams,autumn50,clarkandrew@example.net,"{'street': 'John Track', 'suite': 'Suite 202',...",001-885-422-5392,https://cooper.com/,"{'name': 'Jones-Conner', 'catchPhrase': 'Enter...",22,6.0,Australia
44,ERLUB47A3XCM24MUC,45,John Hogan,miguel88,brianweber@example.org,"{'street': 'Michael Center', 'suite': 'Room 30...",(450)971-5790,http://www.wilson-carlson.com/,"{'name': 'Randall-Valencia', 'catchPhrase': 'R...",37,6.0,Brazil
45,CEBNM2T267XU0K242,46,Scott Rice,whitneyjames,bedwards@example.com,"{'street': 'Dean Falls', 'suite': 'Suite 202',...",475.640.7620,http://www.norris.com/,"{'name': 'Thompson, Foster and Rice', 'catchPh...",14,6.0,Spain
46,NG1ZBHX89WWJDBWTZ,47,Robert Clark,jonesmatthew,linda09@example.net,"{'street': 'Joseph Drive', 'suite': 'Apt. 101'...",(402)281-1645,https://www.bush-smith.net/,"{'name': 'Weber-Mccormick', 'catchPhrase': 'In...",20,5.0,North Macedonia
47,8CX6Y01U6B478JCYH,48,Sheri Horn,robert51,daniellefuller@example.com,"{'street': 'Bird Mission', 'suite': 'Apt. 101'...",541-529-2211x1618,http://mcdonald.com/,"{'name': 'Crawford-Peterson', 'catchPhrase': '...",1,8.0,North Macedonia
48,VRX18L085E69NR2ST,49,Jennifer Flores,sdominguez,nancy77@example.org,"{'street': 'Sean Inlet', 'suite': 'Apt. 101', ...",001-606-296-2566x83021,http://castro-howard.biz/,"{'name': 'Mitchell, Butler and Hill', 'catchPh...",40,5.0,Hungary
49,UD4DPFZ371G9GF46S,50,William White MD,katherine09,nicoleharmon@example.com,"{'street': 'Erin Trace', 'suite': 'Suite 202',...",(741)685-0114,http://fitzgerald.biz/,NaN,21,NaN,Mexico

In [488]:
list_code_country

['RUS',
 'PRT',
 'ARG',
 'FRA',
 'GBR',
 'DEU',
 'BRA',
 'IRL',
 'USA',
 'KOR',
 'ESP',
 'DNK',
 'CHN',
 'NLD',
 'HUN',
 'POL',
 'CN',
 'BEL',
 'LUX',
 'AUT',
 'CHE',
 'ARE',
 'ITA',
 'FIN',
 'TUN',
 'NOR',
 'ROU',
 'JAM',
 'ALB',
 'AUS',
 'SWE',
 'HRV',
 'HKG',
 'IND',
 'ISR',
 'CZE',
 'IRN',
 'GEO',
 'DZA',
 'MAR',
 'AND',
 'TUR',
 'MOZ',
 'ZAF',
 'GIB',
 'URY',
 'BLR',
 'EST',
 'LTU',
 'JEY',
 'CAF',
 'CYP',
 'GRC',
 'LVA',
 'COL',
 'GGY',
 'KWT',
 'CUB',
 'UKR',
 'CMR',
 'MYS',
 'THA',
 'NZL',
 'BIH',
 'MUS',
 'NGA',
 'COM',
 'OMN',
 'SUR',
 'MEX',
 'CHL',
 'UGA',
 'BGR',
 'CIV',
 'SRB',
 'DOM',
 'JOR',
 'SYR',
 'PHL',
 'PRI',
 'JPN',
 'SGP',
 'ARM',
 'BDI',
 'AGO',
 'SAU',
 'LBN',
 'VNM',
 'AZE',
 'SVN',
 'PLW',
 'QAT',
 'EGY',
 'PER',
 'SVK',
 'CPV',
 'MDV',
 'MLT',
 'MWI',
 'ECU',
 'VEN',
 'IRQ',
 'SEN',
 'IDN',
 'TWN',
 'HND',
 'RWA',
 'PAK',
 'ZMB',
 'KHM',
 'MCO',
 'BGD',
 'ISL',
 'UZB',
 'KAZ',
 'IMN',
 'TJK',
 'NIC',
 'BEN',
 'MAC',
 'VGB',
 'CRI',
 'TZA',
 'GAB',
 'MKD',
 'GHA',
 'TMP',
 'GLP',
 'KEN',
 'BFA',
 'LKA',
 'LBY',
 'PAN',
 'GNB',
 'MLI',
 'BHR',
 'NAM',
 'BOL',
 'SYC',
 'PRY',
 'BRB',
 'ABW',
 'AIA',
 'SLV',
 'DMA',
 'PYF',
 'LIE',
 'GUY',
 'LCA',
 'ATA',
 'MNE']

In [475]:
def get_country_name(country_code):
    '''
    Use pycountry to identify code country in df
    '''
    try:
        country = pycountry.countries.get(alpha_3=country_code)
        if country:
            return country.name
        else:
            country = pycountry.countries.get(alpha_2=country_code)
            return country.name
    except (LookupError, AttributeError):
        return np.nan

In [485]:
countries = {
    'COUNTRY_ID' : list(list_code_country),
    'COUNTRY_NAME':[get_country_name(i) for i in list_code_country]
}

In [486]:
countries_df = pd.DataFrame(countries)

In [482]:
countries_df

    COUNTRY_ID        COUNTRY_NAME
0          RUS  Russian Federation
1          PRT            Portugal
2          ARG           Argentina
3          FRA              France
4          GBR      United Kingdom
..         ...                 ...
147        LIE       Liechtenstein
148        GUY              Guyana
149        LCA         Saint Lucia
150        ATA          Antarctica
151        MNE          Montenegro

[152 rows x 2 columns]

In [489]:
def create_dim_country_table():
    
    '''
    function to create the country_dim table
    '''
    
    #define the list with the code_country present in bookings_df
    list_code_country = ['RUS','PRT','ARG','FRA','GBR','DEU','BRA','IRL','USA','KOR','ESP','DNK','CHN','NLD','HUN',
 'POL','CN','BEL','LUX','AUT','CHE','ARE','ITA','FIN','TUN','NOR','ROU','JAM','ALB','AUS','SWE',
 'HRV','HKG','IND','ISR','CZE','IRN','GEO','DZA','MAR','AND','TUR','MOZ','ZAF','GIB','URY','BLR',
 'EST','LTU','JEY','CAF','CYP','GRC','LVA','COL','GGY','KWT','CUB','UKR','CMR','MYS','THA','NZL',
 'BIH','MUS','NGA','COM','OMN','SUR','MEX','CHL','UGA','BGR','CIV','SRB','DOM','JOR','SYR','PHL',
 'PRI','JPN','SGP','ARM','BDI','AGO','SAU','LBN','VNM','AZE','SVN','PLW','QAT','EGY','PER','SVK',
 'CPV','MDV','MLT','MWI','ECU','VEN','IRQ','SEN','IDN','TWN','HND','RWA','PAK','ZMB','KHM','MCO',
 'BGD','ISL','UZB','KAZ','IMN','TJK','NIC','BEN','MAC','VGB','CRI','TZA','GAB','MKD','GHA','TMP',
 'GLP','KEN','BFA','LKA','LBY','PAN','GNB','MLI','BHR','NAM','BOL','SYC','PRY','BRB','ABW','AIA',
 'SLV','DMA','PYF','LIE','GUY','LCA','ATA','MNE']
    
    #save in dict all countries
    countries = {
    'COUNTRY_ID' : list(list_code_country),
    'COUNTRY_NAME':[de.get_country_name(i) for i in list_code_country]
    }
    
    #convert in DataFrame
    dim_countries = pd.DataFrame(countries)
    
    return dim_countries

In [490]:
dim_countries = create_dim_country_table()

In [491]:
dim_countries

    COUNTRY_ID        COUNTRY_NAME
0          RUS  Russian Federation
1          PRT            Portugal
2          ARG           Argentina
3          FRA              France
4          GBR      United Kingdom
..         ...                 ...
146        LIE       Liechtenstein
147        GUY              Guyana
148        LCA         Saint Lucia
149        ATA          Antarctica
150        MNE          Montenegro

[151 rows x 2 columns]

In [492]:
list_code_meal = list(bookings.meal.dropna().unique())

In [493]:
list_code_meal

['BB', 'HB', 'Undefined', 'FB', 'SC']

In [494]:
def create_dim_country_table():
    
    '''
    function to create the meal_dim table
    '''
    
    #define the list with the meal_code present in bookings_df
    list_code_meal = ['BB', 'HB', 'FB', 'SC', 'Undefined']
    #define the list with the meal_name present in bookings_df
    list_name_meal = ['Bed and Breakfast', 'Half board', 'Full board', 'no meal package', 'no meal package']
    
    #save in dict all meals
    meals = {
    'MEAL_ID' : list_code_meal,
    'MEAL_NAME': list_name_meal
    }
    
    #convert in DataFrame
    dim_meals = pd.DataFrame(meals)
    
    return dim_meals

In [495]:
meals_dim = create_dim_country_table()

In [496]:
meals_dim

     MEAL_ID          MEAL_NAME
0         BB  Bed and Breakfast
1         HB         Half board
2         FB         Full board
3         SC    no meal package
4  Undefined    no meal package

In [497]:
list_code_hotel = list(bookings.hotel.dropna().unique())

In [498]:
list_code_hotel

['Resort Hotel', 'City Hotel']

In [499]:
def create_dim_hotel_table():

In [500]:
dim_hotels = create_dim_hotel_table()

In [501]:
dim_hotels

  HOTEL_ID    HOTEL_NAME
0       RH  Resort Hotel
1       CH    City Hotel

In [506]:
users_df

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."

In [508]:
def create_dim_companies_table(df_users, column_name):
    '''
    function to create a dim_companies table
    
    inputs:
    df_users = df with users raw data and extended. 
    '''
    #split users_df from the company column onward
    dim_companies = df_users.iloc[:,df_users.columns.get_loc('company'):]
    
    return dim_companies

In [509]:
create_dim_companies_table(users_df, )

                                             company
0  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...
5  {'name': 'Considine-Lockman', 'catchPhrase': '...
6  {'name': 'Johns Group', 'catchPhrase': 'Config...
7  {'name': 'Abernathy Group', 'catchPhrase': 'Im...
8  {'name': 'Yost and Sons', 'catchPhrase': 'Swit...
9  {'name': 'Hoeger LLC', 'catchPhrase': 'Central...

In [512]:
def create_dim_users_table(df_users):
    '''
    function to create a dim_users table
    
    inputs:
    df_users = df with users raw data and extended. 
    '''
    #Split the users from the first column to the company column.
    dim_users = df_users.loc[:,:'website']
    
    return dim_users

In [513]:
create_dim_users_table(users_df)

,id,name,username,email,address,phone,website
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net