In [2]:
import get_data_api as gda
import data_enrichment as de
import dim_tables as dim

import clean as cl
import transformation as tr
import create_bbdd as db

import pandas as pd

In [ ]:
#Create bookings ddbb

In [3]:
#get data from API
raw_users = gda.get_all_data('https://jsonplaceholder.typicode.com/users')

In [79]:
#get bookings data
raw_bookings = pd.read_csv('raw_bookings.csv', sep=';')

In [5]:
#create copy of raw_users
users_complete = raw_users.copy()

-Data enrichment-

Users data

In [6]:
#enrich the user table to match the bookings table
users_complete = de.random_users(43562, users_complete)

In [7]:
#create copy of raw_users_complete
raw_users_complete = users_complete.copy()

In [8]:
#create companies id in users df
de.create_id(raw_users_complete, 'company_id')

In [9]:
#keep only 60% of companies
de.only_some_records(0.4, raw_users_complete, 'company_id', 'company')

In [10]:
raw_users_complete

,id,name,username,email,address,phone,website,company,company_id
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,NaN,NaN
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",21796.0
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,NaN,NaN
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,NaN,NaN
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",11619.0
...,...,...,...,...,...,...,...,...,...
43567,43568,Alex Williams PhD,fduke,scott05@example.net,"{'street': 'Jones Roads', 'suite': 'Suite 202'...",220.302.2458,http://www.rowe-wallace.com/,"{'name': 'Hicks-Turner', 'catchPhrase': 'Ameli...",11857.0
43568,43569,Elizabeth Schroeder,gonzalesstephanie,sabrinanielsen@example.net,"{'street': 'Howell Drive', 'suite': 'Suite 202...",271.440.4564,http://baird.com/,"{'name': 'Smith, Gray and Black', 'catchPhrase...",16956.0
43569,43570,Joseph Watson,ashleyalexander,valerie22@example.net,"{'street': 'Hobbs Greens', 'suite': 'Apt. 101'...",+1-212-812-4574x142,http://www.davis.org/,"{'name': 'Summers-Jenkins', 'catchPhrase': 'Ho...",14596.0
43570,43571,Michael Chavez,madisongreen,colleen67@example.org,"{'street': 'Thomas Green', 'suite': 'Suite 202...",584-747-6484,http://mitchell.org/,"{'name': 'Patrick Inc', 'catchPhrase': 'Optimi...",16204.0
43571,43572,Benjamin Russell,kmiller,whitneydakota@example.org,"{'street': 'Garcia Way', 'suite': 'Suite 202',...",+1-739-376-5506x79236,http://johnson.com/,NaN,NaN

Bookings data

In [80]:
#add booking codes to all bookings
raw_bookings_complete = de.create_booking_id(raw_bookings)

In [81]:
#add users_id to all bookings
de.create_id(raw_bookings_complete, 'user_id', len(raw_users_complete))

In [85]:
raw_bookings_complete

,BOOKING_CODE,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,user_id
0,H6UWCH4PXX04YUSUM,RH,0,109,2016,January,1,0,1,2,...,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016,38464
1,9KU48C4C030GGE8HE,RH,0,109,2016,January,1,0,1,2,...,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016,41320
2,UYL8DN6P5BZYXLSUR,RH,1,2,2016,January,1,0,1,2,...,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016,22671
3,B38H42166HJTG6CY3,RH,0,88,2016,January,1,0,2,2,...,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016,14963
4,8WPT5JFB680H1E6BL,RH,1,20,2016,January,1,0,2,2,...,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015,10649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,YAU8K2174TUP1DWR8,CH,0,17,2016,December,30,2,5,2,...,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017,10951
56703,381YE1933DF9MNN5B,CH,0,177,2016,December,30,2,5,0,...,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017,37084
56704,M2P310JNX49XXK2CN,CH,0,107,2016,December,31,2,5,2,...,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017,21919
56705,E2L7FD0K4SXSXHRUM,CH,0,310,2016,December,27,2,10,2,...,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017,222
56706,X37LFR0471MRAD0PY,CH,0,310,2016,December,27,2,10,2,...,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017,7249

In [83]:
#save raw data
raw_bookings_complete.to_csv('raw_bookings_extended.csv', index=False)

raw_users_complete.to_csv('raw_users_extended.csv', index=False)

In [14]:
#raw_bookings = pd.read_csv('raw_bookings_extended.csv')

In [15]:
#raw_users_complete = pd.read_csv('raw_users_extended.csv')

-Create dimension tables-

In [16]:
#Create dimension agents
DIM_AGENTS = dim.create_dim_agent_table()

In [17]:
#Create dimension countries
DIM_COUNTRIES = dim.create_dim_country_table()

In [18]:
#Create dimension meals
DIM_MEALS = dim.create_dim_meal_table()

In [19]:
#Create dimension hotels
DIM_HOTELS = dim.create_dim_hotel_table()

In [20]:
#Create dimension users without transformation
DIM_USERS_WT = dim.create_dim_users_table(raw_users_complete)

In [21]:
#Create dimension companies without transformation
DIM_COMPANIES_WT = dim.create_dim_companies_table(raw_users_complete)

-Transformation-

Users

In [23]:
#delete unnecessary columns
DIM_USERS = tr.delete_columns(DIM_USERS_WT, ['username'])

In [24]:
#lowercase some columns
DIM_USERS = tr.lowercase(DIM_USERS, ['email', 'website'])

In [25]:
#capitalize column names and change them to standardized ones
DIM_USERS =  tr.capitalize_rename_columns(DIM_USERS, ['USER_ID', 'USER_NAME', 'USER_EMAIL','USER_ADDRESS', 'USER_PHONE', 'USER_WEBSITE'])

In [26]:
DIM_USERS

,USER_ID,USER_NAME,USER_EMAIL,USER_ADDRESS,USER_PHONE,USER_WEBSITE
0,1,Leanne Graham,sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org
1,2,Ervin Howell,shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net
2,3,Clementine Bauch,nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info
3,4,Patricia Lebsack,julianne.oconner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz
4,5,Chelsey Dietrich,lucio_hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info
...,...,...,...,...,...,...
43567,43568,Alex Williams PhD,scott05@example.net,"{'street': 'Jones Roads', 'suite': 'Suite 202'...",220.302.2458,http://www.rowe-wallace.com/
43568,43569,Elizabeth Schroeder,sabrinanielsen@example.net,"{'street': 'Howell Drive', 'suite': 'Suite 202...",271.440.4564,http://baird.com/
43569,43570,Joseph Watson,valerie22@example.net,"{'street': 'Hobbs Greens', 'suite': 'Apt. 101'...",+1-212-812-4574x142,http://www.davis.org/
43570,43571,Michael Chavez,colleen67@example.org,"{'street': 'Thomas Green', 'suite': 'Suite 202...",584-747-6484,http://mitchell.org/
43571,43572,Benjamin Russell,whitneydakota@example.org,"{'street': 'Garcia Way', 'suite': 'Suite 202',...",+1-739-376-5506x79236,http://johnson.com/

Companies

In [28]:
#Delete rows containing NaN values
DIM_COMPANIES = tr.drop_nan_rows(DIM_COMPANIES_WT)

In [29]:
#normalize company column
DIM_COMPANIES = tr.normalize_column(DIM_COMPANIES, ['company'])

In [30]:
#delete unnecessary columns for analysis
DIM_COMPANIES = tr.delete_columns(DIM_COMPANIES, ['catchPhrase', 'bs'])

In [31]:
#capitalize column names and change them to standardized ones
DIM_COMPANIES = tr.capitalize_rename_columns(DIM_COMPANIES, columns = ['COMPANY_ID', 'COMPANY_NAME'])

In [32]:
#lowercase COMPANY_NAME column
DIM_COMPANIES = tr.lowercase(DIM_COMPANIES, ['COMPANY_NAME'])

In [33]:
#cast company_id column to int
DIM_COMPANIES = tr.cast_column_to_dtype(DIM_COMPANIES,'COMPANY_ID', 'Int64')

In [38]:
#sort column by company ids 
DIM_COMPANIES = DIM_COMPANIES.sort_values(by=['COMPANY_ID']).reset_index(drop=True)

In [39]:
DIM_COMPANIES

       COMPANY_ID                 COMPANY_NAME
0               1       smith, patton and todd
1               2                decker-sutton
2               3                shannon-brown
3               4               morris-bentley
4               5               smith and sons
...           ...                          ...
26139       26140              miller and sons
26140       26141  matthews, casey and serrano
26141       26142            erickson and sons
26142       26143                  sloan-ellis
26143       26144                 turner group

[26144 rows x 2 columns]

Bookings

In [84]:
#Replace the name of the hotels by their ids
BOOKINGS = tr.map_dimension_table(raw_bookings_complete,DIM_HOTELS,'hotel','HOTEL_ID','HOTEL_NAME')

In [41]:
#cast agents column to int
BOOKINGS = tr.cast_column_to_dtype(BOOKINGS,'agent', 'Int64')

In [46]:
#create a arrival date column
tr.create_arrival_date(BOOKINGS, 'arrival_date_day_of_month', 'arrival_date_month', 'arrival_date_year')

In [48]:
#create a departure date column
tr.get_departure_date(BOOKINGS)

In [50]:
#create a reservation date column
tr.reservation_date(BOOKINGS)

In [55]:
drop_columns = ['is_canceled', 'lead_time',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month',
       'stays_in_weekend_nights', 'stays_in_week_nights','is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled']

#delete unnecessary columns for analysis
BOOKINGS = tr.delete_columns(BOOKINGS, drop_columns)

In [59]:
rename_columns = ['BOOKING_CODE', 'HOTEL_ID', 'ADULTS', 'CHILDREN', 'MEAL_ID', 'COUNTRY_ID',
       'RESERVED_ROOM_TYPE', 'ASSIGNED_ROOM_TYPE', 'AGENT_ID',
       'STATUS', 'LAST_UPDATED_AT', 'USER_ID',
       'ARRIVAL_DATE', 'DEPARTURE_DATE', 'RESERVATION_DATE']

#capitalize column names and change them to standardized ones
BOOKINGS = tr.capitalize_rename_columns(BOOKINGS, rename_columns)

In [63]:
reorder_columns = [
 'BOOKING_CODE',
 'USER_ID',
 'COUNTRY_ID',
 'AGENT_ID',
 'HOTEL_ID',
 'ADULTS',
 'CHILDREN',
 'MEAL_ID',
 'RESERVED_ROOM_TYPE',
 'ASSIGNED_ROOM_TYPE',
 'STATUS',
 'LAST_UPDATED_AT',
 'ARRIVAL_DATE',
 'DEPARTURE_DATE',
 'RESERVATION_DATE'
]

#reorder columns
BOOKINGS = BOOKINGS[reorder_columns]

-Clean data-

In [69]:
#put the prefix 'http://' in front of the websites that do not have it
DIM_USERS['USER_WEBSITE'] = DIM_USERS['USER_WEBSITE'].apply(cl.add_https)

In [71]:
#remove 'mrs.' from USER_NAME
DIM_USERS['USER_NAME'] = DIM_USERS['USER_NAME'].str.replace('mrs. ','', regex = False)