In [3]:
import pandas as pd
import requests
import src

### USERS SOURCE (API)

In [7]:
#get data from API and save it
raw_users = src.get_save_data('https://jsonplaceholder.typicode.com/users', 'raw_users.csv')

In [9]:
list_columns_norm = ['address', 'company']
#normalize and delete some columns
users_df = src.normalize_column(raw_users, list_columns_norm)

list_columns_rename = ['user_id', 'user_name', 'user_username', 'user_email', 'user_phone', 'website', 'user_street', 'user_suite', 'user_city', 'user_zipcode', 'user_lat', 'user_lng', 'company_name', 'company_catchPhrase', 'company_bs']
#Rename and capitalize all columns
users_df = src.capitalize_rename_columns(users_df, list_columns_rename)

#put lowercase all data
users_df = src.lowercase(users_df)

#Remove special characters from a phone column
src.remove_chars(users_df, 'USER_PHONE')

#remove 'mrs.' from USER_NAME
users_df['USER_NAME'] = users_df['USER_NAME'].str.replace('mrs. ','', regex = False)

In [10]:
#divide users_df in two df: users data and users company
users = users_df.iloc[:,:12]

users_company= pd.concat([users_df['USER_ID'],users_df.iloc[:,12:]], axis=1)

In [11]:
users

,USER_ID,USER_NAME,USER_USERNAME,USER_EMAIL,USER_PHONE,WEBSITE,USER_STREET,USER_SUITE,USER_CITY,USER_ZIPCODE,USER_LAT,USER_LNG
0,1,leanne graham,bret,sincere@april.biz,1770736803156442,hildegard.org,kulas light,apt. 556,gwenborough,92998-3874,-37.3159,81.1496
1,2,ervin howell,antonette,shanna@melissa.tv,010692659309125,anastasia.net,victor plains,suite 879,wisokyburgh,90566-7771,-43.9509,-34.4618
2,3,clementine bauch,samantha,nathan@yesenia.net,14631234447,ramiro.info,douglas extension,suite 847,mckenziehaven,59590-4157,-68.6102,-47.0653
3,4,patricia lebsack,karianne,julianne.oconner@kory.org,4931709623156,kale.biz,hoeger mall,apt. 692,south elvis,53919-4257,29.4572,-164.2990
4,5,chelsey dietrich,kamren,lucio_hettinger@annie.ca,2549541289,demarco.info,skiles walks,suite 351,roscoeview,33263,-31.8129,62.5342
5,6,dennis schulist,leopoldo_corkery,karley_dach@jasper.info,147793584786430,ola.org,norberto crossing,apt. 950,south christy,23505-1337,-71.4197,71.7478
6,7,kurtis weissnat,elwyn.skiles,telly.hoeger@billy.biz,2100676132,elvis.io,rex trail,suite 280,howemouth,58804-1099,24.8918,21.8984
7,8,nicholas runolfsdottir v,maxime_nienow,sherwood@rosamond.me,5864936943140,jacynthe.com,ellsworth summit,suite 729,aliyaview,45169,-14.3990,-120.7677
8,9,glenna reichert,delphine,chaim_mcdermott@dana.io,775976679441206,conrad.com,dayna park,suite 449,bartholomebury,76495-3109,24.6463,-168.8889
9,10,clementina dubuque,moriah.stanton,rey.padberg@karina.biz,0246483804,ambrose.net,kattie turnpike,suite 198,lebsackbury,31428-2261,-38.2386,57.2232

In [12]:
users_company

,USER_ID,COMPANY_NAME,COMPANY_CATCHPHRASE,COMPANY_BS
0,1,romaguera-crona,multi-layered client-server neural-net,harness real-time e-markets
1,2,deckow-crist,proactive didactic contingency,synergize scalable supply-chains
2,3,romaguera-jacobson,face to face bifurcated interface,e-enable strategic applications
3,4,robel-corkery,multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,keebler llc,user-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,considine-lockman,synchronised bottom-line interface,e-enable innovative applications
6,7,johns group,configurable multimedia task-force,generate enterprise e-tailers
7,8,abernathy group,implemented secondary concept,e-enable extensible e-tailers
8,9,yost and sons,switchable contextually-based project,aggregate real-time technologies
9,10,hoeger llc,centralized empowering task-force,target end-to-end models

### BOOKINGS SOURCE

In [13]:
#read second source
reservas_df= pd.read_csv('reservasHotel.csv', sep=';')
reservas_df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,City Hotel,0,177,2016,December,30,2,5,0,0,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,City Hotel,0,107,2016,December,31,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [15]:
list_columns_r = ['hotel', 'canceled', 'lead_time', 'arrival_year','arrival_month', 'arrival_day','stays_in_weekend_nights', 'stays_week_nights', 'adults', 'children','meal', 'country', 'repeated_guest', 'previous_cancellations','previous_bookings_not_canceled','reserved_room_type','assigned_room_type', 'agent', 'reservation_status','reservation_status_date']

#Rename and capitalize all columns
reservas_df = src.capitalize_rename_columns(reservas_df, list_columns_r)

In [16]:
reservas_df

,HOTEL,CANCELED,LEAD_TIME,ARRIVAL_YEAR,ARRIVAL_MONTH,ARRIVAL_DAY,STAYS_IN_WEEKEND_NIGHTS,STAYS_WEEK_NIGHTS,ADULTS,CHILDREN,MEAL,COUNTRY,REPEATED_GUEST,PREVIOUS_CANCELLATIONS,PREVIOUS_BOOKINGS_NOT_CANCELED,RESERVED_ROOM_TYPE,ASSIGNED_ROOM_TYPE,AGENT,RESERVATION_STATUS,RESERVATION_STATUS_DATE
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,City Hotel,0,177,2016,December,30,2,5,0,0,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,City Hotel,0,107,2016,December,31,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017