In [176]:
import pandas as pd
import requests
from faker import Faker
import re
import phonenumbers
import numpy as np

import sqlite3

In [1]:
!pip install phonenumbers

Collecting phonenumbers
  Downloading phonenumbers-8.13.26-py2.py3-none-any.whl (2.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 17.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: phonenumbers
Successfully installed phonenumbers-8.13.26

In [87]:
#Extract data from API

response= requests.get('https://jsonplaceholder.typicode.com/users')
users = response.json()

In [88]:
users_df = pd.DataFrame(users)
users_df_copy = users_df.copy()
users_df

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."

In [74]:
#normalize address column
df_address = pd.json_normalize(users_df['address'])

#union of the two dataframes
users_df_test = pd.concat([users_df, df_address], axis=1)

users_df_test
df_resultado = users_df_test.drop('address', axis=1)

df_resultado

,id,name,username,email,phone,website,company,street,suite,city,zipcode,geo.lat,geo.lng
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...",Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ...",Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '...",Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config...",Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im...",Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit...",Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central...",Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232

In [5]:
users_test = pd.read_csv('users_extended.csv')
users_test

,USER_ID,USER_NAME,USER_USERNAME,USER_EMAIL,USER_PHONE,WEBSITE,USER_STREET,USER_SUITE,USER_CITY,USER_ZIPCODE,USER_LAT,USER_LNG
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.315900,81.149600
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.950900,-34.461800
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.610200,-47.065300
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.457200,-164.299000
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.812900,62.534200
...,...,...,...,...,...,...,...,...,...,...,...,...
55005,55006,Alexander Hughes,hamiltonthomas,martinezvictoria@example.net,846.209.1759x957,https://www.campbell.com/,525 Jackson Port,Apt. 878,North Stephanieton,19518,39.375597,97.178865
55006,55007,Paul Kim,robertrussell,staffordwilliam@example.net,325.916.7235x093,http://www.townsend.info/,526 Dennis Harbor Apt. 889,Apt. 691,New Marystad,01913,-22.499807,34.631837
55007,55008,Elizabeth Brewer,mercadolisa,charles49@example.org,001-804-520-9188x5650,http://brown.com/,149 Figueroa Walks Apt. 711,Suite 269,Lake Amandaland,57758,-25.364915,-140.349789
55008,55009,Amanda Underwood,wsimmons,jennifer14@example.org,625-816-9453,https://dean-jones.com/,8959 Karen Glen,Suite 848,West Brent,45819,-5.524719,-176.450230
55009,55010,Erica Newman,angel66,cannonandrea@example.com,+1-377-741-0061x797,https://www.robbins-ford.com/,4986 Courtney Neck Suite 280,Suite 431,Port Jenniferstad,06610,46.288657,-1.185294

In [25]:


# Program to get timezone a phone number 
  
import phonenumbers 
from phonenumbers import timezone 
  
# Parsing String to Phone number 
phoneNumber = phonenumbers.parse("+919876543210") 
print(len(str(phoneNumber.national_number)))
  
# Pass the parsed phone number in below function 
timeZone = timezone.time_zones_for_number(phoneNumber) 
  
# It print the timezone of a phonenumber 
print(timeZone)

10
('Asia/Calcutta',)

In [26]:
def format_phone_number(phone_number):
    try:
        # Parse el número de teléfono utilizando la biblioteca phonenumbers
        parsed_number = phonenumbers.parse(phone_number, None)

        # Obtenga el formato nacional del número de teléfono
        national_format = phonenumbers.format_number(parsed_number, phonenumbers.PhoneNumberFormat.NATIONAL)

        # Compruebe las condiciones según las instrucciones proporcionadas
        if len(str(parsed_number.national_number)) == 9:
            # Números de teléfono de 9 dígitos: guardar tal cual
            return phone_number
        elif len(str(parsed_number.national_number)) == 10:
            if str(parsed_number.national_number)[0] == '1':
                # Números de teléfono de 10 dígitos que comienzan con 1: formato con paréntesis
                return national_format
            else:
                # Números de teléfono de 10 dígitos que no comienzan con 1: formato con paréntesis
                return national_format
        elif len(str(parsed_number.national_number)) == 11:
            if str(parsed_number.national_number)[0] == '1':
                # Números de teléfono de 11 dígitos que comienzan con 1: quitar el primer dígito y formato con paréntesis
                return national_format[1:]
            else:
                # Números de teléfono de 11 dígitos que no comienzan con 1: guardar tal cual
                return phone_number
        else:
            # Otros casos: guardar tal cual
            return phone_number
    except phonenumbers.NumberParseException:
        # Si no se puede analizar el número de teléfono, guárdelo tal cual
        return phone_number

In [27]:
users_test['USER_PHONE_FORMATTED'] = users_test['USER_PHONE'].apply(format_phone_number)

# Imprimir el DataFrame resultante
print(users_test)

       USER_ID         USER_NAME   USER_USERNAME  \
0            1     Leanne Graham            Bret
1            2      Ervin Howell       Antonette
2            3  Clementine Bauch        Samantha
3            4  Patricia Lebsack        Karianne
4            5  Chelsey Dietrich          Kamren
...        ...               ...             ...
55005    55006  Alexander Hughes  hamiltonthomas
55006    55007          Paul Kim   robertrussell
55007    55008  Elizabeth Brewer     mercadolisa
55008    55009  Amanda Underwood        wsimmons
55009    55010      Erica Newman         angel66

                         USER_EMAIL             USER_PHONE  \
0                 Sincere@april.biz  1-770-736-8031 x56442
1                 Shanna@melissa.tv    010-692-6593 x09125
2                Nathan@yesenia.net         1-463-123-4447
3         Julianne.OConner@kory.org      493-170-9623 x156
4          Lucio_Hettinger@annie.ca          (254)954-1289
...                             ...                    ...
55005  martinezvictoria@example.net       846.209.1759x957
55006   staffordwilliam@example.net       325.916.7235x093
55007         charles49@example.org  001-804-520-9188x5650
55008        jennifer14@example.org           625-816-9453
55009      cannonandrea@example.com    +1-377-741-0061x797

                             WEBSITE                   USER_STREET USER_SUITE  \
0                      hildegard.org                   Kulas Light   Apt. 556
1                      anastasia.net                 Victor Plains  Suite 879
2                        ramiro.info             Douglas Extension  Suite 847
3                           kale.biz                   Hoeger Mall   Apt. 692
4                       demarco.info                  Skiles Walks  Suite 351
...                              ...                           ...        ...
55005      https://www.campbell.com/              525 Jackson Port   Apt. 878
55006      http://www.townsend.info/    526 Dennis Harbor Apt. 889   Apt. 691
55007              http://brown.com/   149 Figueroa Walks Apt. 711  Suite 269
55008        https://dean-jones.com/               8959 Karen Glen  Suite 848
55009  https://www.robbins-ford.com/  4986 Courtney Neck Suite 280  Suite 431

                USER_CITY USER_ZIPCODE   USER_LAT    USER_LNG  \
0             Gwenborough   92998-3874 -37.315900   81.149600
1             Wisokyburgh   90566-7771 -43.950900  -34.461800
2           McKenziehaven   59590-4157 -68.610200  -47.065300
3             South Elvis   53919-4257  29.457200 -164.299000
4              Roscoeview        33263 -31.812900   62.534200
...                   ...          ...        ...         ...
55005  North Stephanieton        19518  39.375597   97.178865
55006        New Marystad        01913 -22.499807   34.631837
55007     Lake Amandaland        57758 -25.364915 -140.349789
55008          West Brent        45819  -5.524719 -176.450230
55009   Port Jenniferstad        06610  46.288657   -1.185294

          USER_PHONE_FORMATTED
0        1-770-736-8031 x56442
1          010-692-6593 x09125
2               1-463-123-4447
3            493-170-9623 x156
4                (254)954-1289
...                        ...
55005         846.209.1759x957
55006         325.916.7235x093
55007    001-804-520-9188x5650
55008             625-816-9453
55009  (377) 741-0061 ext. 797

[55010 rows x 13 columns]

In [28]:
users_test

,USER_ID,USER_NAME,USER_USERNAME,USER_EMAIL,USER_PHONE,WEBSITE,USER_STREET,USER_SUITE,USER_CITY,USER_ZIPCODE,USER_LAT,USER_LNG,USER_PHONE_FORMATTED
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.315900,81.149600,1-770-736-8031 x56442
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.950900,-34.461800,010-692-6593 x09125
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.610200,-47.065300,1-463-123-4447
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.457200,-164.299000,493-170-9623 x156
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.812900,62.534200,(254)954-1289
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55005,55006,Alexander Hughes,hamiltonthomas,martinezvictoria@example.net,846.209.1759x957,https://www.campbell.com/,525 Jackson Port,Apt. 878,North Stephanieton,19518,39.375597,97.178865,846.209.1759x957
55006,55007,Paul Kim,robertrussell,staffordwilliam@example.net,325.916.7235x093,http://www.townsend.info/,526 Dennis Harbor Apt. 889,Apt. 691,New Marystad,01913,-22.499807,34.631837,325.916.7235x093
55007,55008,Elizabeth Brewer,mercadolisa,charles49@example.org,001-804-520-9188x5650,http://brown.com/,149 Figueroa Walks Apt. 711,Suite 269,Lake Amandaland,57758,-25.364915,-140.349789,001-804-520-9188x5650
55008,55009,Amanda Underwood,wsimmons,jennifer14@example.org,625-816-9453,https://dean-jones.com/,8959 Karen Glen,Suite 848,West Brent,45819,-5.524719,-176.450230,625-816-9453
55009,55010,Erica Newman,angel66,cannonandrea@example.com,+1-377-741-0061x797,https://www.robbins-ford.com/,4986 Courtney Neck Suite 280,Suite 431,Port Jenniferstad,06610,46.288657,-1.185294,(377) 741-0061 ext. 797

In [36]:
import pandas as pd
from faker import Faker

# Supongamos que ya tienes un DataFrame llamado df_companies con las columnas mencionadas

# Crear un ejemplo de DataFrame
data_companies = {
    'USER_ID': range(1, 11),
    'COMPANY_NAME': ['Romaguera-Crona', 'Deckow-Crist', 'Romaguera-Jacobson', 'Robel-Corkery', 'Keebler LLC', 'Considine-Lockman', 'Johns Group', 'Abernathy Group', 'Yost and Sons', 'Hoeger LLC'],
    'COMPANY_CATCHPHRASE': ['Multi-layered client-server neural-net', 'Proactive didactic contingency', 'Face to face bifurcated interface', 'Multi-tiered zero tolerance productivity', 'User-centric fault-tolerant solution', 'Synchronised bottom-line interface', 'Configurable multimedia task-force', 'Implemented secondary concept', 'Switchable contextually-based project', 'Centralized empowering task-force'],
    'COMPANY_BS': ['harness real-time e-markets', 'synergize scalable supply-chains', 'e-enable strategic applications', 'transition cutting-edge web services', 'revolutionize end-to-end systems', 'e-enable innovative applications', 'generate enterprise e-tailers', 'e-enable extensible e-tailers', 'aggregate real-time technologies', 'target end-to-end models']
}

df_companies = pd.DataFrame(data_companies)

# Crear un objeto Faker
fake = Faker()

# Obtener 30,000 user_id únicos entre 1 y 30000
unique_user_ids = set()
while len(unique_user_ids) < 45:
    unique_user_ids.add(fake.random_int(min=11, max=60))

# Crear 30,000 registros adicionales con user_id únicos
for user_id in unique_user_ids:
    # Generar datos aleatorios usando Faker
    company_name = fake.company()
    company_catchphrase = fake.catch_phrase()
    company_bs = fake.bs()

    # Crear un nuevo registro
    new_record = {
        'USER_ID': user_id,
        'COMPANY_NAME': company_name,
        'COMPANY_CATCHPHRASE': company_catchphrase,
        'COMPANY_BS': company_bs
    }
    
    new_company_df = pd.DataFrame([new_record])

    df_companies = pd.concat([df_companies, new_company_df], ignore_index=True)


# Imprimir el DataFrame resultante
print(df_companies)

    USER_ID                    COMPANY_NAME  \
0         1                 Romaguera-Crona
1         2                    Deckow-Crist
2         3              Romaguera-Jacobson
3         4                   Robel-Corkery
4         5                     Keebler LLC
5         6               Considine-Lockman
6         7                     Johns Group
7         8                 Abernathy Group
8         9                   Yost and Sons
9        10                      Hoeger LLC
10       12                    Blake-Wright
11       13                     Coleman Ltd
12       14  Delacruz, Sweeney and Mcdonald
13       15   Navarro, Clayton and Martinez
14       16                      Fowler Ltd
15       17                    Garrison Inc
16       18                       Parks LLC
17       19                Martinez-Freeman
18       20       Anderson, Combs and Moran
19       21                      Peters LLC
20       22                 Anderson-Martin
21       23               Henderson-Barajas
22       24                     Garcia-Cobb
23       25                    Malone Group
24       26                      Miller LLC
25       27       Davis, Edwards and Wagner
26       28    Davidson, Graves and Gilbert
27       29                   Hale-Mcknight
28       30                  Giles and Sons
29       31                    Shepherd PLC
30       32     Carroll, Johnson and Willis
31       33                     Wallace LLC
32       34                 Anderson-Kelley
33       35                    Maddox-Walsh
34       36                   Contreras PLC
35       37       Porter, Rose and Morrison
36       38                 Mccann and Sons
37       39                    Kennedy-Ford
38       40         Brown, Jordan and Smith
39       41                      Bryant Inc
40       42    Ramirez, Strong and Saunders
41       43                    Lee and Sons
42       46                        Dunn Inc
43       47                  Rodriguez-Pena
44       49                      Barr-Hines
45       51                   Perez-Spencer
46       52                   Blair-Sanders
47       53                    Gonzalez LLC
48       54                      Brewer PLC
49       55                  Burton-Barrera
50       56         Ayers, Torres and Keith
51       57    Moore, Donovan and Henderson
52       58                  Stephens Group
53       59      Horton, Goodwin and Bailey
54       60                   Morales-White

                             COMPANY_CATCHPHRASE  \
0         Multi-layered client-server neural-net
1                 Proactive didactic contingency
2              Face to face bifurcated interface
3       Multi-tiered zero tolerance productivity
4           User-centric fault-tolerant solution
5             Synchronised bottom-line interface
6             Configurable multimedia task-force
7                  Implemented secondary concept
8          Switchable contextually-based project
9              Centralized empowering task-force
10                    Digitized local complexity
11          User-centric logistical secured line
12                     Diverse cohesive leverage
13             Up-sized content-based projection
14   Adaptive next generation Local Area Network
15                  Organic empowering benchmark
16       Decentralized systemic customer loyalty
17                De-engineered exuding strategy
18         Persevering 24hour Local Area Network
19             Horizontal composite productivity
20    Fundamental human-resource instruction set
21          Team-oriented composite architecture
22               Extended grid-enabled moderator
23          Fundamental secondary knowledge user
24        Synergistic human-resource methodology
25       Function-based multi-tasking encryption
26       Multi-lateral client-driven application
27                    Organic full-range project
28              Front-line motivating initiative
29        Re-engineered object-oriented attitude
30        Enterprise-wide 5thgeneration hardware
31         Ameliorated asymmetric implementation
32    Programmable attitude-oriented application
33          Ameliorated 4thgeneration time-frame
34  Horizontal upward-trending open architecture
35            Fundamental fault-tolerant product
36            Pre-emptive incremental monitoring
37                Enhanced encompassing alliance
38                 Distributed dynamic emulation
39               Cross-group bottom-line project
40            Multi-layered real-time neural-net
41                Exclusive multi-state analyzer
42               Exclusive content-based website
43                Focused asynchronous workforce
44           Assimilated impactful collaboration
45                     Visionary local structure
46                Inverse didactic knowledgebase
47               Persevering mobile productivity
48       Universal value-added pricing structure
49             Operative asymmetric secured line
50              Stand-alone even-keeled extranet
51          Up-sized context-sensitive moderator
52             Integrated interactive definition
53                 Proactive radical focus group
54             Down-sized holistic orchestration

                                   COMPANY_BS
0                 harness real-time e-markets
1            synergize scalable supply-chains
2             e-enable strategic applications
3        transition cutting-edge web services
4            revolutionize end-to-end systems
5            e-enable innovative applications
6               generate enterprise e-tailers
7               e-enable extensible e-tailers
8            aggregate real-time technologies
9                    target end-to-end models
10                 target intuitive paradigms
11                   drive innovative portals
12           benchmark customized convergence
13             strategize extensible eyeballs
14          e-enable distributed deliverables
15               enable dynamic relationships
16                 optimize impactful metrics
17         synthesize compelling technologies
18          maximize open-source technologies
19            harness bleeding-edge paradigms
20                  evolve turn-key mindshare
21      integrate plug-and-play architectures
22           incubate out-of-the-box networks
23           matrix strategic functionalities
24            leverage leading-edge mindshare
25              brand next-generation schemas
26    facilitate best-of-breed info-mediaries
27            implement plug-and-play portals
28            drive one-to-one info-mediaries
29                monetize turn-key solutions
30  re-contextualize e-business architectures
31                  unleash global interfaces
32            facilitate strategic interfaces
33                    brand holistic networks
34           syndicate vertical supply-chains
35              innovate user-centric systems
36        revolutionize distributed platforms
37         productize cutting-edge e-commerce
38       disintermediate extensible e-tailers
39                  redefine sticky e-tailers
40      innovate leading-edge infrastructures
41     disintermediate seamless supply-chains
42                  extend ubiquitous markets
43                    matrix wireless markets
44              seize intuitive architectures
45               iterate dot-com technologies
46                cultivate cross-media users
47            utilize one-to-one partnerships
48              repurpose end-to-end channels
49      implement leading-edge info-mediaries
50              optimize back-end convergence
51              productize one-to-one portals
52           embrace leading-edge initiatives
53                    streamline seamless ROI
54          re-intermediate dynamic e-markets

In [37]:
unique_user_ids = set()
while len(unique_user_ids) < 30:
    unique_user_ids.add(fake.random_int(min=1, max=50))
    
    
unique_user_ids

{1,
 3,
 4,
 5,
 6,
 8,
 10,
 11,
 15,
 16,
 17,
 18,
 20,
 22,
 24,
 25,
 27,
 29,
 30,
 31,
 35,
 36,
 38,
 39,
 41,
 44,
 45,
 46,
 47,
 48}

In [38]:
unique_company_ids = range(1, 30 + 1)

unique_company_ids

range(1, 31)

In [55]:
data_companies = {
    'COMPANY_ID': range(1, 11),
    'USER_ID': range(1, 11),
    'COMPANY_NAME': ['Romaguera-Crona', 'Deckow-Crist', 'Romaguera-Jacobson', 'Robel-Corkery', 'Keebler LLC', 'Considine-Lockman', 'Johns Group', 'Abernathy Group', 'Yost and Sons', 'Hoeger LLC'],
    'COMPANY_CATCHPHRASE': ['Multi-layered client-server neural-net', 'Proactive didactic contingency', 'Face to face bifurcated interface', 'Multi-tiered zero tolerance productivity', 'User-centric fault-tolerant solution', 'Synchronised bottom-line interface', 'Configurable multimedia task-force', 'Implemented secondary concept', 'Switchable contextually-based project', 'Centralized empowering task-force'],
    'COMPANY_BS': ['harness real-time e-markets', 'synergize scalable supply-chains', 'e-enable strategic applications', 'transition cutting-edge web services', 'revolutionize end-to-end systems', 'e-enable innovative applications', 'generate enterprise e-tailers', 'e-enable extensible e-tailers', 'aggregate real-time technologies', 'target end-to-end models']
}

df_companies = pd.DataFrame(data_companies)

In [74]:
import pandas as pd
from faker import Faker

# Supongamos que ya tienes un DataFrame llamado df_companies con las columnas mencionadas

# Crear un objeto Faker
fake = Faker()

# Obtener los USER_ID y COMPANY_ID únicos actuales
existing_user_ids = set(df_companies['USER_ID'].unique())
existing_company_ids = set(df_companies['COMPANY_ID'].unique())

# Crear una lista para almacenar los nuevos registros
new_records = []

# Generar 30,000 registros adicionales
for _ in range(30000):
    # Generar USER_ID único
    user_id = fake.random_int(min=1, max=55010)
    while user_id in existing_user_ids:
        user_id = fake.random_int(min=1, max=55010)

    # Generar COMPANY_ID único
    company_id = max(existing_company_ids) + 1
    while company_id in existing_company_ids:
        company_id += 1

    # Actualizar los conjuntos de USER_ID y COMPANY_ID existentes
    existing_user_ids.add(user_id)
    existing_company_ids.add(company_id)

    # Generar datos aleatorios usando Faker
    company_name = fake.company()
    company_catchphrase = fake.catch_phrase()
    company_bs = fake.bs()

    # Crear un nuevo registro
    new_record = {
        'COMPANY_ID': company_id,
        'USER_ID': user_id,
        'COMPANY_NAME': company_name,
        'COMPANY_CATCHPHRASE': company_catchphrase,
        'COMPANY_BS': company_bs
    }

    # Agregar el nuevo registro a la lista
    new_records.append(new_record)

# Concatenar los nuevos registros al DataFrame existente
df_companies_extended = pd.concat([df_companies, pd.DataFrame(new_records)], ignore_index=True)

# Imprimir el DataFrame resultante
print(df_companies_extended)

       COMPANY_ID  USER_ID                   COMPANY_NAME  \
0               1        1                Romaguera-Crona
1               2        2                   Deckow-Crist
2               3        3             Romaguera-Jacobson
3               4        4                  Robel-Corkery
4               5        5                    Keebler LLC
...           ...      ...                            ...
30005       30006      303                    Perkins PLC
30006       30007    34132                   Marshall PLC
30007       30008     6935                 Griffin-Wilson
30008       30009    32384  Reynolds, Bautista and Molina
30009       30010    49626        Lynch, Adkins and Baker

                             COMPANY_CATCHPHRASE  \
0         Multi-layered client-server neural-net
1                 Proactive didactic contingency
2              Face to face bifurcated interface
3       Multi-tiered zero tolerance productivity
4           User-centric fault-tolerant solution
...                                          ...
30005            Universal bottom-line benchmark
30006             Programmable discrete extranet
30007  Optimized 4thgeneration open architecture
30008            Multi-layered executive support
30009        Pre-emptive demand-driven structure

                                 COMPANY_BS
0               harness real-time e-markets
1          synergize scalable supply-chains
2           e-enable strategic applications
3      transition cutting-edge web services
4          revolutionize end-to-end systems
...                                     ...
30005       matrix integrated architectures
30006       strategize global relationships
30007   streamline transparent technologies
30008     morph clicks-and-mortar platforms
30009        whiteboard robust technologies

[30010 rows x 5 columns]

In [80]:
import pandas as pd
from faker import Faker

def random_companies(quantity_users, quantity_companies, df_companies):
    #faker object
    fake = Faker()

    #obtain current unique USER_ID and COMPANY_ID
    existing_user_ids = set(df_companies['USER_ID'].unique())
    existing_company_ids = set(df_companies['COMPANY_ID'].unique())

    new_records = []

    #generate additional records
    for _ in range(quantity_companies):
        #generate unique USER_ID
        user_id = fake.random_int(min=1, max=quantity_users)
        while user_id in existing_user_ids:
            user_id = fake.random_int(min=1, max=quantity_users)

        #generate unique COMPANY_ID
        company_id = max(existing_company_ids) + 1
        while company_id in existing_company_ids:
            company_id += 1

        #update existing USER_ID and COMPANY_ID sets
        existing_user_ids.add(user_id)
        existing_company_ids.add(company_id)

        #generate random data
        company_name = fake.company()
        company_catchphrase = fake.catch_phrase()
        company_bs = fake.bs()

        #create new record
        new_record = {
            'COMPANY_ID': company_id,
            'USER_ID': user_id,
            'COMPANY_NAME': company_name,
            'COMPANY_CATCHPHRASE': company_catchphrase,
            'COMPANY_BS': company_bs
        }

        new_records.append(new_record)

    #concatenate new records to existing DataFrame
    df_companies_extended = pd.concat([df_companies, pd.DataFrame(new_records)], ignore_index=True)

    #sort DataFrame by 'COMPANY_ID'
    df_companies_extended.sort_values(by='COMPANY_ID', inplace=True)

    #save DataFrame to a CSV file
    df_companies_extended.to_csv('companies_extended.csv', index=False)

    return df_companies_extended

In [106]:
booking_df= pd.read_csv('raw_bookings.csv', sep=';')
booking_df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,City Hotel,0,177,2016,December,30,2,5,0,0,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,City Hotel,0,107,2016,December,31,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [108]:
def bookings_extended(quantity_users, booking_df):
    # Crear un objeto Faker
    fake = Faker()
    
    df = pd.DataFrame()
    # Agregar columna 'USER_ID' con valores aleatorios entre 1 y 55010
    df['USER_ID'] = [fake.random_int(min=1, max=quantity_users) for i in range(len(df_reservas))]

    # Agregar columna 'LOCALIZADOR_RESERVA' con valores únicos
    booking_codes = set()
    
    while len(booking_codes) < len(booking_df):
        booking_code = fake.vin()
        booking_codes.add(booking_code)

    df['BOOKING_CODE'] = list(booking_codes)
    
    booking_df_extended = pd.concat([df,booking_df], axis=1)


    return booking_df_extended

In [109]:
test = bookings_extended(55010, booking_df)
test

,USER_ID,BOOKING_CODE,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date
0,13889,PR1ZYAFL3H04H84W9,Resort Hotel,0,109,2016,January,1,0,1,...,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,38752,EYUF5YLM8STBHW5KS,Resort Hotel,0,109,2016,January,1,0,1,...,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,37102,ZERSC2F24US6K9ZEE,Resort Hotel,1,2,2016,January,1,0,1,...,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,7613,NFXW1P5Z9N0YVYGDX,Resort Hotel,0,88,2016,January,1,0,2,...,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,636,HAZTV34W08616MNB8,Resort Hotel,1,20,2016,January,1,0,2,...,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,34676,F36770NS27LF4DB1H,City Hotel,0,17,2016,December,30,2,5,...,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,16107,C1T6NRHR9XSF8J6RG,City Hotel,0,177,2016,December,30,2,5,...,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,19557,UBUGXXHL43BK0X3LE,City Hotel,0,107,2016,December,31,2,5,...,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,18152,VNSDZKN9X1GW5T5B6,City Hotel,0,310,2016,December,27,2,10,...,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,28280,L8REC69Y4YBP31U0X,City Hotel,0,310,2016,December,27,2,10,...,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [220]:
users_df= pd.read_csv('raw_users.csv')
users_df

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."

In [221]:
def create_company_id(users_df):
    users_df['company_id'] = np.random.permutation(np.arange(1, len(users_df) + 1))
    
def random_users(quantity, users_df):
    '''
        Function to extend the number of users. 
        It can only be used with the users table because it is specific to it 
        and it is only used once in order to increase the number of users that 
        have made reservations in the hotels and to have consistency in the data.
        Also, it create companies id

        Inputs:

        df_users = users DataFrame
        quantity = number of users to be added 
    '''
    fake = Faker()

    #number of new users
    additional_users = quantity

    new_users = []

    #create random users
    for i in range(additional_users):

        if i == 0:
            user_id = users_df['id'].max() + 1
        else:
            user_id = new_users[i - 1]['id'] + 1

        name = fake.name()
        username = fake.user_name()
        email = fake.email()
        street = fake.street_name()
        suite = fake.random_element(elements=('Apt. 101', 'Suite 202', 'Room 303'))
        city = fake.city()
        zipcode = fake.zipcode()
        lat = fake.latitude()
        lng = fake.longitude()
        phone = fake.phone_number()
        website = fake.url()
        company_name = fake.company()
        company_catchphrase = fake.catch_phrase()
        bs = fake.bs()

        new_record = {
            'id': user_id,
            'name': name,
            'username': username,
            'email': email,
            'address': {
                'street': street,
                'suite': suite,
                'city': city,
                'zipcode': zipcode,
                'geo': {'lat': lat, 'lng': lng}
            },
            'phone': phone,
            'website': website,
            'company': {
                'name': company_name,
                'catchPhrase': company_catchphrase,
                'bs': bs
            }
        }

        #add new record to the list
        new_users.append(new_record)

    #concatenate two dataframes
    users_df_extended = pd.concat([users_df, pd.DataFrame(new_users)], ignore_index=True)
    
    create_company_id(users_df_extended)

    return users_df_extended

In [222]:
users_test = random_users(40, users_df)

In [223]:
users_test

,id,name,username,email,address,phone,website,company,company_id
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...",6
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",2
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ...",25
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",29
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",44
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '...",30
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config...",41
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im...",39
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit...",42
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central...",13
10,11,Joseph Lynn,dawnhester,katiesmith@example.net,"{'street': 'Christopher Run', 'suite': 'Suite ...",2699388234,http://www.patel-rodriguez.org/,"{'name': 'Parks, Jordan and Joyce', 'catchPhra...",7
11,12,Thomas Morales,davidyates,ochoashawn@example.org,"{'street': 'Peter Crossing', 'suite': 'Room 30...",+1-487-908-2744x9631,https://www.johnson-gonzalez.info/,"{'name': 'Nelson-Harris', 'catchPhrase': 'Proa...",12
12,13,Kevin Ross,ihoward,gonzalezlatasha@example.org,"{'street': 'Marsh Union', 'suite': 'Room 303',...",(633)678-7900,https://www.francis.com/,"{'name': 'Carey PLC', 'catchPhrase': 'Organize...",35
13,14,Rick Hamilton,lesliegibson,nhoward@example.net,"{'street': 'Wilson Keys', 'suite': 'Apt. 101',...",416-337-3376x0443,http://www.scott.info/,"{'name': 'Schaefer-Ewing', 'catchPhrase': 'Int...",16
14,15,Katherine Estrada,ryanellis,kevindavis@example.com,"{'street': 'Jones Tunnel', 'suite': 'Apt. 101'...",001-511-347-2039x646,https://lee.com/,"{'name': 'Thompson-Howe', 'catchPhrase': 'Inve...",50
15,16,Donna Taylor,leonardsmith,ismith@example.com,"{'street': 'Wesley Parks', 'suite': 'Suite 202...",616-951-4342x683,https://palmer-massey.com/,"{'name': 'Hodges Group', 'catchPhrase': 'Ameli...",32
16,17,Yvonne Powell,nicolebutler,carl33@example.com,"{'street': 'Stephens Club', 'suite': 'Suite 20...",242-286-2622,https://russell.info/,"{'name': 'Cooke, Harris and Mcdowell', 'catchP...",23
17,18,Robert Johnson,smithamber,timothy82@example.org,"{'street': 'Gary Views', 'suite': 'Apt. 101', ...",001-820-592-8983x347,https://warren.com/,"{'name': 'Fisher, Snyder and Frank', 'catchPhr...",34
18,19,Renee Clark,kaneronald,tony14@example.net,"{'street': 'Farmer Hill', 'suite': 'Suite 202'...",565.256.7410,http://chambers-steele.com/,"{'name': 'Eaton, Lindsey and Bruce', 'catchPhr...",3
19,20,Meghan Cooper,lisa29,gsellers@example.org,"{'street': 'Laura Springs', 'suite': 'Apt. 101...",001-411-726-0988x19998,https://www.case.biz/,"{'name': 'Perez, Mcintyre and Gilbert', 'catch...",46
20,21,Anne Smith,denise93,christopher31@example.org,"{'street': 'Zachary Freeway', 'suite': 'Suite ...",(363)882-7404x7690,http://stephens-taylor.info/,"{'name': 'Gibson-Gill', 'catchPhrase': 'Devolv...",45
21,22,Maurice Schmidt,mcclainjohn,sroman@example.com,"{'street': 'Vaughan Unions', 'suite': 'Room 30...",+1-421-473-0381x8260,http://www.combs-beard.biz/,"{'name': 'Perez LLC', 'catchPhrase': 'Customer...",31
22,23,Daniel Lee,austin15,diane75@example.com,"{'street': 'Sullivan Fields', 'suite': 'Room 3...",324.394.7494x8725,http://www.taylor.com/,"{'name': 'Leonard PLC', 'catchPhrase': 'Centra...",38
23,24,Casey Carson,cli,francomary@example.com,"{'street': 'Reed Crossing', 'suite': 'Apt. 101...",2232975318,https://maynard.net/,"{'name': 'Coleman Ltd', 'catchPhrase': 'Profou...",15
24,25,Linda Cox,travis56,rwalker@example.net,"{'street': 'Beasley Pine', 'suite': 'Room 303'...",(708)429-9261,http://hall.com/,"{'name': 'Roberts Group', 'catchPhrase': 'Pola...",4
25,26,John Logan,qreed,susan68@example.net,"{'street': 'Daniel Meadows', 'suite': 'Apt. 10...",7063727330,http://smith-sanchez.com/,"{'name': 'Coleman, Hamilton and Andrews', 'cat...",47
26,27,Thomas Powers,moorematthew,smithheather@example.org,"{'street': 'Michael Fords', 'suite': 'Room 303...",(993)585-2787x16722,https://www.hall.com/,"{'name': 'Clark Ltd', 'catchPhrase': 'Object-b...",28
27,28,Kenneth Franklin,marshalexander,elizabeth80@example.org,"{'street': 'Davis Rapids', 'suite': 'Suite 202...",001-723-292-0824x427,https://skinner.com/,"{'name': 'Meza-Baker', 'catchPhrase': 'Cloned ...",43
28,29,Craig Montgomery,bushaaron,christopher02@example.org,"{'street': 'Guerrero Park', 'suite': 'Apt. 101...",677.817.8815x895,https://www.kramer.com/,"{'name': 'Allison Inc', 'catchPhrase': 'Team-o...",24
29,30,Daniel Mills,johnbecker,chambersdaniel@example.com,"{'street': 'Brendan Ports', 'suite': 'Suite 20...",630.630.7877,http://franco.com/,"{'name': 'Garrett-Baker', 'catchPhrase': 'Real...",10
30,31,Michelle Wright,allisonstokes,paul85@example.com,"{'street': 'Alyssa Centers', 'suite': 'Apt. 10...",492.984.1342x8830,https://www.patterson-smith.com/,"{'name': 'Ross and Sons', 'catchPhrase': 'Mult...",27
31,32,James Long,anthonydaugherty,powellanthony@example.org,"{'street': 'Joseph Expressway', 'suite': 'Apt....",532-695-9610x4947,https://www.powell.com/,"{'name': 'Sanchez, Munoz and Wong', 'catchPhra...",49
32,33,Michael Pierce,jenniferortega,uhunter@example.org,"{'street': 'Gomez Heights', 'suite': 'Room 303...",(683)800-4515x17249,https://cox.com/,"{'name': 'Johnson, Smith and Harris', 'catchPh...",8
33,34,Lisa Baldwin,grosszachary,michaelnichols@example.com,"{'street': 'Laurie Centers', 'suite': 'Suite 2...",546-482-8804,http://www.joyce.net/,"{'name': 'Johnson Ltd', 'catchPhrase': 'Networ...",9
34,35,Leah Parrish,vwilliams,jennifer31@example.net,"{'street': 'Sergio Mountain', 'suite': 'Apt. 1...",462.538.9573x56188,http://www.ayala-sanchez.com/,"{'name': 'Jimenez, Merritt and Santana', 'catc...",17
35,36,Alison Lee,lisaowens,jose72@example.com,"{'street': 'Sandra Tunnel', 'suite': 'Room 303...",533-385-5479,http://wall.biz/,"{'name': 'Gregory-Ramos', 'catchPhrase': 'Stan...",26
36,37,Mary Acosta,copelandjulie,oconnellgeorge@example.com,"{'street': 'Romero Green', 'suite': 'Apt. 101'...",(226)349-8534x7796,http://davila-kennedy.com/,"{'name': 'Gilbert, Carroll and Coleman', 'catc...",33
37,38,Daniel Mcdowell,bonnieharper,thomasmiller@example.org,"{'street': 'Knight Well', 'suite': 'Room 303',...",(955)874-6483,https://www.maynard-noble.com/,"{'name': 'Arnold-Conway', 'catchPhrase': 'Ente...",5
38,39,Brian Mccarty,jacob95,gwhite@example.org,"{'street': 'Dominique Stream', 'suite': 'Room ...",585-319-3156x766,http://freeman.biz/,"{'name': 'Terry-Adkins', 'catchPhrase': 'Polar...",11
39,40,Jeffrey Rice,jonathanwright,conradanthony@example.com,"{'street': 'Thomas Mountain', 'suite': 'Apt. 1...",863-403-1688,https://www.bailey-garcia.com/,"{'name': 'Rivas-Kramer', 'catchPhrase': 'Grass...",18
40,41,Sarah Strong,daviskathryn,jeffreyedwards@example.org,"{'street': 'Sanchez Ridges', 'suite': 'Suite 2...",(382)790-3051x03985,http://www.johnson.com/,"{'name': 'Whitaker-Hickman', 'catchPhrase': 'G...",36
41,42,Glenn Bishop,jamesjennings,davisdaniel@example.net,"{'street': 'Mills Trace', 'suite': 'Suite 202'...",6907037797,http://martin.com/,"{'name': 'Sheppard-Rivera', 'catchPhrase': 'To...",48
42,43,Thomas Waters,brittany87,amandahaynes@example.net,"{'street': 'Franklin Underpass', 'suite': 'Sui...",412.882.7295x476,https://morrow-stewart.com/,"{'name': 'Fisher, Black and Lopez', 'catchPhra...",19
43,44,Aaron Williams,autumn50,clarkandrew@example.net,"{'street': 'John Track', 'suite': 'Suite 202',...",001-885-422-5392,https://cooper.com/,"{'name': 'Jones-Conner', 'catchPhrase': 'Enter...",22
44,45,John Hogan,miguel88,brianweber@example.org,"{'street': 'Michael Center', 'suite': 'Room 30...",(450)971-5790,http://www.wilson-carlson.com/,"{'name': 'Randall-Valencia', 'catchPhrase': 'R...",37
45,46,Scott Rice,whitneyjames,bedwards@example.com,"{'street': 'Dean Falls', 'suite': 'Suite 202',...",475.640.7620,http://www.norris.com/,"{'name': 'Thompson, Foster and Rice', 'catchPh...",14
46,47,Robert Clark,jonesmatthew,linda09@example.net,"{'street': 'Joseph Drive', 'suite': 'Apt. 101'...",(402)281-1645,https://www.bush-smith.net/,"{'name': 'Weber-Mccormick', 'catchPhrase': 'In...",20
47,48,Sheri Horn,robert51,daniellefuller@example.com,"{'street': 'Bird Mission', 'suite': 'Apt. 101'...",541-529-2211x1618,http://mcdonald.com/,"{'name': 'Crawford-Peterson', 'catchPhrase': '...",1
48,49,Jennifer Flores,sdominguez,nancy77@example.org,"{'street': 'Sean Inlet', 'suite': 'Apt. 101', ...",001-606-296-2566x83021,http://castro-howard.biz/,"{'name': 'Mitchell, Butler and Hill', 'catchPh...",40
49,50,William White MD,katherine09,nicoleharmon@example.com,"{'street': 'Erin Trace', 'suite': 'Suite 202',...",(741)685-0114,http://fitzgerald.biz/,"{'name': 'Rice LLC', 'catchPhrase': 'Configura...",21

In [224]:
def create_id(df, column_id, quantity=None):
    '''
    creation of random companies id in dataframe
    '''
    if quantity:
        df[column_id] = [fake.random_int(min=1, max=quantity_users) for i in range(len(df))]
    else:
        df[column_id] = np.random.permutation(np.arange(1, len(df) + 1))
        
        
        
def create_booking_id(booking_df):
    
    '''
    Function to add to the df of reservations, the codes of bookings of 
    each record.
    
    inputs:
    booking_df = df of reserves
    '''
    #faker object
    fake = Faker()
    
    #empty df
    df = pd.DataFrame()
    
    #empty booking set
    booking_codes = set()
    
    while len(booking_codes) < len(booking_df):
        booking_code = fake.vin()
        booking_codes.add(booking_code)
    
    #create booking_code column
    df['BOOKING_CODE'] = list(booking_codes)
    
    #union of two df
    booking_with_codes_df = pd.concat([df,booking_df], axis=1)

    return booking_with_codes_df

In [225]:
users_test = create_booking_id(users_test)

In [226]:
create_id(users_test, 'test2_id', 20)

In [227]:
users_test

,BOOKING_CODE,id,name,username,email,address,phone,website,company,company_id,test2_id
0,41DUBNM48VSCNEGTN,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...",6,17
1,0KYFCF6T2XU1M8Z5C,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",2,14
2,JHYSAP889W8EAPXDY,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ...",25,18
3,RABKL9SU6VGST7BAT,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",29,8
4,WCRR8BTT4MV6B414X,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",44,7
5,UZLZ7H0S3JDYY6G2K,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '...",30,6
6,ENMEHSEF9UHKMH647,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config...",41,5
7,LXK7S18X4FYDM9ZNY,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im...",39,5
8,7MKF9EX554VSLSS5U,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit...",42,8
9,BFYUDFNGXWUXM2567,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central...",13,12
10,0G7JW92J4DL23GNFD,11,Joseph Lynn,dawnhester,katiesmith@example.net,"{'street': 'Christopher Run', 'suite': 'Suite ...",2699388234,http://www.patel-rodriguez.org/,"{'name': 'Parks, Jordan and Joyce', 'catchPhra...",7,18
11,TZHM6LW20P3WVR9PG,12,Thomas Morales,davidyates,ochoashawn@example.org,"{'street': 'Peter Crossing', 'suite': 'Room 30...",+1-487-908-2744x9631,https://www.johnson-gonzalez.info/,"{'name': 'Nelson-Harris', 'catchPhrase': 'Proa...",12,8
12,HGB164TW0WKXZY776,13,Kevin Ross,ihoward,gonzalezlatasha@example.org,"{'street': 'Marsh Union', 'suite': 'Room 303',...",(633)678-7900,https://www.francis.com/,"{'name': 'Carey PLC', 'catchPhrase': 'Organize...",35,17
13,2BM2KD6CXKUEMNEEW,14,Rick Hamilton,lesliegibson,nhoward@example.net,"{'street': 'Wilson Keys', 'suite': 'Apt. 101',...",416-337-3376x0443,http://www.scott.info/,"{'name': 'Schaefer-Ewing', 'catchPhrase': 'Int...",16,17
14,T50UWWZK1FBY16X8J,15,Katherine Estrada,ryanellis,kevindavis@example.com,"{'street': 'Jones Tunnel', 'suite': 'Apt. 101'...",001-511-347-2039x646,https://lee.com/,"{'name': 'Thompson-Howe', 'catchPhrase': 'Inve...",50,14
15,YSNNMM4L994WTFB82,16,Donna Taylor,leonardsmith,ismith@example.com,"{'street': 'Wesley Parks', 'suite': 'Suite 202...",616-951-4342x683,https://palmer-massey.com/,"{'name': 'Hodges Group', 'catchPhrase': 'Ameli...",32,1
16,SYV484X38CEET5ZJN,17,Yvonne Powell,nicolebutler,carl33@example.com,"{'street': 'Stephens Club', 'suite': 'Suite 20...",242-286-2622,https://russell.info/,"{'name': 'Cooke, Harris and Mcdowell', 'catchP...",23,14
17,UK6FXEWF6YMA1WDBC,18,Robert Johnson,smithamber,timothy82@example.org,"{'street': 'Gary Views', 'suite': 'Apt. 101', ...",001-820-592-8983x347,https://warren.com/,"{'name': 'Fisher, Snyder and Frank', 'catchPhr...",34,2
18,SE4LF8Y34AJ8MSL6A,19,Renee Clark,kaneronald,tony14@example.net,"{'street': 'Farmer Hill', 'suite': 'Suite 202'...",565.256.7410,http://chambers-steele.com/,"{'name': 'Eaton, Lindsey and Bruce', 'catchPhr...",3,15
19,JDKBGG3P97PRH6HD3,20,Meghan Cooper,lisa29,gsellers@example.org,"{'street': 'Laura Springs', 'suite': 'Apt. 101...",001-411-726-0988x19998,https://www.case.biz/,"{'name': 'Perez, Mcintyre and Gilbert', 'catch...",46,3
20,C1TSUUWG3DZRKBMY4,21,Anne Smith,denise93,christopher31@example.org,"{'street': 'Zachary Freeway', 'suite': 'Suite ...",(363)882-7404x7690,http://stephens-taylor.info/,"{'name': 'Gibson-Gill', 'catchPhrase': 'Devolv...",45,1
21,TVMRJ9V27ML62L90H,22,Maurice Schmidt,mcclainjohn,sroman@example.com,"{'street': 'Vaughan Unions', 'suite': 'Room 30...",+1-421-473-0381x8260,http://www.combs-beard.biz/,"{'name': 'Perez LLC', 'catchPhrase': 'Customer...",31,19
22,4TRDZCH7X35SVT67N,23,Daniel Lee,austin15,diane75@example.com,"{'street': 'Sullivan Fields', 'suite': 'Room 3...",324.394.7494x8725,http://www.taylor.com/,"{'name': 'Leonard PLC', 'catchPhrase': 'Centra...",38,2
23,9DTVCAYC5E2VZV7MB,24,Casey Carson,cli,francomary@example.com,"{'street': 'Reed Crossing', 'suite': 'Apt. 101...",2232975318,https://maynard.net/,"{'name': 'Coleman Ltd', 'catchPhrase': 'Profou...",15,10
24,YVZE94C16CLKW1HWB,25,Linda Cox,travis56,rwalker@example.net,"{'street': 'Beasley Pine', 'suite': 'Room 303'...",(708)429-9261,http://hall.com/,"{'name': 'Roberts Group', 'catchPhrase': 'Pola...",4,19
25,0AR72HE89EZJENYA3,26,John Logan,qreed,susan68@example.net,"{'street': 'Daniel Meadows', 'suite': 'Apt. 10...",7063727330,http://smith-sanchez.com/,"{'name': 'Coleman, Hamilton and Andrews', 'cat...",47,19
26,UM8DL4N65W204K26Y,27,Thomas Powers,moorematthew,smithheather@example.org,"{'street': 'Michael Fords', 'suite': 'Room 303...",(993)585-2787x16722,https://www.hall.com/,"{'name': 'Clark Ltd', 'catchPhrase': 'Object-b...",28,7
27,CYGS6VCJ6R8T4A6W0,28,Kenneth Franklin,marshalexander,elizabeth80@example.org,"{'street': 'Davis Rapids', 'suite': 'Suite 202...",001-723-292-0824x427,https://skinner.com/,"{'name': 'Meza-Baker', 'catchPhrase': 'Cloned ...",43,5
28,1YXJRWDK3D9GG8GNF,29,Craig Montgomery,bushaaron,christopher02@example.org,"{'street': 'Guerrero Park', 'suite': 'Apt. 101...",677.817.8815x895,https://www.kramer.com/,"{'name': 'Allison Inc', 'catchPhrase': 'Team-o...",24,9
29,TD2TY4L34YLTM01UZ,30,Daniel Mills,johnbecker,chambersdaniel@example.com,"{'street': 'Brendan Ports', 'suite': 'Suite 20...",630.630.7877,http://franco.com/,"{'name': 'Garrett-Baker', 'catchPhrase': 'Real...",10,11
30,EM3KA3RN19HB4F7K3,31,Michelle Wright,allisonstokes,paul85@example.com,"{'street': 'Alyssa Centers', 'suite': 'Apt. 10...",492.984.1342x8830,https://www.patterson-smith.com/,"{'name': 'Ross and Sons', 'catchPhrase': 'Mult...",27,9
31,7E3D54SX8K1EPW4SG,32,James Long,anthonydaugherty,powellanthony@example.org,"{'street': 'Joseph Expressway', 'suite': 'Apt....",532-695-9610x4947,https://www.powell.com/,"{'name': 'Sanchez, Munoz and Wong', 'catchPhra...",49,4
32,37UT11LXXFHVD8NYY,33,Michael Pierce,jenniferortega,uhunter@example.org,"{'street': 'Gomez Heights', 'suite': 'Room 303...",(683)800-4515x17249,https://cox.com/,"{'name': 'Johnson, Smith and Harris', 'catchPh...",8,1
33,C2G1YGG798B47YSKB,34,Lisa Baldwin,grosszachary,michaelnichols@example.com,"{'street': 'Laurie Centers', 'suite': 'Suite 2...",546-482-8804,http://www.joyce.net/,"{'name': 'Johnson Ltd', 'catchPhrase': 'Networ...",9,15
34,94R5TWGA3SEH9BEC7,35,Leah Parrish,vwilliams,jennifer31@example.net,"{'street': 'Sergio Mountain', 'suite': 'Apt. 1...",462.538.9573x56188,http://www.ayala-sanchez.com/,"{'name': 'Jimenez, Merritt and Santana', 'catc...",17,16
35,0MG89ETB7EXMB1NVA,36,Alison Lee,lisaowens,jose72@example.com,"{'street': 'Sandra Tunnel', 'suite': 'Room 303...",533-385-5479,http://wall.biz/,"{'name': 'Gregory-Ramos', 'catchPhrase': 'Stan...",26,7
36,VAZJB2EB5T3ZH5PMA,37,Mary Acosta,copelandjulie,oconnellgeorge@example.com,"{'street': 'Romero Green', 'suite': 'Apt. 101'...",(226)349-8534x7796,http://davila-kennedy.com/,"{'name': 'Gilbert, Carroll and Coleman', 'catc...",33,8
37,DNMJUZUW6CMSG47FX,38,Daniel Mcdowell,bonnieharper,thomasmiller@example.org,"{'street': 'Knight Well', 'suite': 'Room 303',...",(955)874-6483,https://www.maynard-noble.com/,"{'name': 'Arnold-Conway', 'catchPhrase': 'Ente...",5,4
38,HMP1TLMK8JPZTAS7P,39,Brian Mccarty,jacob95,gwhite@example.org,"{'street': 'Dominique Stream', 'suite': 'Room ...",585-319-3156x766,http://freeman.biz/,"{'name': 'Terry-Adkins', 'catchPhrase': 'Polar...",11,5
39,TGC6VJ7N7EXE94BYD,40,Jeffrey Rice,jonathanwright,conradanthony@example.com,"{'street': 'Thomas Mountain', 'suite': 'Apt. 1...",863-403-1688,https://www.bailey-garcia.com/,"{'name': 'Rivas-Kramer', 'catchPhrase': 'Grass...",18,19
40,GHFN993K7JH9DAZD8,41,Sarah Strong,daviskathryn,jeffreyedwards@example.org,"{'street': 'Sanchez Ridges', 'suite': 'Suite 2...",(382)790-3051x03985,http://www.johnson.com/,"{'name': 'Whitaker-Hickman', 'catchPhrase': 'G...",36,7
41,5S8MT85V18JF815A7,42,Glenn Bishop,jamesjennings,davisdaniel@example.net,"{'street': 'Mills Trace', 'suite': 'Suite 202'...",6907037797,http://martin.com/,"{'name': 'Sheppard-Rivera', 'catchPhrase': 'To...",48,8
42,08FZGVAL8F5ZV6XDW,43,Thomas Waters,brittany87,amandahaynes@example.net,"{'street': 'Franklin Underpass', 'suite': 'Sui...",412.882.7295x476,https://morrow-stewart.com/,"{'name': 'Fisher, Black and Lopez', 'catchPhra...",19,1
43,JFLB0BTPXULN7A5V7,44,Aaron Williams,autumn50,clarkandrew@example.net,"{'street': 'John Track', 'suite': 'Suite 202',...",001-885-422-5392,https://cooper.com/,"{'name': 'Jones-Conner', 'catchPhrase': 'Enter...",22,6
44,ERLUB47A3XCM24MUC,45,John Hogan,miguel88,brianweber@example.org,"{'street': 'Michael Center', 'suite': 'Room 30...",(450)971-5790,http://www.wilson-carlson.com/,"{'name': 'Randall-Valencia', 'catchPhrase': 'R...",37,6
45,CEBNM2T267XU0K242,46,Scott Rice,whitneyjames,bedwards@example.com,"{'street': 'Dean Falls', 'suite': 'Suite 202',...",475.640.7620,http://www.norris.com/,"{'name': 'Thompson, Foster and Rice', 'catchPh...",14,6
46,NG1ZBHX89WWJDBWTZ,47,Robert Clark,jonesmatthew,linda09@example.net,"{'street': 'Joseph Drive', 'suite': 'Apt. 101'...",(402)281-1645,https://www.bush-smith.net/,"{'name': 'Weber-Mccormick', 'catchPhrase': 'In...",20,5
47,8CX6Y01U6B478JCYH,48,Sheri Horn,robert51,daniellefuller@example.com,"{'street': 'Bird Mission', 'suite': 'Apt. 101'...",541-529-2211x1618,http://mcdonald.com/,"{'name': 'Crawford-Peterson', 'catchPhrase': '...",1,8
48,VRX18L085E69NR2ST,49,Jennifer Flores,sdominguez,nancy77@example.org,"{'street': 'Sean Inlet', 'suite': 'Apt. 101', ...",001-606-296-2566x83021,http://castro-howard.biz/,"{'name': 'Mitchell, Butler and Hill', 'catchPh...",40,5
49,UD4DPFZ371G9GF46S,50,William White MD,katherine09,nicoleharmon@example.com,"{'street': 'Erin Trace', 'suite': 'Suite 202',...",(741)685-0114,http://fitzgerald.biz/,"{'name': 'Rice LLC', 'catchPhrase': 'Configura...",21,9

In [228]:
def only_some_records(percentage, df, column_id, column_to_modify):
    
    #number of rows to modify
    num_rows_to_modify = int(percentage * len(df))
    print("estas son la cantidad de filas a modificar")
    print(num_rows_to_modify)
    #obtain the highest ids to be modified
    id_to_modify = df.nlargest(num_rows_to_modify, column_id)[column_id]
    print("estos son los id a modificar")
    print(type(id_to_modify))
    print(id_to_modify)
    df.loc[df[column_id].isin(id_to_modify), [column_id, column_to_modify]] = [np.nan, np.nan]
    print(df[column_id].isin(id_to_modify))
    print([column_id, column_to_modify])

In [230]:
only_some_records(0.4, users_test, 'test2_id', 'company')

estas son la cantidad de filas a modificar
20
estos son los id a modificar
<class 'pandas.core.series.Series'>
21    19
24    19
25    19
39    19
2     18
10    18
0     17
12    17
13    17
34    16
18    15
33    15
1     14
14    14
16    14
9     12
29    11
23    10
28     9
30     9
Name: test2_id, dtype: int64
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: test2_id, dtype: bool
['test2_id', 'company']

In [207]:
users_test

,BOOKING_CODE,id,name,username,email,address,phone,website,company,company_id,test_id,test2_id
0,2V05UM5B0LJGP97UR,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,NaN,14,NaN,9
1,00J4N2MU7GN7ARA0U,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",49,19.0,14
2,T03AZACE1D0K8R5WU,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ...",25,3.0,12
3,Z7J78NBL50XCBSYGL,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",12,30.0,15
4,DE40KK5N6E9MCUY76,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,NaN,21,NaN,17
5,RPRN43M80FCTMLJAK,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,NaN,10,NaN,6
6,JSCDNWGY7BLXWV7HZ,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config...",45,21.0,9
7,4RC9UL991F0VKY0D4,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im...",48,11.0,5
8,GPBY17NH9G79M7MLE,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit...",42,14.0,13
9,JJ0GHB8R0N9TG2Y3K,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central...",37,26.0,9
10,8T8EP0HB37SBKTVCT,11,Mr. Mark Garcia Jr.,travis83,jenniferallen@example.net,"{'street': 'Nicholas Meadow', 'suite': 'Suite ...",955.263.1912,http://www.boyer.org/,NaN,11,NaN,7
11,ZHAXZBPY6A8JN81NH,12,Gregory Malone,xhoffman,crichmond@example.com,"{'street': 'Lewis Streets', 'suite': 'Room 303...",418.614.1985,http://harvey-estrada.com/,NaN,32,NaN,1
12,95VWYNG84JVN1SARY,13,Luis Vaughn,mathisanthony,ybarr@example.com,"{'street': 'Parks Cove', 'suite': 'Room 303', ...",001-251-522-0896x51987,https://ortega.com/,NaN,19,NaN,11
13,UDSCR73M98T3BMG1J,14,Michele Wilson,ashley81,mbarron@example.org,"{'street': 'Serrano Fords', 'suite': 'Apt. 101...",+1-330-276-2984,http://lopez.com/,"{'name': 'Graham, Martinez and Murphy', 'catch...",20,17.0,17
14,KH27RDH095EG5MBL5,15,Colleen Richmond,prose,melinda72@example.com,"{'street': 'Johnson Mall', 'suite': 'Room 303'...",885.843.9187,http://hart.org/,NaN,40,NaN,9
15,AR2C2AFDXA5V0Z4KL,16,Andrew Long,nathaniel26,kaylacobb@example.org,"{'street': 'Harmon Trail', 'suite': 'Suite 202...",(652)727-1341x48734,http://www.smith-cordova.com/,"{'name': 'Wang, Foster and Roth', 'catchPhrase...",13,27.0,3
16,PYE1L5GS0VKP5R23U,17,Heather Barron,susan42,robert40@example.org,"{'street': 'Jeffrey Valley', 'suite': 'Suite 2...",(918)355-2351x1961,https://james.com/,NaN,33,NaN,14
17,D09CUENN8N85LURTZ,18,Jeff Barrett,james85,hevans@example.com,"{'street': 'Holmes Lodge', 'suite': 'Room 303'...",001-502-750-0394,https://johnson.info/,NaN,28,NaN,6
18,S0JR45D1XD422YZP0,19,Victoria Vargas,james74,maryaguilar@example.net,"{'street': 'Stanley Lake', 'suite': 'Suite 202...",001-851-838-4590x719,http://www.gomez-warren.com/,"{'name': 'Smith-Carr', 'catchPhrase': 'Monitor...",41,25.0,5
19,T6RSBJSD3ZGKDLHWZ,20,Clifford Lewis,bprice,marygardner@example.com,"{'street': 'Christine Rapids', 'suite': 'Suite...",+1-306-707-4524x561,https://foster-edwards.net/,"{'name': 'Smith, Harrison and Trujillo', 'catc...",47,12.0,2
20,MMZZCNUC323JSLYYE,21,Patricia Ramirez,briannajohnson,jeffreyrichardson@example.com,"{'street': 'Kerr Well', 'suite': 'Room 303', '...",(957)431-5234x6622,https://shepard.net/,"{'name': 'Hunt-Olson', 'catchPhrase': 'Fundame...",5,22.0,14
21,SUH9W41A64ZXLGUGX,22,Natasha Shaffer,ularsen,rshaw@example.org,"{'street': 'Bennett Parks', 'suite': 'Suite 20...",+1-630-503-3561x576,https://www.drake-obrien.com/,NaN,50,NaN,3
22,ANCAUB0W6LWCMEPJF,23,Kyle Barnes,kim62,wbenson@example.com,"{'street': 'Brown Burgs', 'suite': 'Apt. 101',...",8752526404,http://www.lopez.net/,NaN,29,NaN,15
23,2DM7CL4S1UDG171DH,24,Shannon Hayes,kenneth40,estesrhonda@example.org,"{'street': 'Price Crescent', 'suite': 'Room 30...",577-284-7686,http://www.fernandez.com/,NaN,23,NaN,10
24,0JNKTCXR4UMV4M0CC,25,Matthew Calderon,dritter,laura96@example.com,"{'street': 'Turner Key', 'suite': 'Suite 202',...",2684442688,https://www.thompson-bailey.biz/,NaN,15,NaN,9
25,YGM2197N8ZFGGXYRJ,26,William Mcdonald,austin83,nstevens@example.net,"{'street': 'Julie Keys', 'suite': 'Apt. 101', ...",+1-488-674-9502,https://www.gregory.com/,"{'name': 'Cross LLC', 'catchPhrase': 'Multi-la...",26,10.0,11
26,R15VACN81LCRLBHL5,27,Anthony King,brian67,kristenmartinez@example.com,"{'street': 'Mark Bypass', 'suite': 'Suite 202'...",(803)557-3910x852,http://www.williamson-fowler.com/,"{'name': 'Robles-Nichols', 'catchPhrase': 'Org...",38,18.0,14
27,8UW1WCVG6DME16NFW,28,Alexander Guerra,ronaldwilson,alexandra61@example.com,"{'street': 'Johnathan Light', 'suite': 'Suite ...",(974)368-8691,https://www.jacobs.info/,"{'name': 'Ruiz PLC', 'catchPhrase': 'Ergonomic...",30,9.0,5
28,4GX5HZLA7Y0FEZBLR,29,Teresa Thompson,jameskoch,gmills@example.org,"{'street': 'Erik Drives', 'suite': 'Room 303',...",+1-657-283-0785x15301,http://www.martinez.com/,"{'name': 'Warren-Johnson', 'catchPhrase': 'Dec...",2,2.0,6
29,X6PSJ0ZS3W8FCGRW3,30,Mary Hall,christian88,alexis16@example.com,"{'street': 'Jones Drive', 'suite': 'Room 303',...",663-966-9129,https://decker-brown.com/,"{'name': 'Brown, Parsons and Cox', 'catchPhras...",22,29.0,3
30,CCN66L6C39UCTU51J,31,Andrew Foster,mcgrathlindsay,teresapeters@example.net,"{'street': 'Wade Flats', 'suite': 'Room 303', ...",001-488-797-7438,https://howe-mccoy.org/,"{'name': 'Lee-Abbott', 'catchPhrase': 'Self-en...",16,5.0,20
31,LXLCZCCW8TV1ATRK3,32,Carla Jones,susananderson,mendozatimothy@example.com,"{'street': 'Crystal Fort', 'suite': 'Room 303'...",948-316-9811,http://www.rogers.com/,"{'name': 'Knapp, Zimmerman and Phillips', 'cat...",4,15.0,16
32,CHCHDVUR3CSA99WCY,33,Keith Young,ygates,joshuadavis@example.net,"{'street': 'Smith Crest', 'suite': 'Room 303',...",475.437.5087x100,https://brown.org/,NaN,17,NaN,9
33,2UW0WM3K71RAZVHZA,34,Bradley Fisher,scastro,vtaylor@example.org,"{'street': 'Singleton Garden', 'suite': 'Suite...",337.784.1295,https://www.taylor.com/,"{'name': 'Johnson, Frederick and Hancock', 'ca...",34,23.0,15
34,5RWVZPXH3LH0UWPNT,35,Phyllis Washington,anagolden,smithmary@example.com,"{'street': 'James Square', 'suite': 'Apt. 101'...",777-697-0844,http://miller.net/,NaN,44,NaN,7
35,XBAF5VBH2T0JJ5F88,36,Emily Perez,shawn30,xross@example.com,"{'street': 'Hart Bridge', 'suite': 'Suite 202'...",663.449.4149x15634,http://baker.com/,NaN,1,NaN,17
36,AZR2YVR6354Z1X6TA,37,Alicia Lane,michael03,martinchristian@example.org,"{'street': 'James Locks', 'suite': 'Apt. 101',...",8609606109,https://barnes.com/,"{'name': 'Stewart-Daniels', 'catchPhrase': 'To...",27,1.0,5
37,TMMEKTX0XAX7U3K4A,38,James Castaneda MD,christian28,uowens@example.net,"{'street': 'Carrie Forks', 'suite': 'Apt. 101'...",+1-640-943-8604,http://mccarty.net/,"{'name': 'Cain PLC', 'catchPhrase': 'Optional ...",24,13.0,2
38,ZNBNGEPT12LZP30TT,39,David Richardson,fitzgeraldlauren,allisonbooker@example.com,"{'street': 'Kendra Brook', 'suite': 'Suite 202...",001-966-410-4121,https://www.wilson.org/,NaN,39,NaN,12
39,9T6PG0RM2LXHAVHGJ,40,Hector Smith,irowland,kyang@example.com,"{'street': 'Austin Fords', 'suite': 'Room 303'...",001-500-903-4100x7164,http://www.williams.com/,"{'name': 'Phelps, Jordan and Carey', 'catchPhr...",8,7.0,7
40,0URPBXTZ8PRXL64PG,41,Douglas Olson,jenniferbaker,zrosario@example.com,"{'street': 'Hernandez Ways', 'suite': 'Apt. 10...",+1-921-298-3660x407,http://www.sutton-barnes.org/,"{'name': 'Whitaker, Merritt and Ray', 'catchPh...",36,4.0,1
41,P4Z9DFLAX37JUH1JW,42,Wesley James,jacqueline10,drasmussen@example.org,"{'street': 'Tracy Estate', 'suite': 'Room 303'...",643.942.9416x205,http://www.webster.com/,NaN,43,NaN,15
42,9FZYGL1X8R3USZZT3,43,Erika Berg,jennifer74,alfredhernandez@example.net,"{'street': 'Collins Shores', 'suite': 'Apt. 10...",367.829.8150x41432,http://www.graham.com/,"{'name': 'Waller, Walker and Roberts', 'catchP...",3,6.0,6
43,VUAMX45Y350WHH0S8,44,William Burton,jamesalvarez,hernandezbrittany@example.com,"{'street': 'Webb Mills', 'suite': 'Room 303', ...",+1-205-377-7694,http://www.jones-graham.com/,NaN,6,NaN,8
44,GG50D2HG2PDUX1D1E,45,Shelby Holt,dcook,dmeyer@example.net,"{'street': 'Jerry Crest', 'suite': 'Room 303',...",001-334-587-8128,https://www.mendez-smith.com/,"{'name': 'Ingram-Austin', 'catchPhrase': 'Mult...",46,20.0,16
45,55YA8BP33CLZL7CBK,46,Michael Mendoza,sarah14,ethan79@example.org,"{'street': 'Thomas Mountains', 'suite': 'Room ...",230.422.3708x8144,http://scott.net/,NaN,7,NaN,19
46,EJJLUEKD0PXJ98FHZ,47,Taylor Herrera,linda18,tosborne@example.org,"{'street': 'Daniel Camp', 'suite': 'Room 303',...",429.239.7029x5801,https://www.williams.com/,"{'name': 'Vazquez Group', 'catchPhrase': 'Gras...",35,8.0,3
47,G86LN7C23PNFPMZSU,48,Bruce Doyle,icollins,hovincent@example.net,"{'street': 'Henry Village', 'suite': 'Room 303...",+1-731-474-6675x8779,http://www.bennett.org/,"{'name': 'Murphy, Reese and Costa', 'catchPhra...",18,28.0,8
48,BXCM4XB86RCBVAWRL,49,Ronald Oliver,dtaylor,driley@example.org,"{'street': 'Robinson Circle', 'suite': 'Suite ...",688-681-5737x83633,https://potts.info/,"{'name': 'Webster, Pruitt and Patrick', 'catch...",9,16.0,8
49,5YZH3KBG2JMDFRGCL,50,Christy Chambers,garciajillian,andersonronald@example.net,"{'street': 'Chris Avenue', 'suite': 'Room 303'...",9265758404,https://www.kemp-davis.info/,"{'name': 'Mathis, Ali and Vega', 'catchPhrase'...",31,24.0,4

In [233]:
import pandas as pd
import pycountry

# Crear un DataFrame de ejemplo
data = {'codigo_pais': ['RUS', 'PRT', 'ARG', 'USA', 'FRA', 'ESP']}
df = pd.DataFrame(data)

# Función para obtener el nombre del país a partir del código de país
def get_country_name(code):
    try:
        country = pycountry.countries.get(alpha_3=code)
        return country.name
    except AttributeError:
        return None

# Aplicar la función para crear una nueva columna 'pais'
df['pais'] = df['codigo_pais'].apply(get_country_name)

# Imprimir el DataFrame resultante
print(df)

  codigo_pais                pais
0         RUS  Russian Federation
1         PRT            Portugal
2         ARG           Argentina
3         USA       United States
4         FRA              France
5         ESP               Spain

Collecting pycountry
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 33.9 MB/s eta 0:00:00m eta 0:00:01:01:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: setuptools in /Users/carlasanchezvalles/miniconda3/lib/python3.10/site-packages (from pycountry) (65.6.3)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (pyproject.toml) ... done
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681832 sha256=fef44ec0de9b735ae412b1b412ac6f3f8694ddb8c62f361975b9745b0e64164f
  Stored in directory: /Users/carlasanchezvalles/Library/Caches/pip/wheels/62/4a/9c/7a46699df9efb845aa116fae5e52d8690fc442fef6d32213f7
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-22.3.5

In [239]:
bookings= pd.read_csv('raw_bookings.csv', sep=';')
bookings

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,City Hotel,0,177,2016,December,30,2,5,0,0,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,City Hotel,0,107,2016,December,31,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [275]:
import pandas as pd
import pycountry


# Función para obtener el nombre del país a partir del código de país
import pycountry

def get_country_name(code):
    try:
        country = pycountry.countries.get(alpha_3=code)
        if country:
            return country.name
        else:
            country = pycountry.countries.get(alpha_2=code)
            return country.name
    except (LookupError, AttributeError):
        return np.nan

In [276]:
bookings['country'].apply(get_country_name)

0        Russian Federation
1        Russian Federation
2                  Portugal
3                 Argentina
4                  Portugal
                ...
56702                France
56703              Portugal
56704                France
56705               Germany
56706               Germany
Name: country, Length: 56707, dtype: object

In [277]:
# Aplicar la función para crear una nueva columna 'pais'
bookings['country_name']=bookings['country'].apply(get_country_name)

# Imprimir el DataFrame resultante
print(bookings)

              hotel  is_canceled  lead_time  arrival_date_year  \
0      Resort Hotel            0        109               2016
1      Resort Hotel            0        109               2016
2      Resort Hotel            1          2               2016
3      Resort Hotel            0         88               2016
4      Resort Hotel            1         20               2016
...             ...          ...        ...                ...
56702    City Hotel            0         17               2016
56703    City Hotel            0        177               2016
56704    City Hotel            0        107               2016
56705    City Hotel            0        310               2016
56706    City Hotel            0        310               2016

      arrival_date_month  arrival_date_day_of_month  stays_in_weekend_nights  \
0                January                          1                        0
1                January                          1                        0
2                January                          1                        0
3                January                          1                        0
4                January                          1                        0
...                  ...                        ...                      ...
56702           December                         30                        2
56703           December                         30                        2
56704           December                         31                        2
56705           December                         27                        2
56706           December                         27                        2

       stays_in_week_nights  adults  children  ... country is_repeated_guest  \
0                         1       2         0  ...     RUS                 0
1                         1       2         2  ...     RUS                 0
2                         1       2         0  ...     PRT                 0
3                         2       2         0  ...     ARG                 0
4                         2       2         2  ...     PRT                 0
...                     ...     ...       ...  ...     ...               ...
56702                     5       2         0  ...     FRA                 0
56703                     5       0         0  ...     PRT                 0
56704                     5       2         0  ...     FRA                 0
56705                    10       2         0  ...     DEU                 0
56706                    10       2         0  ...     DEU                 0

       previous_cancellations  previous_bookings_not_canceled  \
0                           0                               0
1                           0                               0
2                           0                               0
3                           0                               0
4                           0                               0
...                       ...                             ...
56702                       0                               0
56703                       0                               0
56704                       0                               0
56705                       0                               0
56706                       0                               0

       reserved_room_type assigned_room_type agent  reservation_status  \
0                       A                  D   2.0           Check-Out
1                       H                  H   2.0           Check-Out
2                       D                  D   2.0             No-Show
3                       A                  D   2.0           Check-Out
4                       G                  G   2.0            Canceled
...                   ...                ...   ...                 ...
56702                   A                  A   9.0           Check-Out
56703                   E                  K   NaN           Check-Out
56704                   A                  B   2.0           Check-Out
56705                   A                  A   9.0           Check-Out
56706                   A                  A   9.0           Check-Out

      reservation_status_date        country_name
0                  02/01/2016  Russian Federation
1                  02/01/2016  Russian Federation
2                  01/01/2016            Portugal
3                  03/01/2016           Argentina
4                  22/12/2015            Portugal
...                       ...                 ...
56702              06/01/2017              France
56703              06/01/2017            Portugal
56704              07/01/2017              France
56705              08/01/2017             Germany
56706              08/01/2017             Germany

[56707 rows x 21 columns]

In [278]:
bookings['country_name'].value_counts()

country_name
Portugal                   22321
United Kingdom              5585
France                      5165
Spain                       4024
Germany                     3865
                           ...
Burundi                        1
Isle of Man                    1
Syrian Arab Republic           1
Virgin Islands, British        1
Honduras                       1
Name: count, Length: 149, dtype: int64

In [279]:
bookings.to_csv('./bookings_con_pais.csv', index=False, sep=';')

In [281]:
pycountry.countries.search_fuzzy('Timor')

[Country(alpha_2='TL', alpha_3='TLS', flag='🇹🇱', name='Timor-Leste', numeric='626', official_name='Democratic Republic of Timor-Leste')]

In [283]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9], 'D': [10, 11, 12]}
df = pd.DataFrame(data)


# Especificar el nuevo orden de las columnas
nuevo_orden = ['A', 'B', 'D', 'C']

# Reordenar el DataFrame con el nuevo orden de las columnas
df = df[nuevo_orden]

# Imprimir el DataFrame resultante
print(df)

   A  B   D  C
0  1  4  10  7
1  2  5  11  8
2  3  6  12  9

In [284]:
country_codes = bookings['country'].unique()

In [285]:
country_codes

array(['RUS', 'PRT', 'ARG', 'FRA', 'GBR', 'DEU', 'BRA', 'IRL', 'USA',
       'KOR', 'ESP', 'DNK', 'CHN', 'NLD', 'HUN', nan, 'POL', 'CN', 'BEL',
       'LUX', 'AUT', 'CHE', 'ARE', 'ITA', 'FIN', 'TUN', 'NOR', 'ROU',
       'JAM', 'ALB', 'AUS', 'SWE', 'HRV', 'HKG', 'IND', 'ISR', 'CZE',
       'IRN', 'GEO', 'DZA', 'MAR', 'AND', 'TUR', 'MOZ', 'ZAF', 'GIB',
       'URY', 'BLR', 'EST', 'LTU', 'JEY', 'CAF', 'CYP', 'GRC', 'LVA',
       'COL', 'GGY', 'KWT', 'CUB', 'UKR', 'CMR', 'MYS', 'THA', 'NZL',
       'BIH', 'MUS', 'NGA', 'COM', 'OMN', 'SUR', 'MEX', 'CHL', 'UGA',
       'BGR', 'CIV', 'SRB', 'DOM', 'JOR', 'SYR', 'PHL', 'PRI', 'JPN',
       'SGP', 'ARM', 'BDI', 'AGO', 'SAU', 'LBN', 'VNM', 'AZE', 'SVN',
       'PLW', 'QAT', 'EGY', 'PER', 'SVK', 'CPV', 'MDV', 'MLT', 'MWI',
       'ECU', 'VEN', 'IRQ', 'SEN', 'IDN', 'TWN', 'HND', 'RWA', 'PAK',
       'ZMB', 'KHM', 'MCO', 'BGD', 'ISL', 'UZB', 'KAZ', 'IMN', 'TJK',
       'NIC', 'BEN', 'MAC', 'VGB', 'CRI', 'TZA', 'GAB', 'MKD', 'GHA',
       'TMP', 'GLP', 'KEN', 'BFA', 'LKA', 'LBY', 'PAN', 'GNB', 'MLI',
       'BHR', 'NAM', 'BOL', 'SYC', 'PRY', 'BRB', 'ABW', 'AIA', 'SLV',
       'DMA', 'PYF', 'LIE', 'GUY', 'LCA', 'ATA', 'MNE'], dtype=object)

In [286]:
bookings

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date,country_name
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,...,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016,Russian Federation
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,...,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016,Russian Federation
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,...,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016,Portugal
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,...,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016,Argentina
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,...,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015,Portugal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,...,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017,France
56703,City Hotel,0,177,2016,December,30,2,5,0,0,...,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017,Portugal
56704,City Hotel,0,107,2016,December,31,2,5,2,0,...,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017,France
56705,City Hotel,0,310,2016,December,27,2,10,2,0,...,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017,Germany
56706,City Hotel,0,310,2016,December,27,2,10,2,0,...,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017,Germany

In [327]:
def create_arrival_date(df):
    #month dictionary
    months_to_numbers = {
        'Enero': 1, 
        'Febrero': 2, 
        'Marzo': 3, 
        'Abril': 4, 
        'Mayo': 5, 
        'Junio': 6, 
        'Julio': 7, 
        'Agosto': 8, 
        'Septiembre': 9, 
        'Octubre': 10, 
        'Noviembre': 11, 
        'Diciembre': 12
    }

    #mapping month names to numbers
    df['arrival_date_month'] = df['arrival_date_month'].map(months_to_numbers)
    
    #combines the year, month and day columns into a new column 'date'
    df['arrival_date']=pd.to_datetime(df[['arrival_date_year','arrival_date_month','arrival_date_day_of_month']])
    return df

In [328]:
print(type(str(bookings['arrival_date_day_of_month'])))
print(type(bookings['arrival_date_month'][0]))
print(type(str(bookings['arrival_date_year'][0])))

<class 'str'>
<class 'numpy.float64'>
<class 'str'>

In [329]:
create_arrival_date(bookings)

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [ ]:
def get_departure_date():